Repository kubernetes/enhancements, pull requests merged in 2018-12, with the labels that each got.

#649 README: document keps and the stage label
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#640 KEP: Topology-aware service routing
  keps/NEXT_KEP_NUMBER
  keps/sig-network/0033-service-topology.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/L

#651 Update OWNERS
  OWNERS
  OWNERS_ALIASES
  keps/OWNERS
  keps/sig-instrumentation/OWNERS
  keps/sig-release/OWNERS
  keps/sig-scheduling/OWNERS
  keps/sig-testing/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, sig/pm, size/L

#652 update outdated link in cloud-provider kep
  keps/sig-cloud-provider/0002-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/XS

#644 Update AWS EBS CSI Driver KEP
  keps/sig-aws/20181127-aws-ebs-csi-driver.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/S

#654 keps/sig-instrumentation: Update status of 0031 to "implementable"
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/pm, size/XS

#655 Add additional metrics guideline violations to metrics overhaul
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/pm, size/XS
