Repository kubernetes/enhancements, pull requests merged in 2019-01, with the labels that each got.

#662 Add workqueue metrics changes to metrics overhaul
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/pm, size/S

#639 Coscheduilng.
  keps/sig-scheduling/34-20180703-coscheduling.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/pm, sig/scheduling, size/L

#675 [KEP] Adding StorageVersionHash to the discovery API
  keps/sig-api-machinery/35-storage-version-hash.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/L

#679 Add more metrics changes to metrics overhaul
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/pm, size/S

#677 Fixed broken links for 0003-cluster-api.md
  keps/sig-cluster-lifecycle/0003-cluster-api.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/XS

#680 update kep/sig-cli/0031-kustomize-integration
  keps/sig-cli/0031-kustomize-integration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cli, sig/pm, size/S

#656 [KEP] Adding ResourceID to the discovery API
  keps/sig-api-machinery/34-storage-hash.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/L

#676 Create KEP for Windows Node Support
  keps/sig-windows/0000-20190103-windows-node-support.md
  keps/sig-windows/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, sig/windows, size/L

#666 Propse KEP for Group Managed Service Accounts in Windows
  keps/sig-windows/0000-20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/pm, sig/windows, size/L

#663 Rename 0031-datadrivencommands.md to 0032-datadrivencommands.md
  keps/sig-cli/0032-datadrivencommands.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cli, sig/pm, size/XS

#699 Typo
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#702 Copy in .gitignore from kubernetes/kubernetes
  .gitignore
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/S

#694 Incorporate feedback from reviews of GMSA KEP
  keps/sig-windows/0000-20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, do-not-merge/hold, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/L

#708 Bump OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/S

#698 Update Kustomization integration KEP
  keps/sig-cli/0008-kustomize.md
  keps/sig-cli/0031-kustomize-integration.md
  keps/sig-cli/kep-faq.md
  keps/sig-cli/kustomize-file-processing-integration.md
  keps/sig-cli/kustomize-subcommand-integration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cli, sig/pm, size/XL

#685 Starting test plan section of Windows KEP
  keps/sig-windows/0000-20190103-windows-node-support.md
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/L

#697 RuntimeClass Beta criteria
  keps/sig-node/runtime-class.md
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, priority/important-soon, sig/architecture, sig/node, sig/pm, size/L

#715 Add stage graduation to the list of issues that require a KEP
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#722 Add feedback in KEP for GMSA support in Kubernetes
  keps/sig-windows/0000-20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, sig/windows, size/L

#731 Fix header formatting for GMSA KEP
  keps/sig-windows/0000-20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/M

#729 Updating Windows KEP for GA
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/M

#728 Delineate owners of KEP reviews and KEP process ownership
  OWNERS
  OWNERS_ALIASES
  keps/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/M

#700 Convert design proposal for Pod DNS Config to KEP
  keps/sig-network/20190118-pod-dns-config.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/L

#733 Remove KEP number from GMSA KEP file name
  keps/sig-windows/20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/XS

#712 phases-v1.14-update
  keps/sig-cluster-lifecycle/0029-20180918-kubeadm-phases-beta.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/S

#732 Adding API section to Windows KEP
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/L

#657 keps/sig-cloud-provider: clean up KEP-0002 and update KEP-0013
  keps/sig-cloud-provider/0013-build-deploy-ccm.md
  keps/sig-cloud-provider/2018-05-30-cloud-controller-manager.md
  keps/sig-cloud-provider/2019-01-25-removing-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/XL

#739 Clarify supported workload controllers
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/XS

#713 Certificates copy for kubeadm join --control-pane
  keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-plane.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/cluster-lifecycle, sig/pm, size/L

#725 Converting local pv design proposal into a kep
  keps/sig-storage/0034-20190124-local-persistent-volumes.md
Labels: approved, cncf-cla: no, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/XL

#735 Draft KEPs for out-of-tree cloud providers
  keps/sig-cloud-provider/20180530-cloud-controller-manager.md
  keps/sig-cloud-provider/20190125-out-of-tree-aws.md
  keps/sig-cloud-provider/20190125-out-of-tree-azure.md
  keps/sig-cloud-provider/20190125-out-of-tree-gce.md
  keps/sig-cloud-provider/20190125-out-of-tree-ibm.md
  keps/sig-cloud-provider/20190125-out-of-tree-openstack.md
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
  keps/sig-cloud-provider/20190125-removing-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/XL

#710 Update status of GMSA KEP to Implementable
  keps/sig-windows/20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/XS

#738 [sig-aws] Added AWS custom endpoint KEP
  keps/sig-aws/20190128-cloud-controller-custom-endpoints.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/aws, sig/cloud-provider, sig/pm, size/M

#742 KEP for CSI topology design.
  keps/sig-storage/20190124-csi-topology-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/M

#761 update graduation criteria for alb ingress controller beta
  keps/sig-aws/draft-20181127-aws-alb-ingress-controller.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/XS

#768 Add KEP for csi skip attach
  keps/sig-storage/20190129-csi-skip-attach.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/M

#771 Migration KEP
  keps/sig-storage/1234-20190129-csi-migration.md
  keps/sig-storage/csi-migration_dependencies.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/L

#716 Inline CSI volumes support KEP
  keps/sig-storage/0035-20190122-inline-csi-volumes-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, sig/windows, size/L

#775 remove kep number and fix links in local pv kep
  keps/sig-storage/20190124-local-persistent-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/XS

#743 setting Windows Node KEP to implementable
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/L

#741 Update EBS CSI driver KEP for Beta release
  keps/sig-aws/20181127-aws-ebs-csi-driver.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/pm, size/M

#767 Update KEP for out-of-tree vSphere cloud provider
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/M

#788 Updated OWNERS file to include link to docs
  OWNERS
  keps/OWNERS
  keps/sig-api-machinery/OWNERS
  keps/sig-apps/OWNERS
  keps/sig-auth/OWNERS
  keps/sig-autoscaling/OWNERS
  keps/sig-aws/OWNERS
  keps/sig-azure/OWNERS
  keps/sig-cli/OWNERS
  keps/sig-cloud-provider/OWNERS
  keps/sig-cluster-lifecycle/OWNERS
  keps/sig-contributor-experience/OWNERS
  keps/sig-instrumentation/OWNERS
  keps/sig-network/OWNERS
  keps/sig-node/OWNERS
  keps/sig-release/OWNERS
  keps/sig-scheduling/OWNERS
  keps/sig-storage/OWNERS
  keps/sig-testing/OWNERS
  keps/sig-windows/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/aws, sig/azure, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/instrumentation, sig/network, sig/node, sig/pm, sig/release, sig/scheduling, sig/storage, sig/testing, sig/windows, size/M

#791 KEP: Artifact management
  keps/sig-release/20190121-artifact-management.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/release, size/L

#787 set vSphere out-of-tree support KEP to implementable
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/XS

#792 Add a KEP for promoting Node OS/Arch labels to GA
  keps/sig-node/20190130-node-os-arch-labels.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/L

#754 Update kustomization integration to make it implementable.
  keps/sig-cli/kustomize-file-processing-integration.md
Labels: approved, cncf-cla: yes, do-not-merge/hold, kind/kep, lgtm, sig/architecture, sig/cli, sig/cloud-provider, sig/pm, sig/release, size/M
