Repository kubernetes/enhancements, pull requests merged in 2019-12, with the labels that each got.

#1363 Production readiness subproject
  keps/sig-architecture/20190731-production-readiness-review-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/S

#1369 KEP for ability to switch-off Secrets/ConfigMaps updates for running Pods
  keps/sig-storage/20191117-immutable-ephemeral-volumes.md
Labels: approved, cncf-cla: yes, kind/design, kind/feature, kind/kep, lgtm, sig/apps, sig/node, sig/scalability, sig/storage, size/L

#1390 correct cloud-controller-manager links in sig-cloud-provider
  keps/sig-cloud-provider/20190125-out-of-tree-aws.md
  keps/sig-cloud-provider/20190125-out-of-tree-gce.md
  keps/sig-cloud-provider/20190125-out-of-tree-ibm.md
  keps/sig-cloud-provider/20190125-out-of-tree-openstack.md
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
  keps/sig-cloud-provider/azure/20190125-out-of-tree-azure.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/kep, lgtm, ok-to-test, sig/cloud-provider, sig/docs, size/S, tide/merge-method-squash

#1402 Mark NodeLease KEP as implemented
  keps/sig-node/0009-node-heartbeat.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#1401 Mark WatchBookmarks KEP as implemented
  keps/sig-api-machinery/20190206-watch-bookmark.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1408 Update PRR KEP to link to current questionnaire
  keps/sig-architecture/20190731-production-readiness-review-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/M

#1399 Update dry-run KEP with kubectl plan
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/api-machinery, sig/cli, size/M

#1410 added links to enhancements tracking sheets for more recent milestone…
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, sig/release, size/XS

#704 Added service account external signer KEP
  keps/sig-auth/20190116-service-account-external-signing.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/L

#1354 KEP: kube-proxy detect "local" traffic w/o cluster CIDR
  keps/sig-network/20191104-iptables-no-cluster-cidr.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/L

#1397 Mark "Immutable Secrets/ConfigMaps" KEP implementable
  keps/sig-storage/20191117-immutable-secrets-configmaps.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/storage, size/M

#1414 modify the error url about cloud-provider
  keps/sig-cloud-provider/providers/0004-cloud-provider-template.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, ok-to-test, sig/cloud-provider, sig/docs, size/XS

#1386 modify the error url of flexvolume.md
  keps/sig-cloud-provider/20180530-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cloud-provider, size/XS

#1250 Update SCTP KEP with Graduation Criteria
  keps/sig-network/0015-20180614-SCTP-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L
