Repository kubernetes/enhancements, pull requests merged in 2019-08, with the labels that each got.

#959 Add KEP for Behavior-driven Conformance Testing
  keps/sig-architecture/20190412-conformance-behaviors.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/critical-urgent, sig/architecture, size/XL

#1191 Update Kubeadm Windows KEP for 1.16
  keps/sig-cluster-lifecycle/kubeadm/20190424-kubeadm-for-windows.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/S

#1180 add building without in tree providers
  keps/sig-cloud-provider/20190729-building-without-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1202 Add Graduation Criteria for cross resource group nodes
  keps/sig-cloud-provider/azure/20180809-cross-resource-group-nodes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/M

#1137 KEP for external credential provider
  keps/sig-auth/20190711-external-credential-providers.md
Labels: approved, area/code-organization, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/L

#1196 Clarify 20190228-priority-and-fairness.md
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1210 Update service LB finalizer KEP reflecting current status.
  keps/sig-network/20190423-service-lb-finalizer.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#1132 Service Topology: add graduation criteria
  keps/sig-network/20181024-service-topology.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#1139 Graduate IPv6 support to beta
  keps/sig-network/20190714-IPv6-beta-proposal.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#1098 Addressed config changes in priority-and-fairness
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1197 Make shuffleDealAndPick testable by making lengthOfQueue a parameter
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1178 feat: remove normalize score section in the scheduling framwork
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/scheduling, size/M

#1219 Changed matching "priority" to "precedence"
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1218 Extend the API priority and fairness KEP with observed request details
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L
