Repository kubernetes/enhancements, pull requests merged in 2019-07, with the labels that each got.

#1125 Simple metadata fixes
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
  keps/sig-api-machinery/00xx-publish-crd-openapi.md
  keps/sig-api-machinery/20180415-crds-to-ga.md
  keps/sig-api-machinery/20180731-crd-pruning.md
  keps/sig-api-machinery/20190325-unions.md
  keps/sig-api-machinery/20190426-crd-defaulting.md
  keps/sig-api-machinery/20190607-owner-ref.md
  keps/sig-cloud-provider/20190125-out-of-tree-aws.md
  keps/sig-cloud-provider/20190125-out-of-tree-gce.md
  keps/sig-cloud-provider/20190125-out-of-tree-ibm.md
  keps/sig-cloud-provider/20190125-out-of-tree-openstack.md
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
  keps/sig-cloud-provider/azure/20180711-azure-availability-zones.md
  keps/sig-cloud-provider/azure/20180809-cross-resource-group-nodes.md
  keps/sig-cloud-provider/azure/20190125-out-of-tree-azure.md
  keps/sig-cluster-lifecycle/addons/0035-20190128-addons-via-operators.md
  keps/sig-cluster-lifecycle/kubeadm/0004-bootstrap-checkpointing.md
  keps/sig-cluster-lifecycle/kubeadm/0015-kubeadm-join-control-plane.md
  keps/sig-cluster-lifecycle/kubeadm/20190122-Certificates-copy-for-kubeadm-join--control-plane.md
  keps/sig-cluster-lifecycle/wgs/0014-20180707-componentconfig-api-types-to-staging.md
  keps/sig-cluster-lifecycle/wgs/0032-create-a-k8s-io-component-repo.md
  keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md
  keps/sig-instrumentation/20190605-metrics-stability-migration.md
  keps/sig-node/20190221-livenessprobe-holdoff.md
  keps/sig-node/runtime-class-scheduling.md
  keps/sig-storage/20181111-extend-datasource-field.md
  keps/sig-storage/20190130-csi-raw-block-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/azure, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/storage, size/L

#1124 Adds metadata verification
  Gopkg.lock
  Gopkg.toml
  hack/verify-all-metadata.sh
  hack/verify.sh
  vendor/github.com/chuckha/kepview/LICENSE
  vendor/github.com/chuckha/kepview/cmd/kepval/main.go
  vendor/github.com/chuckha/kepview/keps/proposals.go
  vendor/github.com/chuckha/kepview/keps/validations/yaml.go
  vendor/github.com/chuckha/kepview/main.go
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/stack.go
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/parserc.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/gopkg.in/yaml.v2/yamlprivateh.go
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/pm, size/XXL

#1119 Add an item for testing plan for beta for WatchBookmarks feature
  keps/sig-api-machinery/20190206-watch-bookmark.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1128 Update Contributor Cheat Sheet link
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/pm, size/XS

#1102 Initial proposal of an image-builer subproject
  keps/sig-cluster-lifecycle/image-builder/20190612-image-builder.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#1120 Update TopologyManager KEP to reflect already-merged changes.
  keps/sig-node/0035-20190130-topology-manager.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/M

#1107 Updated KEP to explain the new server-side apply functionality
  keps/sig-api-machinery/0006-apply.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/aws, sig/azure, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/instrumentation, sig/network, sig/node, sig/pm, sig/release, sig/scheduling, sig/storage, sig/testing, sig/windows, size/S

#1129 inline and persistent volumes
  keps/sig-storage/20190122-csi-inline-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/S

#924 Add KEP for avoid serializing the same object multiple times
  keps/sig-api-machinery/20190329-less-object-serializations.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1136 Create KEP for deprecating and removing SelfLink
  keps/sig-api-machinery/20190711-remove-selflink.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#839 Promoting cloud provider labels to GA
  keps/sig-cloud-provider/20190215-promoting-cloud-provider-labels.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1134 Adding some justifications for startupProbe
  keps/sig-node/20190221-livenessprobe-holdoff.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#1151 Update Custom Scheduler Plugins section for new scheduler framework
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#1153 Update "less object serializations KEP" and move it to implementable state
  keps/sig-api-machinery/20190329-less-object-serializations.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1155 fix: update scheduling framework proposal to reflect current implementation
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/XS

#1111 protect kubernetes community owned API groups in CRDs
  keps/sig-api-machinery/20190612-crd-group-protection.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/L

#1165 Remove SelfLink KEP implementable
  keps/sig-api-machinery/20190711-remove-selflink.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1088 Add beta milestone criteria
  keps/sig-node/20180906-quotas-for-ephemeral-storage.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/L

#1142 Update Volume Scheduling Limits KEP to address topology
  keps/sig-storage/20190408-volume-scheduling-limits.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/S

#1167 fix: typo in even pod spreading
  keps/sig-scheduling/20190221-even-pods-spreading.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/backlog, sig/scheduling, size/XS

#1092 Add KEP for presubmit config in tested repo
  keps/sig-testing/20190605-presubmitconfig-in-tested-repo.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/L

#1086 KEP: EndpointSlice API
  keps/sig-network/20190603-EndpointSlice-API.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/network, size/L

#1159 Advanced configurations with kubeadm (Kustomize)
  keps/sig-cluster-lifecycle/kubeadm/20190722-Advanced-configurations-with-kubeadm-(Kustomize).md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#1054 kubeadm: Kubeadm Machine/Structured Output
  keps/sig-cluster-lifecycle/kubeadm/20190506-kubeadm-machine-output.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#979 kep: cloud controller manager migration
  keps/sig-cloud-provider/20190422-cloud-controller-manager-migration.md
  keps/sig-cloud-provider/images/migrating-cloud-controllers-v1-17.png
  keps/sig-cloud-provider/images/migrating-cloud-controllers-v1-18.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/cloud-provider, size/L

#1181 fix scripts and go modules
  hack/update-toc.sh
  hack/verify-kep-metadata.sh
  hack/verify-spelling.sh
  hack/verify-toc.sh
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/pm, size/M

#1169 Metrics Validation and Verification
  keps/sig-instrumentation/20190605-metrics-validation-and-verification.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/instrumentation, size/L

#1141 KEP: Support for CSI Plugins on Windows Nodes
  keps/sig-windows/20190714-windows-csi-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, sig/windows, size/L

#1150 Update test plan for CRDs to GA
  keps/sig-api-machinery/20180415-crds-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#1183 set update-toc.sh version and add a note to keep in sync
  hack/update-toc.sh
  hack/verify-toc.sh
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/pm, size/XS

#1015 sig-api-machinery: Add scale targets to CRDs to GA KEP
  keps/sig-api-machinery/20180415-crds-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/pm, sig/scalability, size/L

#1185 Merge kepval into the enhancements repo
  cmd/kepval/main.go
  cmd/kepval/main_test.go
  docs/kepval.md
  go.mod
  go.sum
  hack/verify-kep-metadata.sh
  pkg/kepval/keps/proposals.go
  pkg/kepval/keps/proposals_test.go
  pkg/kepval/keps/validations/yaml.go
  pkg/kepval/keps/validations/yaml_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/pm, size/XL

#1182 Set CRDs to GA KEP status to implementable
  keps/sig-api-machinery/20180415-crds-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1166 crd-defaulting: specify validation of default values
  keps/sig-api-machinery/20190426-crd-defaulting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1172 csi-inline-volumes.md: prepare for beta
  keps/sig-storage/20190122-csi-inline-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#1189 crd-defaulting: add details about v1 API
  keps/sig-api-machinery/20190426-crd-defaulting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#1147 Update KEP to reflect volume cloning beta in 1.16
  keps/sig-storage/20181111-extend-datasource-field.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/XS

#1184 Update "Windows Storage Support" KEP status to implementable and address prior feedback
  keps/sig-windows/20190714-windows-csi-support.md
  keps/sig-windows/csi-proxy3.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/pm, sig/storage, sig/windows, size/L

#904 Add a KEP for graduating PodDisruptionBudget to stable
  keps/sig-apps/20190318-PodDisruptionBudget-graduation-to-stable.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#1133 Bring Volume Snapshot to Beta
  keps/sig-storage/20190709-csi-snapshot.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/L

#1192 Update config parameters for CSI Proxy and add Adapter to Locations
  keps/sig-windows/20190714-windows-csi-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, sig/windows, size/S
