Repository kubernetes/enhancements, pull requests merged in 2019-05, with the labels that each got.

#883 Configurable scale velocity for HPA
  keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/autoscaling, size/L

#705 ExecutionHook API Design
  keps/sig-storage/20190120-execution-hook-design.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/XL

#1019 Add implementable to extend-datasource KEP
  keps/sig-storage/20181111-extend-datasource-field.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/XS

#1031 Move API Server Network Proxy to Implementable.
  keps/sig-api-machinery/20190226-network-proxy.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#933 Added simplified proposal for priority and fairness in apiservers
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XL

#911 Added design discussion in 20190228-priority-and-fairness
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1028 Significantly fleshed out "move pkg/kubectl into staging" proposal from feedback
  keps/sig-cli/kubectl-staging.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/M

#1025 Add Ingress GA details
  keps/sig-network/20190125-ingress-api-group.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XL

#1030 Move kubelet pod resources endpoint to implementable
  keps/sig-node/compute-device-assignment.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#1032 Adding Test paln and Graduation Criteria for to extend Requested To Capacity Ratio KEP
  keps/sig-scheduling/20190311-resource_bin_packing_priority_function.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/scheduling, size/S

#1034 Update status from provisional to implementable
  keps/sig-scheduling/20190311-resource_bin_packing_priority_function.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/scheduling, size/XS

#1014 Mark pod-startup-liveness-probe-holdoff KEP as implementable
  keps/sig-node/20190221-livenessprobe-holdoff.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#1035 Brushing up 20190228-priority-and-fairness.md
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1033 add kep for graduate nlb to beta
  keps/sig-aws/20190501-aws-nlb-beta.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/aws, size/M

#1006 sig-api-machinery KEP: Defaulting for Custom Resources
  keps/sig-api-machinery/20190426-crd-defaulting-pipeline.png
  keps/sig-api-machinery/20190426-crd-defaulting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1009 Clean up unmaintained cloud provider KEPs
  keps/sig-cloud-provider/providers/0021-cloud-provider-digitalocean.md
  keps/sig-cloud-provider/providers/0022-cloud-provider-baiducloud.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1013 Draft proposal for watch support on metric APIs
  keps/sig-instrumentation/20190425-metrics-watch-api.md
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, sig/autoscaling, sig/instrumentation, size/L

#1039 Add release checklist to union kep
  keps/sig-api-machinery/20190325-unions.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#994 Kubeadm for Windows KEP
  keps/sig-cluster-lifecycle/kubeadm/20190424-kubeadm-for-windows.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#1042 Update unions KEP for 1.15 Beta release
  keps/sig-api-machinery/20190325-unions.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#808 Add revised IPv4/IPv6 dual stack KEP
  keps/sig-network/20180612-ipv4-ipv6-dual-stack.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/XL

#1046 Move api-machinery kep apiserver-req-mgmt status to implementable
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#854 Add test plan for 1.14
  keps/sig-network/20190125-ingress-api-group.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#1055 update typo in metrics stability
  keps/sig-instrumentation/draft-20190404-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#1048 Improve Azure external cloud provider docs
  keps/sig-cloud-provider/azure/20190125-out-of-tree-azure.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/azure, sig/cloud-provider, size/L

#1056 sig-api-machinery: in structural-schema update embedded-resource
  keps/sig-api-machinery/20190425-structural-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1061 apiextensions: clarify XPreserveUnknownFields type in structural schema
  keps/sig-api-machinery/20190425-structural-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1058 Add beta feature gate links for kep VolumeSubpathEnvExpansion
  keps/sig-storage/20181029-volume-subpath-env-expansion.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/storage, size/XS

#1065 KEP Even Pods Spread update: add "Release Signoff Checklist" section
  keps/sig-scheduling/20190221-even-pods-spreading.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#1059 apiextensions: add metadata OpenAPI restriction to structual schemas
  keps/sig-api-machinery/20190425-structural-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1062 Resolve admission webhook question about ConnectionOptions
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#1068 remove draft versioning from control-plane stability kep
  keps/sig-instrumentation/42-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#1037 Add test plan for startupProbe
  keps/sig-node/20190221-livenessprobe-holdoff.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#1057 Collapse overhead requests & limits to a single value
  keps/sig-node/20190226-pod-overhead.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/node, size/S

#1063 sig-api-machinery: add ObjectMeta behaviour for crd conversion
  keps/sig-api-machinery/20190425-crd-conversion-webhook.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#1049 Add mutating webhook re-invocation details
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1071 Remove Azure KEP
  keps/sig-cloud-provider/azure/0023-cloud-provide-azure.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/azure, sig/cloud-provider, size/L

#1069 Runtimeclass scheduling updates
  keps/sig-node/runtime-class-scheduling.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/node, size/L

#1074 Clarify host wildcard matching
  keps/sig-network/20190125-ingress-api-group.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/network, size/XS
