Repository kubernetes/enhancements, pull requests merged in 2019-03, with the labels that each got.

#769 Scheduling Framework
  keps/sig-scheduling/20180409-scheduling-framework-extensions.png
  keps/sig-scheduling/20180409-scheduling-framework-threads.png
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/scheduling, size/XL

#834 cleaning up KEP-removing-in-tree-providers
  keps/sig-cloud-provider/20190125-removing-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/M

#867 Add test plan to pod DNS config KEP
  keps/sig-network/20190118-pod-dns-config.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#707 KEP for packaging kubernetes artifacts
  keps/sig-release/20190118-creating-packages.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, sig/release, size/L

#811 add kep for kustomize secret generator plugins
  keps/sig-cli/kustomize-secret-generator-plugins.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cli, sig/pm, size/L

#781 Topology Manager KEP (Moving to new repo)
  keps/sig-node/0035-20190130-topology-manager.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/L

#873 Revert "KEP for packaging kubernetes artifacts"
  keps/sig-release/20190118-creating-packages.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/release, size/L

#870 VolumeSubpathEnvExpansion KEP - Add graduation criteria
  keps/sig-storage/20181029-volume-subpath-env-expansion.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/storage, size/M

#877 keps: update pid limiting kep status
  keps/sig-node/20190129-pid-limiting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#876 keps: hugepages implemented with link to tests
  keps/sig-node/20190129-hugepages.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#848 Notes on Windows memory provisioning
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/S

#863 Update Publish CRD OpenAPI feature gate name and rollout target
  keps/sig-api-machinery/00xx-publish-crd-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#756 Add `Monitoring` section into RuntimeClass KEP
  keps/sig-node/runtime-class.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/S

#858 Artifact generation KEP
  keps/sig-cluster-lifecycle/20190227-artifact-generation.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#878 Add testing plan to Apply KEP
  keps/sig-api-machinery/0006-apply.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#882 updates to windows KEP for 1.14 impending GA
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/M

#885 Update embargo doc link in SECURITY_OWNERS and change PST to PSC
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#879 Add testing plan to priority and preemption KEP
  keps/sig-scheduling/20190131-pod-priority-preemption.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#812 Add storage scale testing kep
  keps/sig-storage/20190204-scale-testing.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/pm, sig/scalability, sig/storage, size/L

#884 Expand mitigation section of kv generator plugin kep
  keps/sig-cli/kustomize-secret-generator-plugins.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#889 complete implementation history of KEP #789
  keps/sig-auth/0034-20190123-harden-default-discovery-bindings.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/auth, size/XS

#862 Added draft KEP for priority and fairness for apiserver requests
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#827 Improve cloud provider docs KEP
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
  keps/sig-cloud-provider/20180731-cloud-provider-docs.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/pm, size/L

#855 Proposal for adding headers with the command name to kubectl requests
  keps/sig-cli/kubectl-commands-in-headers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#898 Add KEP Stewardship section
  keps/0001-kubernetes-enhancement-proposal-process.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test

#899 Update KEP usage statement
  keps/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/XS

#896 RuntimeClass scheduling KEP
  keps/sig-node/runtime-class-scheduling.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-longterm, sig/node, sig/scheduling, size/L

#880 update split test tarballs KEP: status -> implemented
  keps/sig-testing/20190118-breaking-apart-the-kubernetes-test-tarball.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/S

#852 Update node self-labeling implementation timeline
  keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/M

#910 Add recently work for KEP metrics overhaul
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#908 initial go modules draft
  keps/sig-architecture/2019-03-19-go-modules.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/release, sig/testing, size/L

#843 Add KEP for publishing packages in `provisional` state
  keps/sig-release/20190219-publishing-packages.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, sig/release, size/L

#841 add implementation details to sidecar kep
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, sig/architecture, sig/node, sig/pm, size/M

#914 Reflect new goal: Provide guaranteed capacity for requests with lower priorities
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#913 KEP: Promote server-side get APIs to GA
  keps/sig-api-machinery/20190322-server-side-get-to-ga.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/cli, size/L

#835 update runasgroup kep by inlining contents
  keps/sig-node/20190131-runas-groupid.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/node, sig/pm, size/L

#746 KEP: [sig-cluster-lifecycle] addons via operators
  keps/sig-cluster-lifecycle/0035-20190128-addons-via-operators.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/L

#921 Updating status of the KEP to 'implemented'
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/XS

#906 Kustomize: Generator and Transformer Plugins
  keps/sig-cli/20190318-kustomize-generators-transformers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#922 Update watch bookmark KEP
  keps/sig-api-machinery/20190206-watch-bookmark.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#892 Proposal for re-introducing SecretGenerators using Exec.
  keps/sig-cli/kustomize-exec-secret-generator.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#916 Update go.modules KEP
  keps/sig-architecture/2019-03-19-go-modules.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/L

#925 Updating OWNERS for sig-architecture
  OWNERS_ALIASES
  keps/sig-architecture/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/S

#903 update status of kustomize file process integration to "implemented"
  keps/sig-cli/kustomize-file-processing-integration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/cli, size/XS

#915 micro-KEP: don't automatically clean up rules in kube-proxy
  keps/sig-network/20190324-remove-kube-proxy-autocleanup.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#678 add initial KEP for maxUnavailable in StatefulSets
  keps/sig-apps/20190226-maxunavailable-for-statefulsets.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, sig/architecture, sig/pm, size/L
