Repository kubernetes/enhancements, pull requests merged in 2019-09, with the labels that each got.

#1227 Mark kubelet metrics migration to standard prometheus collector as done
  keps/sig-instrumentation/20190605-metrics-stability-migration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/instrumentation, size/XS

#1205 add retroactive Bound Service Account token
  keps/sig-auth/20190806-serviceaccount-tokens.md
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, sig/auth, size/L

#1229 kubeadm-kustomize-v1.16
  keps/sig-cluster-lifecycle/kubeadm/20190722-Advanced-configurations-with-kubeadm-(Kustomize).md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/S

#1114 Update server-side get to GA proposal with 1.16 commitments and final state
  keps/sig-api-machinery/20190322-server-side-get-to-ga.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, size/XS

#1115 Bring gzip compression for API server to GA
  keps/sig-api-machinery/20190625-api-compression-to-ga.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/scalability, size/L

#1220 StorageVersion API for HA master
  keps/sig-api-machinery/20190802-dynamic-coordinated-storage-version.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#1211 Clarify ratcheting validation for v1 CRDs
  keps/sig-api-machinery/20190425-structural-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1233 Scheduling framework: fix link to keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#1226 csi-inline-volumes.md: update for beta
  keps/sig-storage/20190122-csi-inline-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#807 kubernetes-csi release process
  keps/sig-storage/20190204-kubernetes-csi-release-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, sig/testing, size/L

#1240 Add cluster-autoscaler to list of distroless based images
  keps/sig-release/20190316-rebase-images-to-distroless.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/release, size/XS

#1193 Introduce KEP for production readiness review
  keps/sig-architecture/20190731-production-readiness-review-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/L

#1104 kube-proxy component config graduation to beta
  keps/sig-network/20190613-kube-proxy-component-config.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#1251 Updating milestone, project board & testgrid
  keps/sig-windows/20190424-windows-cri-containerd.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/L

#1253 Update sig-scheduling owners.
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#1097 Retroactive KEP: Certificates API
  keps/sig-auth/20190607-certificates-api.md
  keps/sig-auth/csr.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/L

#1249 Modify pre-filter section in the scheduling framework
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/scheduling, size/S
