Repository kubernetes/enhancements, pull requests merged in 2019-06, with the labels that each got.

#1079 update objectSelector design
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1087 Update the `implementation` section for rebasing images KEP.
  keps/sig-release/20190316-rebase-images-to-distroless.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/release, size/M

#1091 remove prefixed KEP version numbers from instrumentation KEPs (now obsolete)
  keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md
  keps/sig-instrumentation/20190131-event-series.md
  keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#1090 Add implementation history for control-plane metrics stability KEP
  keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#1095 propose resource field on OwnerReference
  keps/sig-api-machinery/20190607-owner-ref.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/api-machinery, size/L

#951 add test plan to sidecar kep
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, sig/node, sig/testing, size/S

#1100 protect kubernetes community owned API groups in CRDs
  keps/sig-api-machinery/20190612-crd-group-protection.md
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, size/L

#1106 Revert "Merge pull request #1100 from deads2k/crd-group-protection"
  keps/sig-api-machinery/20190612-crd-group-protection.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#919 Sidecar KEP API implementation
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, ok-to-test, sig/apps, sig/node, size/M

#1060 ingress: Add links to merged and in progress PRs
  keps/sig-network/20190125-ingress-api-group.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/S

#1093 Proposal for metrics stability migration
  keps/sig-instrumentation/20190605-metrics-stability-migration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#1109 Change sidecars kep to implementable
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, sig/node, size/S
