Repository kubernetes/enhancements, pull requests merged in 2019-02, with the labels that each got.

#798 Add a KEP for graduating pod priority and preemption to GA
  keps/sig-scheduling/201901031-pod-priority-preemption.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/scheduling, size/M

#736 Admission Webhook to GA
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/XL

#750 HugePages KEP
  keps/sig-node/20190129-hugepages.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/L

#801 Update sig-auth tech leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#755 KEP Pid Limiting
  keps/sig-node/20190129-pid-limiting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/node, sig/pm, size/L

#797 update cloud provider dependency list in KEP 20190125-removing-in-tree-providers
  keps/sig-cloud-provider/20190125-removing-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/M

#796 add a kep to wrap already existing event design
  keps/sig-instrumentation/0035-20190131-event-series.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/pm, sig/scalability, size/M

#794 Add CSI raw block support KEP
  keps/sig-storage/20190130-csi-raw-block-support.md
Labels: approved, cncf-cla: yes, do-not-merge/hold, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/L

#780 Start adding a KEP for csi volume resizing
  keps/sig-storage/20190129-csi-volume-resizing.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/L

#765 Add missing item to TOC.
  keps/0000-kep-template.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/architecture, sig/pm, size/XS

#805 Fix typo in pod priority preemption KEP
  keps/sig-scheduling/201901031-pod-priority-preemption.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/scheduling, size/XS

#806 Webhook admission KEP updates
  keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/M

#720 create KEP to harden the default RBAC discovery clusterrolebindings
  keps/sig-auth/0034-20190123-harden-default-discovery-bindings.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/pm, size/L

#701 Breaking apart the test tarball KEP
  keps/sig-testing/20190118-breaking-apart-the-kubernetes-test-tarball.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/testing, size/L

#782 Mark the KEP as implemented
  keps/sig-testing/0028-20180625-new-label-for-trusted-pr-identification.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/testing, size/XS

#809 Update apply kep for alpha
  keps/sig-api-machinery/0006-apply.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/M

#815 Remove NEXT_KEP_NUMBER from template
  keps/0000-kep-template.md
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/NEXT_KEP_NUMBER
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/XS

#816 Add spelling verification script
  Gopkg.lock
  Gopkg.toml
  hack/.spelling_failures
  hack/OWNERS
  hack/verify-spelling.sh
  hack/verify.sh
  keps/sig-aws/20181127-aws-ebs-csi-driver.md
  keps/sig-cluster-lifecycle/0015-kubeadm-join-control-plane.md
  keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-plane.md
  keps/sig-release/20190121-artifact-management.md
  keps/sig-storage/20190129-csi-migration.md
  keps/sig-storage/20190129-csi-volume-resizing.md
  keps/sig-storage/20190130-csi-raw-block-support.md
  keps/sig-windows/20190103-windows-node-support.md
  vendor/github.com/client9/misspell/LICENSE
  vendor/github.com/client9/misspell/ascii.go
  vendor/github.com/client9/misspell/case.go
  vendor/github.com/client9/misspell/cmd/misspell/main.go
  vendor/github.com/client9/misspell/legal.go
  vendor/github.com/client9/misspell/mime.go
  vendor/github.com/client9/misspell/notwords.go
  vendor/github.com/client9/misspell/replace.go
  vendor/github.com/client9/misspell/stringreplacer.go
  vendor/github.com/client9/misspell/url.go
  vendor/github.com/client9/misspell/words.go
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/aws, sig/cluster-lifecycle, sig/contributor-experience, sig/pm, sig/release, sig/storage, sig/windows, size/XXL

#800 RunAsGroup KEP
  keps/sig-node/20190131-runas-groupid.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/node, sig/pm, size/M

#813 Update the Azure vendor's service name
  keps/sig-cluster-lifecycle/0003-cluster-api.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/XS

#804 set implemented status to certificates copy for kubeadm join KEP
  keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-plane.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cluster-lifecycle, sig/pm, size/XS

#818 Adding clarifications on PodSecurityContext
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/windows, size/S

#820 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/S

#703 Revise KEP template
  keps/0000-kep-template.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/L

#687 s/Design Proposal/KEP
  ISSUE_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#726 [KEP] Kubelet Resource Metrics Endpoint
  keps/sig-node/kubelet-resource-metrics-endpoint.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/design, kind/kep, lgtm, sig/architecture, sig/instrumentation, sig/node, sig/pm, size/L

#747 Adding the storage migration triggering controller
  keps/sig-api-machinery/storage-migration-auto-trigger.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/L

#823 Update pod DNS config KEP to implementable
  keps/sig-network/20190118-pod-dns-config.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/XS

#826 Improve cloud provider docs KEP
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
  keps/sig-cloud-provider/20180731-cloud-provider-documentation.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/L

#828 Revert "Improve cloud provider docs KEP"
  keps/sig-cloud-provider/0019-cloud-provider-documentation.md
  keps/sig-cloud-provider/20180731-cloud-provider-documentation.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, sig/pm, size/L

#821 [KEP] Publish CRD OpenAPI
  keps/sig-api-machinery/00xx-publish-crd-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/L

#819 Add watch bookmark KEP
  keps/sig-api-machinery/20190206-watch-bookmark.md
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/scalability, size/L

#795 Add details about the design of the redirector.
  keps/sig-release/20190121-artifact-management.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/release, size/S

#832 Mark Publish CRD OpenAPI KEP as implementable
  keps/sig-api-machinery/00xx-publish-crd-openapi.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/pm, size/XS

#836 Rename KEP template file name to follow KEP template
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/README.md
  keps/YYYYMMDD-kep-template.md
  keps/sig-release/20190121-artifact-management.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/release, size/XS

#825 Updates for KEP documentation
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/XS

#842 Fix spelling errors to enable spell-check job
  keps/sig-api-machinery/00xx-publish-crd-openapi.md
  keps/sig-node/kubelet-resource-metrics-endpoint.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/node, sig/pm, size/XS

#840 Remove sig/{architecture,pm} labels from KEP directory
  keps/OWNERS
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, size/XS

#845 Mark service topology KEP implementable
  keps/sig-network/0033-service-topology.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/network, sig/pm, size/XS

#844 Add a link to the RuntimeClass metrics change PR
  keps/sig-instrumentation/0031-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/architecture, sig/instrumentation, sig/pm, size/XS

#847 Fixing testgrid links in Windows KEP
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/XS

#849 Change Kubelet Resource Metrics Endpoint KEP status to implementable
  keps/sig-node/kubelet-resource-metrics-endpoint.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#850 correct file name and last-updated section
  keps/sig-scheduling/20190131-pod-priority-preemption.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/XS

#846 Update node-heartbeat KEP
  keps/sig-node/0009-node-heartbeat.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, sig/pm, size/M

#856 Change kubectl plugins KEP to implemented
  keps/sig-cli/0024-kubectl-plugins.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/S

#838 update the status of kustomize subcommand integration kep
  keps/sig-cli/kustomize-subcommand-integration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/cli, sig/pm, size/XS

#790 CSI inline volume support KEP with suggested updates
  keps/sig-storage/20190122-csi-inline-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/pm, sig/storage, size/L

#857 Update GMSA KEP to specify usage of registry entries for passing credspec
  keps/sig-windows/20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/XS

#824 Added Windows KEP clarification on ICMP protocol support.
  keps/sig-windows/20190103-windows-node-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/network, sig/pm, sig/windows, size/XS
