Repository kubernetes/enhancements, pull requests merged in 2019-11, with the labels that each got.

#1309 Update graduation criteria for service finalizer KEP
  keps/sig-network/20190423-service-lb-finalizer.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#1324 kep/service-topology: change catch-all key from "" to "*"
  keps/sig-network/20181024-service-topology.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/S

#1323 Service Topology: add consideration for externalTrafficPolicy=Local
  keps/sig-network/20181024-service-topology.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#1350 Update published modules with v0.x.y tags
  keps/sig-architecture/2019-03-19-go-modules.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/M

#1344 update sidecars kep, changes to TerminationGracePeriod/Pod phase
  keps/sig-apps/sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/apps, sig/node, size/XS

#1359 Fix invalid list type: associative->map
  keps/sig-api-machinery/0006-apply.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1303 Update OpenStack Cloud Provider KEP
  keps/sig-cloud-provider/20190125-out-of-tree-openstack.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/M

#1358 Update KEP(metrics stability) about the escape hatch flag
  keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/M

#1360 Splitting IP address type into IPv4 and IPv6 for EndpointSlices
  keps/sig-network/20190603-EndpointSlice-API.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/S

#1272 Update Ephemeral Containers KEP for 1.16 release
  keps/sig-node/20190212-ephemeral-containers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#1349 Move "conformance without beta" KEP to implementable
  keps/sig-architecture/20191023-conformance-without-beta.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/XS

#1247 Proposal moving ExternalDNS into Kubernetes organization
  keps/sig-network/20190920-external-dns.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/L

#1364 Move component-arch.png to directory where it's expected to be
  keps/sig-cluster-lifecycle/wgs/component-arch.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/XS

#1361 Update the storage version API KEP with implementation details
  keps/sig-api-machinery/20190802-dynamic-coordinated-storage-version.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#1378 modify the error url of api_changes.md
  keps/sig-api-machinery/34-storage-hash.md
  keps/sig-api-machinery/35-storage-version-hash.md
  keps/sig-apps/sidecarcontainers.md
  keps/sig-network/20180612-ipv4-ipv6-dual-stack.md
  keps/sig-node/0008-20180430-promote-sysctl-annotations-to-fields.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/api-machinery, sig/apps, sig/architecture, sig/network, sig/node, size/S

#1374 modify the error crd url
  keps/sig-api-machinery/20180415-crds-to-ga.md
  keps/sig-api-machinery/20190425-structural-openapi.md
  keps/sig-api-machinery/20190426-crd-defaulting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/api-machinery, size/XS

#1365 fix broken links
  keps/YYYYMMDD-kep-template.md
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/api-machinery, size/XS

#1385 modify the error url of kustomization.yaml
  keps/sig-cli/kustomize-secret-generator-plugins.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/cli, size/XS

#1346 update the scheduler framework KEP for config args may be nil
  keps/sig-scheduling/20180409-scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/scheduling, size/XS
