Repository kubernetes/enhancements, pull requests merged in 2020-08, with the labels that each got.

#1712 Manifest based webhook configuration
  keps/sig-api-machinery/1872-manifest-based-admission-webhooks/README.md
  keps/sig-api-machinery/1872-manifest-based-admission-webhooks/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/L

#1754 KEP-1753: Kubernetes system components logs sanitization
  keps/sig-instrumentation/1753-logs-sanitization/README.md
  keps/sig-instrumentation/1753-logs-sanitization/kep.yaml
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/instrumentation, size/L

#1910 Abandon Conformance Behaviors KEP
  keps/sig-architecture/960-conformance-behaviors/README.md
  keps/sig-architecture/960-conformance-behaviors/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/S

#1935 Mark SIG Instrumentation metrics overhaul KEP as implemented
  keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, size/M

#1931 MCS-API: Rename supercluster -> clusterset
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/multicluster, size/L

#1938 update README.md to add 1.19 enhancements sheet
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#1911 Add the query subcommand to kepctl
  cmd/kepctl/helper.go
  cmd/kepctl/main.go
  cmd/kepctl/query.go
  go.mod
  go.sum
  pkg/kepctl/kepctl.go
  pkg/kepctl/kepctl_test.go
  pkg/kepctl/query.go
  pkg/kepctl/testdata/keps/sig-architecture/123-newstyle/README.md
  pkg/kepctl/testdata/keps/sig-architecture/123-newstyle/figure.png
  pkg/kepctl/testdata/keps/sig-architecture/123-newstyle/kep.yaml
  pkg/kepctl/testdata/keps/sig-architecture/123-newstyle/some-file.md
  pkg/kepctl/testdata/keps/sig-architecture/20200115-kubectl-diff.md
  pkg/kepctl/testdata/keps/sig-architecture/20200528-newstyle.md
  pkg/kepval/keps/proposals.go
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XXL

#1922 Mark efficient watch resumption KEP as implementable
  keps/sig-api-machinery/1904-efficient-watch-resumption/README.md
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/M

#1942 Update metric migration KEP with relevant PRs and current status
  keps/sig-instrumentation/20190605-metrics-stability-migration.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, size/M

#1943 Update metric stability KEP status
  keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/instrumentation, size/S

#1902 Move CSI snapshot KEP into directory and add an extension for tightening validation
  keps/sig-storage/177-volume-snapshot/README.md
  keps/sig-storage/177-volume-snapshot/kep.yaml
  keps/sig-storage/177-volume-snapshot/tighten-validation-webhook-crd.md
  keps/sig-storage/177-volume-snapshot/webhook-workflow.png
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, ok-to-test, sig/architecture, sig/storage, size/XL

#1939 trivial: fix broken link markdown
  keps/sig-apps/0753-sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, sig/architecture, size/XS

#1940 code of conduct committee update
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#1901 Update graduation criteria and dual stack prep
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/multicluster, size/XS

#1957 Use a regexp instead of strings for SIGs in query
  pkg/kepctl/query.go
  pkg/kepval/keps/validations/yaml.go
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/M

#1947 Change k8s.io to kubernetes.io in the label key for invalid objects.
  keps/sig-storage/177-volume-snapshot/tighten-validation-webhook-crd.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/storage, size/XS

#1956 Add PRR reviewer as a query option
  cmd/kepctl/query.go
  pkg/kepctl/query.go
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#1930 KEP-1553: Update issue triage KEP to implementable
  keps/sig-contributor-experience/1553-issue-triage/README.md
  keps/sig-contributor-experience/1553-issue-triage/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/contributor-experience, size/L, tide/merge-method-squash
