Repository kubernetes/enhancements, pull requests merged in 2020-07, with the labels that each got.

#1868 Disable AcceleratorUsage Metrics initial kep
  keps/sig-node/1867-disable-accelerator-usage-metrics/README.md
  keps/sig-node/1867-disable-accelerator-usage-metrics/kep.yaml
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/node, size/L, stage/alpha

#1876 Update InstallHint doc upon feedback in related PR
  keps/sig-auth/541-external-credential-providers/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/auth, size/XS

#1874 sidecar: Add dependency and mark as provisional
  keps/sig-apps/0753-sidecarcontainers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, sig/architecture, size/M

#1890 Update installHint doc upon feedback in user-facing docs
  keps/sig-auth/541-external-credential-providers/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/auth, size/S

#1857 Make Fair Queuing for Server Requests achieve max-min fairness
  keps/sig-api-machinery/20190228-priority-and-fairness.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/L

#1889 keps/0001: Fix link to template
  keps/0001-kubernetes-enhancement-proposal-process.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, size/XS

#1438 Different protocols in the same Service definition with type=LoadBalancer
  keps/sig-network/20200103-mixed-protocol-lb.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/network, size/XL, tide/merge-method-squash

#1660 Add KEP 1659 - standard topology labels
  keps/sig-architecture/1659-standard-topology-labels/README.md
  keps/sig-architecture/1659-standard-topology-labels/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/L

#1895 Corrected the "last-updated" field
  keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/autoscaling, size/XS

#1896 Mark accelerator-usage-metrics as implementable
  keps/sig-node/1867-disable-accelerator-usage-metrics/README.md
  keps/sig-node/1867-disable-accelerator-usage-metrics/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, size/S

#1855 propose a way to get service account token for csi driver
  keps/sig-storage/1855-csi-driver-service-account-token/README.md
  keps/sig-storage/1855-csi-driver-service-account-token/kep.yaml
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, ok-to-test, sig/architecture, sig/auth, sig/storage, size/L

#1509 Update Snapshot KEP for Beta
  keps/sig-storage/20190709-csi-snapshot.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/L

#1909 Add repo SECURITY.md
  SECURITY.md
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/S

#1761 mark building without in-tree providers implemented
  keps/sig-cloud-provider/20190729-building-without-in-tree-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/cloud-provider, size/XS

#1914 Update KEP to remove selflink to a new template
  keps/sig-api-machinery/1164-remove-selflink/README.md
  keps/sig-api-machinery/1164-remove-selflink/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/M

#1878 KEP: Efficient watch resumption after kube-apiserver reboot
  keps/sig-api-machinery/1904-efficient-watch-resumption/README.md
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, size/XL
