Repository kubernetes/enhancements, pull requests merged in 2020-04, with the labels that each got.

#1609 KEP for HPA scaling based on container resources
  keps/sig-autoscaling/0001-container-resource-autoscaling.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/autoscaling, size/L

#1625 Update TaintBasedEvictions to implemented
  keps/sig-node/20200127-taint-based-evictions.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#1366 Removed tab
  keps/sig-network/0007-pod-ready++.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, lifecycle/stale, ok-to-test, sig/network, size/XS

#1423 Correct max endpoints per slice flag.
  keps/sig-network/20190603-EndpointSlice-API.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/XS

#1434 Update service finalizer KEP to implemented
  keps/sig-network/20190423-service-lb-finalizer.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, lifecycle/stale, sig/network, size/XS

#1528 Update DualStack KEP
  keps/sig-network/20180612-ipv4-ipv6-dual-stack.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#1587 modify the error url of sig-instrumentation
  keps/sig-node/kubelet-resource-metrics-endpoint.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, sig/docs, sig/node, size/XS

#1677 Set out-of-tree-vsphere KEP to implemented
  keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/XS

#1554 keps/contribex: Add KEP-1553 (Issue Triage Workflow and Automation)
  keps/sig-contributor-experience/1553-issue-triage/README.md
  keps/sig-contributor-experience/1553-issue-triage/kep.yaml
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, priority/important-soon, sig/contributor-experience, sig/pm, sig/release, size/L

#1605 Mark 1.18 storage GA features as implemented
  keps/sig-storage/20181111-extend-datasource-field.md
  keps/sig-storage/20190129-csi-pod-info-on-mount.md
  keps/sig-storage/20190129-csi-skip-attach.md
  keps/sig-storage/20190130-csi-raw-block-support.md
  keps/sig-storage/20191008-raw-block-support.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/S

#1685 Transfer Enhancements subproject ownership to SIG Arch
  OWNERS
  OWNERS_ALIASES
  keps/OWNERS
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/architecture, sig/pm, size/M

#1598 proposal for file permission handling in projected service account volume
  keps/sig-storage/20180515-svcacct-token-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/storage, size/M

#1694 KEP 1693: Warning mechanism for use of deprecated APIs
  keps/sig-api-machinery/1693-warnings/README.md
  keps/sig-api-machinery/1693-warnings/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/cli, sig/instrumentation, size/L

#1699 Remove references to sig-pm causing test failures
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/sig-architecture/617-improve-kep-implementation/kep.yaml
  keps/sig-contributor-experience/1553-issue-triage/kep.yaml
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, sig/architecture, sig/contributor-experience, size/XS

#1696 Update sig-storage features as implemented
  keps/sig-storage/20190124-csi-topology.md
  keps/sig-storage/20190124-local-persistent-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/storage, size/S

#1700 doc: update resource quota scope selectors KEP to implemented
  keps/sig-scheduling/20190409-resource-quota-ga.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/scheduling, size/S

#1662 [KEP] New Event API GA Graduation
  keps/sig-instrumentation/1661-new-event-api-ga-graduation/README.md
  keps/sig-instrumentation/1661-new-event-api-ga-graduation/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/architecture, sig/instrumentation, size/L

#1704 Add dashpole to sig-instrumentation-leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/XS

#1546 Build Kubelet without Docker
  keps/sig-node/20200205-build-kubelet-without-docker.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, size/L

#1705 no-op: move external credential provider KEP to new location
  keps/sig-auth/541-external-credential-providers/README.md
  keps/sig-auth/541-external-credential-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, size/M

#1683 Update node-role KEP timeline for beta in 1.19
  keps/sig-architecture/2019-07-16-node-role-label-use.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/XS

#1706 Add support for symlinks and KEP metadata files
  cmd/kepval/main.go
  cmd/kepval/main_test.go
  keps/sig-architecture/617-improve-kep-implementation/kep.yaml
  keps/sig-auth/20190711-external-credential-providers.md
  pkg/kepval/keps/proposals.go
  pkg/kepval/keps/validations/yaml.go
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, size/M

#1666 Conformance Behaviors Phase 2
  keps/sig-architecture/960-conformance-behaviors/README.md
  keps/sig-architecture/960-conformance-behaviors/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/L

#1619 Conformance profiles summary and motivation
  keps/sig-architecture/1618-conformance-profiles/README.md
  keps/sig-architecture/1618-conformance-profiles/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/architecture, size/L

#1697 KEP 1693: copy edits, GA criteria, kubectl warnings-as-errors option, extension mechanisms
  keps/sig-api-machinery/1693-warnings/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/cli, sig/instrumentation, size/L

#1715 KEP 1693: move warnings proposal to implementable
  keps/sig-api-machinery/1693-warnings/README.md
  keps/sig-api-machinery/1693-warnings/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/architecture, sig/cli, sig/instrumentation, size/M

#1726 Clarify wording in `Immutable Secret/ConfigMap' KEP and update implementation history
  keps/sig-storage/20191117-immutable-secrets-configmaps.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/storage, size/S

#1720 Conformance Profiles additions
  keps/sig-architecture/1618-conformance-profiles/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/M

#1497 Add Kubernetes Yearly Support Period KEP
  keps/sig-release/20200122-kubernetes-yearly-support-period.md
  keps/sig-release/20200122-upgrade-cadence.png
  keps/sig-release/20200122-versions-in-production.png
Labels: approved, cncf-cla: yes, kind/design, kind/kep, lgtm, sig/architecture, sig/release, sig/testing, size/L, wg/lts

#1735 sig-release: Organize KEPs into directory structure
  keps/sig-release/1498-kubernetes-yearly-support-period/README.md
  keps/sig-release/1498-kubernetes-yearly-support-period/kep.yaml
  keps/sig-release/1498-kubernetes-yearly-support-period/upgrade-cadence.png
  keps/sig-release/1498-kubernetes-yearly-support-period/versions-in-production.png
  keps/sig-release/1729-rebase-images-to-distroless/README.md
  keps/sig-release/1729-rebase-images-to-distroless/kep.yaml
  keps/sig-release/1729-rebase-images-to-distroless/rebase-core-master.png
  keps/sig-release/1731-publishing-packages/README.md
  keps/sig-release/1731-publishing-packages/kep.yaml
  keps/sig-release/1732-artifact-management/README.md
  keps/sig-release/1732-artifact-management/kep.yaml
  keps/sig-release/1733-release-notes/README.md
  keps/sig-release/1733-release-notes/kep.yaml
  keps/sig-release/1734-k8s-image-promoter/README.md
  keps/sig-release/1734-k8s-image-promoter/kep.yaml
  keps/sig-release/1734-k8s-image-promoter/promote-process.jpg
  keps/sig-release/20190121-artifact-management.md
  keps/sig-release/20190219-publishing-packages.md
  keps/sig-release/20190316-rebase-images-to-distroless.md
  keps/sig-release/20190331-release-notes.md
  keps/sig-release/20200122-kubernetes-yearly-support-period.md
  keps/sig-release/k8s-image-promoter.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/release, size/XXL

#1569 fix broken link : https://github.com/kubernetes/community/blob/master…
  keps/sig-instrumentation/0034-distributed-tracing-kep.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/instrumentation, size/XS
