Repository kubernetes/enhancements, pull requests merged in 2020-03, with the labels that each got.

#1585 modify the error url of api-conventions
  keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#1584 modify the error url of cloud-controller-manager.md
  keps/sig-cloud-provider/providers/0020-cloud-provider-alibaba-cloud.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, sig/cloud-provider, sig/docs, size/XS

#1510 Move TaintBasedEvictions GA kep from scheduling to node
  keps/sig-node/20200127-taint-based-evictions.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#1373 Add kui KEP
  keps/sig-cli/20191111-kui.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cli, size/L

#1565 Request cloud provider for HUAWEI CLOUD
  keps/sig-cloud-provider/providers/20191206-cloud-provider-huaweicloud.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1548 Topology Manager - Updates for 1.18
  keps/sig-node/0035-20190130-topology-manager.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#1563 Request for Baidu Cloud Provider Subproject
  keps/sig-cloud-provider/providers/0022-cloud-provider-baiducloud.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1596 Update SIG instrumentation leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS

#1567 oidc discovery kep: include system:serviceaccounts binding details
  keps/sig-auth/20190730-oidc-discovery.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, priority/important-soon, sig/auth, size/S

#1594 port serviceaccount token volume design proposal to KEP
  keps/sig-storage/20180515-svcacct-token-volumes.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/storage, size/L

#1367 [KEP][sig-instrumentation] Structured logging
  keps/sig-instrumentation/20191115-structured-logging.md
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/architecture, sig/instrumentation, size/XL, wg/component-standard

#1617 Move Structured Logging KEP into implementable state
  keps/sig-instrumentation/20191115-structured-logging.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#1327 KEP: 3rd party content in documentation
  keps/sig-docs/20191020-doc-policies-for-third-party-content.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/docs, size/L

#1545 Add to KEP 617: Enhance KEP artifacts
  keps/0001-kubernetes-enhancement-proposal-process.md
  keps/0001a-meta-kep-implementation.md
  keps/NNNN-kep-template/README.md
  keps/NNNN-kep-template/kep.yaml
  keps/README.md
  keps/YYYYMMDD-kep-template.md
  keps/sig-architecture/617-improve-kep-implementation/README.md
  keps/sig-architecture/617-improve-kep-implementation/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/XXL

#1626 Mark GMSA KEP implemented
  keps/sig-windows/20181221-windows-group-managed-service-accounts-for-container-identity.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/windows, size/XS

#1628 Mark dry-run as implemented
  keps/sig-api-machinery/0015-dry-run.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#1627 Mark kubectl-diff as implemented
  keps/sig-cli/20200115-kubectl-diff.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/XS

#1631 Add pod-level process stats to the summary API for out-of-pid eviction
  keps/sig-node/20190129-pid-limiting.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#1633 Reformat the conformance behaviors KEP to new directory structure
  keps/sig-architecture/960-conformance-behaviors/README.md
  keps/sig-architecture/960-conformance-behaviors/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/M

#1597 propose safe adoption plan for in-cluster clients using fresh token
  keps/sig-auth/20190806-serviceaccount-tokens.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/auth, size/M

#1266 Require Transition from Beta
  keps/sig-architecture/1635-prevent-permabeta/README.md
  keps/sig-architecture/1635-prevent-permabeta/kep.yaml
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/network, sig/node, size/L

#1639 modify the error url of conformance
  keps/sig-architecture/960-conformance-behaviors/README.md
Labels: approved, cncf-cla: yes, kind/bug, kind/kep, lgtm, sig/architecture, sig/docs, size/XS

#1637 modify the error url of removing-in-tree-providers
  keps/sig-cloud-provider/20191004-out-of-tree-credential-providers.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, sig/docs, size/XS

#1643 fix broken link : https://github.com/kubernetes/community/blob/master…
  keps/sig-cluster-lifecycle/wgs/0032-create-a-k8s-io-component-repo.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1655 Update OWNERS_ALIASES for SIG-Storage
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/pm, size/XS
