Repository kubernetes/enhancements, pull requests merged in 2021-11, with the labels that each got.

#3013 KEP-2149: adding in community-decided API names
  keps/sig-multicluster/2149-clusterid/README.md
  keps/sig-multicluster/2149-clusterid/kep.yaml
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3040 update feature name of JobMutableNodeSchedulingDirectives
  keps/sig-scheduling/2926-job-mutable-scheduling-directives/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3038 doc: support 'nodeExpandSecretRef' to nodeExpandVolume
  keps/sig-storage/556-csi-volume-resizing/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3035 KEP-2579: PodSecurity beta updates
  keps/sig-auth/2579-psp-replacement/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3046 Stephen & Lauri to Emeritus, Nabarun to KEP tools approver
  OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/M, approved

#3044 KEP-2317: remove requirement of standalone fsgroup metric
  keps/sig-storage/2317-fsgroup-on-mount/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3036 KEP-2149: PRR questionnaire and artifact
  keps/prod-readiness/sig-multicluster/2149.yaml
  keps/sig-multicluster/2149-clusterid/README.md
  keps/sig-multicluster/2149-clusterid/kep.yaml
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3049 KEP-625: Update csimigration milestone to 1.23 to reflect updates for on-by-default
  keps/sig-storage/625-csi-migration/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3009 Change feature gate in KEP-2902 to CPUManagerPolicyAlphaOptions
  keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/README.md
  keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#2993 KEP-2625: node: cpumanager policy: clarify feature gates
  keps/sig-node/2625-cpumanager-policies-thread-placement/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3043 KEP-2433: Removing traffic policy interoperability as beta graduation requirement
  keps/sig-network/2433-topology-aware-hints/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3050 Mark 2365 as implemented
  keps/sig-network/2365-ingressclass-namespaced-params/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3052 Bump structured logging to 1.23
  keps/sig-instrumentation/1602-structured-logging/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3054 2885 - Update feature gate name
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/README.md
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#2821 KEP-1645: Update MCS API graduation criteria based on 5/11 SIG-MC discussions
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, kind/kep
