Repository kubernetes/enhancements, pull requests merged in 2021-02, with the labels that each got.

#2378 Migrating from old kep to new template -sig cli keps
  keps/sig-cli/2377-Kustomize/README.md
  keps/sig-cli/2377-Kustomize/kep.yaml
  keps/sig-cli/2379-kubectl-plugins/README.md
  keps/sig-cli/2379-kubectl-plugins/kep.yaml
  keps/sig-cli/2380-data-driven-commands-for-kubectl/README.md
  keps/sig-cli/2380-data-driven-commands-for-kubectl/kep.yaml
  keps/sig-cli/2381-future-of-kubectl-cp/README.md
  keps/sig-cli/2381-future-of-kubectl-cp/kep.yaml
  keps/sig-cli/2382-kustomize-exec-secret-generator/README.md
  keps/sig-cli/2382-kustomize-exec-secret-generator/kep.yaml
  keps/sig-cli/2383-extend-kustomize-patches-to-multiple-targets/README.md
  keps/sig-cli/2383-extend-kustomize-patches-to-multiple-targets/kep.yaml
  keps/sig-cli/2384-kustomize-file-processing-integration/README.md
  keps/sig-cli/2384-kustomize-file-processing-integration/kep.yaml
  keps/sig-cli/2385-kustomize-secret-generator-plugins/README.md
  keps/sig-cli/2385-kustomize-secret-generator-plugins/kep.yaml
  keps/sig-cli/2386-kustomize-subcommand-integration/README.md
  keps/sig-cli/2386-kustomize-subcommand-integration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cli, size/XL

#2350 Migrate KEP-1209 to new template
  keps/prod-readiness/sig-instrumentation/1209.yaml
  keps/sig-instrumentation/1209-metrics-stability/README.md
  keps/sig-instrumentation/1209-metrics-stability/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2352 intent to promote downward api for hugepages to beta
  keps/prod-readiness/sig-node/2053.yaml
  keps/sig-node/2053-downward-api-hugepages/README.md
  keps/sig-node/2053-downward-api-hugepages/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2345 Intention to promote SizeMemoryBackedVolumes to beta
  keps/prod-readiness/sig-node/1967.yaml
  keps/sig-node/1967-size-memory-backed-volumes/README.md
  keps/sig-node/1967-size-memory-backed-volumes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2397 Look at PRR approval request when querying KEPs
  pkg/kepctl/kepctl.go
  pkg/kepval/prrs/approvals.go
Labels: approved, area/enhancements, cncf-cla: yes, lgtm, size/M

#2387 Repo package cleanups/refactors
  api/approval.go
  api/document.go
  api/proposal.go
  cmd/kepctl/cmd/create.go
  cmd/kepctl/cmd/promote.go
  cmd/kepctl/cmd/query.go
  cmd/kepctl/cmd/root.go
  cmd/kepctl/create.go
  cmd/kepctl/main.go
  cmd/kepctl/promote.go
  cmd/kepctl/query.go
  cmd/kepify/main.go
  go.mod
  go.sum
  hack/verify-kep-metadata.sh
  pkg/kepctl/create.go
  pkg/kepctl/create_test.go
  pkg/kepctl/kepctl.go
  pkg/kepctl/kepctl_test.go
  pkg/kepctl/promote.go
  pkg/kepctl/query.go
  pkg/kepctl/query_test.go
  pkg/legacy/keps/proposals.go
  pkg/legacy/keps/proposals_test.go
  pkg/legacy/keps/validations/yaml.go
  pkg/legacy/keps/validations/yaml_test.go
  pkg/legacy/prrs/approvals.go
  pkg/legacy/prrs/approvals_test.go
  pkg/legacy/prrs/validations/yaml.go
  pkg/legacy/prrs/validations/yaml_test.go
  pkg/legacy/util/errors.go
  pkg/legacy/util/helpers.go
  test/OWNERS
  test/metadata_test.go
Labels: approved, area/enhancements, cncf-cla: yes, kind/api-change, lgtm, sig/contributor-experience, size/XXL

#2389 Migrate KEP process template to the new template
  keps/sig-architecture/0000-kep-process/README.md
  keps/sig-architecture/0000-kep-process/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/M

#2325 dualstack kep updates
  keps/sig-network/563-dual-stack/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2323 Add fsgroup mount proposal
  keps/prod-readiness/sig-storage/2317.yaml
  keps/sig-storage/2317-fsgroup-on-mount/README.md
  keps/sig-storage/2317-fsgroup-on-mount/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/L

#2396 KEP-19: Graduate CronJob to stable: update stage and milestone
  keps/prod-readiness/sig-apps/19.yaml
  keps/sig-apps/19-Graduate-CronJob-to-Stable/README.md
  keps/sig-apps/19-Graduate-CronJob-to-Stable/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/S

#2251 Add KEP for Pod Affinity NamespaceSelector
  keps/prod-readiness/sig-scheduling/2249.yaml
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/README.md
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/XL

#2410 Update new events KEP to indicate latest status
  keps/sig-instrumentation/383-new-event-api-ga-graduation/README.md
  keps/sig-instrumentation/383-new-event-api-ga-graduation/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/instrumentation, size/S

#2234 KEP 2232: add Suspend Job in implementable status
  keps/prod-readiness/sig-apps/2232.yaml
  keps/sig-apps/2232-suspend-jobs/README.md
  keps/sig-apps/2232-suspend-jobs/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2422 Add test plan section to ttl-after-finished KEP
  keps/sig-apps/592-ttl-after-finish/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XS

#1829 storage capacity: PRR and beta review
  keps/prod-readiness/sig-storage/1472.yaml
  keps/sig-storage/1472-storage-capacity-tracking/README.md
  keps/sig-storage/1472-storage-capacity-tracking/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/auth, sig/storage, size/XL

#2425 Revert "Merge pull request #2387 from justaugustus/cleanup"
  api/approval.go
  api/proposal.go
  cmd/kepctl/cmd/create.go
  cmd/kepctl/cmd/promote.go
  cmd/kepctl/cmd/query.go
  cmd/kepctl/cmd/root.go
  cmd/kepctl/create.go
  cmd/kepctl/helper.go
  cmd/kepctl/main.go
  cmd/kepctl/promote.go
  cmd/kepctl/query.go
  cmd/kepify/main.go
  cmd/kepval/main_test.go
  go.mod
  go.sum
  hack/verify-kep-metadata.sh
  pkg/kepctl/create.go
  pkg/kepctl/create_test.go
  pkg/kepctl/kepctl.go
  pkg/kepctl/kepctl_test.go
  pkg/kepctl/promote.go
  pkg/kepctl/query.go
  pkg/kepctl/query_test.go
  pkg/kepval/keps/proposals.go
  pkg/kepval/keps/proposals_test.go
  pkg/kepval/keps/validations/yaml.go
  pkg/kepval/keps/validations/yaml_test.go
  pkg/kepval/prrs/approvals.go
  pkg/kepval/prrs/approvals_test.go
  pkg/kepval/prrs/validations/yaml.go
  pkg/kepval/prrs/validations/yaml_test.go
  pkg/kepval/util/errors.go
  pkg/kepval/util/helpers.go
  test/OWNERS
Labels: approved, area/enhancements, cncf-cla: yes, kind/api-change, lgtm, priority/critical-urgent, size/XXL

#2362 Add completedIndexes to Indexed Job status
  keps/sig-apps/2214-indexed-job/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2427 Switch to the reserved port for opentelemetry
  keps/sig-instrumentation/647-apiserver-tracing/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#2421 add KEP 2420: Reducing Kubernetes Build Maintenance
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/README.md
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/kep.yml
Labels: approved, area/release-eng, cncf-cla: yes, kind/kep, lgtm, sig/release, sig/testing, size/XL

#2412 KEP-1845: update the alpha/beta milestones
  keps/prod-readiness/sig-storage/1845.yaml
  keps/sig-storage/1845-prioritization-on-volume-capacity/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/S

#2189 add KEP-2227 for default container used by kubectl
  keps/prod-readiness/sig-cli/2227.yaml
  keps/sig-cli/2227-kubectl-default-container/README.md
  keps/sig-cli/2227-kubectl-default-container/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#2233 Add KEP for random ReplicaSet downscale
  keps/prod-readiness/sig-apps/2185.yaml
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/README.md
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/kep.yaml
Labels: approved, cncf-cla: yes, kind/feature, kind/kep, lgtm, sig/apps, sig/scheduling, size/L

#2431 expand on GA requirements for metrics stability framework
  keps/prod-readiness/sig-instrumentation/1209.yaml
  keps/sig-instrumentation/1209-metrics-stability/README.md
  keps/sig-instrumentation/1209-metrics-stability/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2366 Adding KEP 2365: IngressClass Namespaced Params
  keps/prod-readiness/sig-network/2365.yaml
  keps/sig-network/2365-ingressclass-namespaced-params/README.md
  keps/sig-network/2365-ingressclass-namespaced-params/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2423 suspend job: fix kep.yaml title
  keps/sig-apps/2232-suspend-jobs/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XS

#2367 Update EndpointSlice GA to include zone for 1.21
  keps/prod-readiness/sig-network/0752.yaml
  keps/sig-network/0752-endpointslices/README.md
  keps/sig-network/0752-endpointslices/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/M

#2391 Migrating from old kep to new template: sig-cloud-provider keps
  keps/sig-cloud-provider/2390-reporting-conformance-test-results-to-testgrid/README.md
  keps/sig-cloud-provider/2390-reporting-conformance-test-results-to-testgrid/kep.yaml
  keps/sig-cloud-provider/2392-cloud-controller-manager/README.md
  keps/sig-cloud-provider/2392-cloud-controller-manager/kep.yaml
  keps/sig-cloud-provider/2393-cloud-provider-documentation/README.md
  keps/sig-cloud-provider/2393-cloud-provider-documentation/kep.yaml
  keps/sig-cloud-provider/2394-support-out-of-tree-AWS-cloud-provider/README.md
  keps/sig-cloud-provider/2394-support-out-of-tree-AWS-cloud-provider/kep.yaml
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/README.md
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cloud-provider, size/L

#2453 keps: Minor content fixes
  keps/sig-network/20190920-external-dns.md
  keps/sig-storage/1472-storage-capacity-tracking/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, sig/storage, size/XS

#2308 Add KEP for job tracking in implementable status
  keps/prod-readiness/sig-apps/2307.yaml
  keps/sig-apps/2307-job-tracking-wihout-lingering-pods/README.md
  keps/sig-apps/2307-job-tracking-wihout-lingering-pods/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2419 Apply Client KEP: promote to implementable, address community feedback
  keps/prod-readiness/sig-api-machinery/2155.yaml
  keps/sig-api-machinery/2155-clientgo-apply/README.md
  keps/sig-api-machinery/2155-clientgo-apply/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2444 chore(KEP-1441): fix a wrong command line option
  keps/sig-cli/1441-kubectl-debug/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/XS

#2439 Update stability KEP(s) with current status(es)
  keps/sig-instrumentation/1209-metrics-stability/20191028-metrics-stability-to-beta.md
  keps/sig-instrumentation/1209-metrics-stability/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/M

#2275 exec credential provider: prep for 1.21 (first pass at metrics design, PRR updates)
  keps/prod-readiness/sig-auth/541.yaml
  keps/sig-auth/541-external-credential-providers/README.md
  keps/sig-auth/541-external-credential-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/api-change, kind/kep, lgtm, ok-to-test, sig/auth, sig/instrumentation, size/L

#2437 Adding PRR for AppProtocol KEP
  keps/prod-readiness/sig-network/1507.yaml
  keps/sig-network/1507-app-protocol/README.md
  keps/sig-network/1507-app-protocol/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2260 prepare CSIServiceAccountToken for beta
  keps/prod-readiness/sig-storage/1855.yaml
  keps/sig-storage/1855-csi-driver-service-account-token/README.md
  keps/sig-storage/1855-csi-driver-service-account-token/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/cli, sig/instrumentation, sig/multicluster, sig/network, sig/release, sig/storage, size/M

#2430 Update structured logging for 1.21
  keps/prod-readiness/sig-instrumentation/1602.yaml
  keps/sig-instrumentation/1602-structured-logging/README.md
  keps/sig-instrumentation/1602-structured-logging/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#1830 generic ephemeral volumes: PRR and beta review
  keps/prod-readiness/sig-storage/1698.yaml
  keps/sig-storage/1698-generic-ephemeral-volumes/README.md
  keps/sig-storage/1698-generic-ephemeral-volumes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/storage, size/L

#2374 add missing PRR sections
  keps/prod-readiness/sig-auth/1205.yaml
  keps/sig-auth/1205-bound-service-account-tokens/README.md
  keps/sig-auth/1205-bound-service-account-tokens/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/L

#2459 Scope structured logging Beta
  keps/sig-instrumentation/1602-structured-logging/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#2404 Add GetAllocatableResource to PodResource API
  keps/prod-readiness/sig-node/2403.yaml
  keps/sig-node/2403-pod-resources-allocatable-resources/README.md
  keps/sig-node/2403-pod-resources-allocatable-resources/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/L

#2407 Make the KEP PRR template more structured markdown
  hack/update-toc.sh
  hack/verify-toc.sh
  keps/NNNN-kep-template/README.md
  keps/sig-api-machinery/20191210-consistent-reads-from-cache.md
  keps/sig-node/135-seccomp/README.md
  keps/sig-node/688-pod-overhead/README.md
  keps/sig-storage/1790-recover-resize-failure/README.md
Labels: approved, area/enhancements, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/node, sig/storage, size/L

#2455 Updates SIG CLI KEP 859 to new format
  keps/prod-readiness/sig-cli/859.yaml
  keps/sig-cli/859-kubectl-headers/README.md
  keps/sig-cli/859-kubectl-headers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/L

#2462 Clarify topology removal in GA API
  keps/sig-network/0752-endpointslices/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/network, size/XS

#2463 move Paginated API Lists from community repo
  keps/sig-api-machinery/365-paginated-lists/README.MD
  keps/sig-api-machinery/365-paginated-lists/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2241 Configurable probe termination grace periods
  keps/prod-readiness/sig-node/2238.yaml
  keps/sig-node/2238-liveness-probe-grace-period/README.md
  keps/sig-node/2238-liveness-probe-grace-period/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XL, tide/merge-method-squash

#2083 cloud controller manager migration: default values and lease types update.
  keps/sig-cloud-provider/991-cloud-controller-migration/README.md
  keps/sig-cloud-provider/991-cloud-controller-migration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#2441 KEP-2086: alpha prod readiness review
  keps/prod-readiness/sig-network/2086.yaml
  keps/sig-network/2086-service-internal-traffic-policy/README.md
  keps/sig-network/2086-service-internal-traffic-policy/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2434 Adding KEP 2433: Topology Aware Hints
  keps/prod-readiness/sig-network/2433.yaml
  keps/sig-network/2433-topology-aware-hints/README.md
  keps/sig-network/2433-topology-aware-hints/kep.yaml
Labels: approved, cncf-cla: yes, do-not-merge/hold, kind/kep, lgtm, sig/network, size/XL, tide/merge-method-squash

#2460 Migrating from old kep to new template - kep-number: 2330
  keps/sig-api-machinery/1101-immutable-fields/20191001-crd-immutability-pipeline.png
  keps/sig-api-machinery/2330-migrating-api-objects-to-latest-storage-version/README.md
  keps/sig-api-machinery/2330-migrating-api-objects-to-latest-storage-version/kep.yaml
  keps/sig-api-machinery/2332-pruning-for-custom-resources/20180731-crd-pruning-decoding.png
  keps/sig-api-machinery/2332-pruning-for-custom-resources/README.md
  keps/sig-api-machinery/2332-pruning-for-custom-resources/kep.yaml
  keps/sig-api-machinery/2333-legacyflags-kflag/README.md
  keps/sig-api-machinery/2333-legacyflags-kflag/kep.yaml
  keps/sig-api-machinery/2334-graduate-server-side-get-and-partial-objects-to-GA/README.md
  keps/sig-api-machinery/2334-graduate-server-side-get-and-partial-objects-to-GA/kep.yaml
  keps/sig-api-machinery/2335-vanilla-crd-openapi-subset-structural-schemas/20190425-structural-openapi-context.png
  keps/sig-api-machinery/2335-vanilla-crd-openapi-subset-structural-schemas/README.md
  keps/sig-api-machinery/2335-vanilla-crd-openapi-subset-structural-schemas/kep.yaml
  keps/sig-api-machinery/2336-OwnerReference-resource-field/README.md
  keps/sig-api-machinery/2336-OwnerReference-resource-field/kep.yaml
  keps/sig-api-machinery/2337-k8s.io-group-protection/README.md
  keps/sig-api-machinery/2337-k8s.io-group-protection/kep.yaml
  keps/sig-api-machinery/2338-graduate-API-gzip-compression-support-to-GA/README.md
  keps/sig-api-machinery/2338-graduate-API-gzip-compression-support-to-GA/kep.yaml
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/README.md
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/kep.yaml
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/kep.yaml
  keps/sig-api-machinery/2341-enabling-clients-to-tell-if-resource-endpoints-serve-the-same-set-of-objects/README.md
  keps/sig-api-machinery/2341-enabling-clients-to-tell-if-resource-endpoints-serve-the-same-set-of-objects/kep.yaml
  keps/sig-api-machinery/2342-exposing-hashed-storage-versions-via-the-discovery-API/README.md
  keps/sig-api-machinery/2342-exposing-hashed-storage-versions-via-the-discovery-API/kep.yaml
  keps/sig-api-machinery/2343-automated-storage-version-migration-with-storage-version-hash/README.md
  keps/sig-api-machinery/2343-automated-storage-version-migration-with-storage-version-hash/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XL

#2440 Autodelete StatefulSet PVCs
  keps/prod-readiness/sig-apps/1847.yaml
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
  keps/sig-apps/1847-autoremove-statefulset-pvcs/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2466 Fix links to the KEP on the KEP process
  keps/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, size/XS

#2286 Update volume health KEP
  keps/prod-readiness/sig-storage/1432.yaml
  keps/sig-storage/1432-volume-health-monitor/README.md
  keps/sig-storage/1432-volume-health-monitor/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, sig/storage, size/L

#2428 Move tracing to 1.21 milestone
  keps/prod-readiness/sig-instrumentation/647.yaml
  keps/sig-instrumentation/647-apiserver-tracing/README.md
  keps/sig-instrumentation/647-apiserver-tracing/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2476 confirm PRR reviewer for insecure-skip-backend-proxy
  keps/prod-readiness/sig-api-machinery/1295.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2456 Submitting a KEP for production readiness approval
  keps/prod-readiness/sig-node/1769.yaml
  keps/sig-node/1769-memory-manager/README.md
  keps/sig-node/1769-memory-manager/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/M

#2405 Update Server Side Apply KEP for 1.21 GA
  keps/prod-readiness/sig-api-machinery/555.yaml
  keps/sig-api-machinery/555-server-side-apply/README.md
  keps/sig-api-machinery/555-server-side-apply/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2457 KEP-2133: add beta milestone and prod readiness review
  keps/prod-readiness/sig-node/2133.yaml
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2418 Add KEP for enabling CRIContainerLogRotation by default
  keps/prod-readiness/sig-node/2411.yaml
  keps/sig-node/2411-cri-container-log-rotation/README.md
  keps/sig-node/2411-cri-container-log-rotation/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/L

#2442 KEP-1959: add prod readiness review for alpha
  keps/prod-readiness/sig-cloud-provider/1959.yaml
  keps/sig-cloud-provider/1959-service-lb-class-field/README.md
  keps/sig-cloud-provider/1959-service-lb-class-field/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#1690 Propose removing and security context for Ephemeral Containers
  keps/sig-node/277-ephemeral-containers/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/L

#2244 Update Ephemeral Containers KEP for beta in 1.21
  keps/prod-readiness/sig-node/277.yaml
  keps/sig-node/277-ephemeral-containers/README.md
  keps/sig-node/277-ephemeral-containers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/L

#2416 Update DaemonSet KEP for Alpha in 1.21
  keps/prod-readiness/sig-apps/1591.yaml
  keps/sig-apps/1591-daemonset-surge/README.md
  keps/sig-apps/1591-daemonset-surge/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2471 Migrate KEP-34 to new template
  keps/prod-readiness/sig-node/34.yaml
  keps/sig-node/34-sysctl-fields/README.md
  keps/sig-node/34-sysctl-fields/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/L

#2473 [KEP-1933] Production Readiness Review.
  keps/prod-readiness/sig-instrumentation/1933.yaml
  keps/sig-instrumentation/1933-secret-logging-static-analysis/README.md
  keps/sig-instrumentation/1933-secret-logging-static-analysis/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#2443 KEP-2395 Introduce feature gates DisableCloudProviders and DisableKubeletCloudCredentialProvider
  keps/prod-readiness/sig-cloud-provider/2395.yaml
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/README.md
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#2432 Update CSI Migration Kep to include PRRQ
  keps/prod-readiness/sig-storage/625.yaml
  keps/sig-storage/625-csi-migration/README.md
  keps/sig-storage/625-csi-migration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/L

#2066 KEP-1864: add prod readiness review and beta milestone
  keps/prod-readiness/sig-network/1864.yaml
  keps/sig-network/1864-disable-lb-node-ports/README.md
  keps/sig-network/1864-disable-lb-node-ports/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2472 KEP 2000: Update graceful shutdown KEP for beta
  keps/prod-readiness/sig-node/2000.yaml
  keps/sig-node/2000-graceful-node-shutdown/README.md
  keps/sig-node/2000-graceful-node-shutdown/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2327 Update dual stack KEP metadata to include status and PRR fields
  keps/prod-readiness/sig-network/563.yaml
  keps/sig-network/563-dual-stack/README.md
  keps/sig-network/563-dual-stack/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2469 Update Reducing Kubernetes Build Maintenance to implementable
  keps/prod-readiness/sig-testing/2420.yaml
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/README.md
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/L

#2461 Added KEP for Node Resource Score Strategy
  keps/prod-readiness/sig-scheduling/2458.yaml
  keps/sig-scheduling/2458-node-resource-score-strategy/README.md
  keps/sig-scheduling/2458-node-resource-score-strategy/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/XL

#2284 apiserver default labels ~ Implementable
  keps/prod-readiness/sig-api-machinery/2161.yaml
  keps/sig-api-machinery/2161-apiserver-default-labels/README.md
  keps/sig-api-machinery/2161-apiserver-default-labels/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/apps, sig/auth, sig/instrumentation, sig/network, sig/release, sig/scheduling, sig/storage, size/M

#2475 Update CRI kep with latest status
  keps/prod-readiness/sig-node/2040.yaml
  keps/sig-node/2040-kubelet-cri/README.md
  keps/sig-node/2040-kubelet-cri/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2417 Update pod resource metrics KEP for beta with PRR
  keps/prod-readiness/sig-instrumentation/1748.yaml
  keps/sig-instrumentation/1748-pod-resource-metrics/README.md
  keps/sig-instrumentation/1748-pod-resource-metrics/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2056 Reformat populators KEP
  keps/prod-readiness/sig-storage/1495.yaml
  keps/sig-storage/1495-generic-data-populators/README.md
  keps/sig-storage/1495-generic-data-populators/kep.yaml
  keps/sig-storage/1495-volume-populators/README.md
  keps/sig-storage/1495-volume-populators/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/XL

#2465 Add KEP 2464: Kubetest2 CI migration
  keps/sig-testing/2464-kubetest2-ci-migration/README.md
  keps/sig-testing/2464-kubetest2-ci-migration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/XL

#2477 KEP-2436 PRR: Controller Manager Leader Migration to alpha
  keps/prod-readiness/sig-cloud-provider/2436.yaml
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/kep.yaml
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/migrating-cloud-controllers-v1-17.png
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/migrating-cloud-controllers-v1-18.png
  keps/sig-cloud-provider/991-cloud-controller-migration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#2025 KEP: Extending Apiserver Network Proxy to handle traffic originated from Node network
  keps/prod-readiness/sig-cloud-provider/2025.yaml
  keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions/README.md
  keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cloud-provider, size/L

#2130 Add KEP for removing cAdvisor json metrics
  keps/prod-readiness/sig-node/2129.yaml
  keps/sig-node/2129-remove-cadvisor-json-metrics/README.md
  keps/sig-node/2129-remove-cadvisor-json-metrics/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, sig/node, size/L

#2468 Update the metric cardinality kep
  keps/prod-readiness/sig-instrumentation/2305.yaml
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/README.md
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2479 Move Kubetest2 CI migration to implementable
  keps/prod-readiness/sig-testing/2464.yaml
  keps/sig-testing/2464-kubetest2-ci-migration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/S

#1974 Promote RunAsGroup to GA
  keps/prod-readiness/sig-node/213.yaml
  keps/sig-node/213-run-as-group/README.md
  keps/sig-node/213-run-as-group/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, size/L

#2482 keps: Fix incorrect stages on PRR targeting v1.21
  keps/prod-readiness/sig-storage/625.yaml
  keps/sig-api-machinery/2161-apiserver-default-labels/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#2483 Remove the restriction on empty namespaceSelector in podaffinity
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#2409 api: Update field validations for `Document`s
  api/apifakes/fake_document.go
  api/apifakes/fake_file.go
  api/approval.go
  api/approval_test.go
  api/document.go
  api/error.go
  api/groups.go
  api/proposal.go
  cmd/kepctl/cmd/create.go
  cmd/kepctl/cmd/promote.go
  cmd/kepctl/cmd/query.go
  cmd/kepctl/cmd/root.go
  cmd/kepctl/create.go
  cmd/kepctl/helper.go
  cmd/kepctl/main.go
  cmd/kepctl/promote.go
  cmd/kepctl/query.go
  cmd/kepify/main.go
  cmd/kepval/main_test.go
  go.mod
  go.sum
  hack/verify-kep-metadata.sh
  pkg/kepctl/create.go
  pkg/kepctl/create_test.go
  pkg/kepctl/kepctl.go
  pkg/kepctl/kepctl_test.go
  pkg/kepctl/promote.go
  pkg/kepctl/query.go
  pkg/kepctl/query_test.go
  pkg/kepval/approval.go
  pkg/kepval/approval_test.go
  pkg/kepval/repository.go
  pkg/legacy/keps/proposals.go
  pkg/legacy/keps/proposals_test.go
  pkg/legacy/keps/validations/yaml.go
  pkg/legacy/keps/validations/yaml_test.go
  pkg/legacy/prrs/approvals.go
  pkg/legacy/prrs/approvals_test.go
  pkg/legacy/prrs/validations/yaml.go
  pkg/legacy/prrs/validations/yaml_test.go
  pkg/legacy/util/errors.go
  pkg/legacy/util/helpers.go
  test/OWNERS
  test/metadata_test.go
Labels: approved, area/enhancements, area/provider/aws, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/api-machinery, sig/network, sig/storage, size/XXL

#2452 Migrating from old kep to new template: sig-storage
  keps/sig-storage/2451-service-account-token-volumes/README.md
  keps/sig-storage/2451-service-account-token-volumes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#2486 Fix image links in KEP 2436
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/XS

#2481 updated Dockershim KEP and postponed graduation date for one release
  keps/sig-node/2221-remove-dockershim/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2446 Migrating from old kep to new template: sig-network
  keps/sig-network/0030-nodelocal-dns-cache.md
  keps/sig-network/2447-Make-kube-proxy-service-abstraction-optional/README.md
  keps/sig-network/2447-Make-kube-proxy-service-abstraction-optional/kep.yaml
  keps/sig-network/2448-Remove-kube-proxy-automatic-clean-up-logic/README.md
  keps/sig-network/2448-Remove-kube-proxy-automatic-clean-up-logic/kep.yaml
  keps/sig-network/2449-move-externalDNS-out-of-kubernetes-incubator/README.md
  keps/sig-network/2449-move-externalDNS-out-of-kubernetes-incubator/kep.yaml
  keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules/README.md
  keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2493 Migrating from old kep to new template: sig-cluster-lifecycle
  keps/sig-cluster-lifecycle/addons/2492-Addons-via-Operators/README.md
  keps/sig-cluster-lifecycle/addons/2492-Addons-via-Operators/kep.yaml
  keps/sig-cluster-lifecycle/addons/2494-Manifest-Bundle/README.md
  keps/sig-cluster-lifecycle/addons/2494-Manifest-Bundle/kep.yaml
  keps/sig-cluster-lifecycle/clusterapi/2495-Kubernetes-Cluster-Management-API/README.md
  keps/sig-cluster-lifecycle/clusterapi/2495-Kubernetes-Cluster-Management-API/kep.yaml
  keps/sig-cluster-lifecycle/etcdadm/2496-etcdadm/README.md
  keps/sig-cluster-lifecycle/etcdadm/2496-etcdadm/kep.yaml
  keps/sig-cluster-lifecycle/image-builder/2497-Kubernetes-Image-Builder/README.md
  keps/sig-cluster-lifecycle/image-builder/2497-Kubernetes-Image-Builder/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#2511 Fix typos in structured logging KEP README
  keps/sig-instrumentation/1602-structured-logging/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/instrumentation, size/S

#2484 Add ehashman to PRR team
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2478 KEP 2200 (block externalIPs) is implemented
  keps/sig-network/2200-externalips-admission/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS

#2491 Small typo in year
  keps/sig-node/2221-remove-dockershim/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/node, size/XS

#2487 Merge two separate NodeLocalDNS KEPs
  keps/sig-network/0030-nodelocal-dns-cache.md
  keps/sig-network/1024-nodelocal-cache-dns/README.md
  keps/sig-network/1024-nodelocal-cache-dns/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2516 Update KEP 1020 status to implemented
  keps/sig-cli/1020-kubectl-staging/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/XS

#2515 elaborate on the decision to make spec.signer required for CSRs
  keps/sig-auth/1513-certificate-signing-request/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/S

#2499 Migrating from old kep to new template: sig-cluster-lifecycle - kubeadm
  keps/sig-cluster-lifecycle/kubeadm/0023-documentation-for-images.md
  keps/sig-cluster-lifecycle/kubeadm/2498-Kubeadm-Config-versioning/README.md
  keps/sig-cluster-lifecycle/kubeadm/2498-Kubeadm-Config-versioning/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2500-kubeadm-join-control-plane-workflow/README.md
  keps/sig-cluster-lifecycle/kubeadm/2500-kubeadm-join-control-plane-workflow/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2501-kubeadm-phases-to-beta/README.md
  keps/sig-cluster-lifecycle/kubeadm/2501-kubeadm-phases-to-beta/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2502-Certificates-copy-for-join-control-plane/README.md
  keps/sig-cluster-lifecycle/kubeadm/2502-Certificates-copy-for-join-control-plane/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2503-Artifact-Generation/README.md
  keps/sig-cluster-lifecycle/kubeadm/2503-Artifact-Generation/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2504-kubeadm-machine-output/README.md
  keps/sig-cluster-lifecycle/kubeadm/2504-kubeadm-machine-output/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2505-Kubeadm-operator/20190916-kubeadm-operator.png
  keps/sig-cluster-lifecycle/kubeadm/2505-Kubeadm-operator/README.md
  keps/sig-cluster-lifecycle/kubeadm/2505-Kubeadm-operator/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config/README.md
  keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/L

#2288 KEP 1981: Windows privileged container KEP updates for alpha
  keps/prod-readiness/sig-windows/1981.yaml
  keps/sig-windows/1981-windows-privileged-container-support/README.md
  keps/sig-windows/1981-windows-privileged-container-support/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/node, sig/windows, size/L, tide/merge-method-squash

#2521 Minor kepval changes to better validate dir-based templates
  pkg/kepval/repository.go
Labels: approved, area/enhancements, cncf-cla: yes, lgtm, size/S

#2520 Cleanup metadata in metrics stability kep
  keps/sig-api-machinery/1693-warnings/README.md
  keps/sig-instrumentation/1209-metrics-stability/README.md
  keps/sig-instrumentation/1209-metrics-stability/kep.yaml
  keps/sig-instrumentation/1209-metrics-stability/kubernetes-control-plane-metrics-stability.md
  keps/sig-instrumentation/1209-metrics-stability/metrics-stability-migration.md
  keps/sig-instrumentation/1209-metrics-stability/metrics-stability-to-beta.md
  keps/sig-instrumentation/1209-metrics-stability/metrics-validation-and-verification.md
  keps/sig-instrumentation/647-apiserver-tracing/README.md
  keps/sig-node/727-resource-metrics-endpoint/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/instrumentation, sig/node, size/L

#2514 update README to link 1.21 sheet and link issue template
  README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#2488 Add log volume benchmark
  keps/sig-instrumentation/1602-structured-logging/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#2080 keps/NNNN-kep-template: Add note about test refactors
  keps/NNNN-kep-template/README.md
Labels: approved, area/enhancements, cncf-cla: yes, kind/kep, lgtm, size/XS

#2524 Migrate remaining SIG api-machinery KEP to new template
  keps/sig-api-machinery/2523-consistent-resource-versions-semantics/README.md
  keps/sig-api-machinery/2523-consistent-resource-versions-semantics/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#2533 Migrate remaining cloud-provider KEPs to new template
  keps/sig-cloud-provider/providers/0000-cloud-provider-template/README.md
  keps/sig-cloud-provider/providers/0000-cloud-provider-template/kep.yaml
  keps/sig-cloud-provider/providers/2530-alibaba-cloud/README.md
  keps/sig-cloud-provider/providers/2530-alibaba-cloud/kep.yaml
  keps/sig-cloud-provider/providers/2531-baidu-cloud/README.md
  keps/sig-cloud-provider/providers/2531-baidu-cloud/kep.yaml
  keps/sig-cloud-provider/providers/2532-huawei-cloud/README.md
  keps/sig-cloud-provider/providers/2532-huawei-cloud/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/L

#2529 Add e2e tests requirements for Beta structured logging
  keps/sig-instrumentation/1602-structured-logging/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS, tide/merge-method-squash

#2536 Enforce KEP number and fixup extraneous markdown documents
  api/proposal.go
  hack/.notableofcontents
  keps/provider-aws/README.md
  keps/sig-apps/README.md
  keps/sig-autoscaling/README.md
  keps/sig-cli/FAQ.md
  keps/sig-cluster-lifecycle/clusterapi/FAQ.md
  keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config/documentation-for-images.md
  keps/sig-network/README.md
  pkg/kepval/repository.go
Labels: approved, area/enhancements, area/provider/aws, cncf-cla: yes, kind/api-change, kind/kep, lgtm, sig/apps, sig/autoscaling, sig/cli, sig/cluster-lifecycle, sig/network, size/M

#2525 Add manual test for removal of endpoints
  keps/sig-node/2129-remove-cadvisor-json-metrics/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2538 Update KEP 1904 with upgrade test results
  keps/sig-api-machinery/1904-efficient-watch-resumption/README.md
  keps/sig-api-machinery/1904-efficient-watch-resumption/with_feature_metrics.png
  keps/sig-api-machinery/1904-efficient-watch-resumption/without_feature_metrics.png
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/S

#2429 Move log sanitization to SIG Security
  keps/sig-security/1753-logs-sanitization/README.md
  keps/sig-security/1753-logs-sanitization/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/security, size/XS

#2542 Update target stable milestone for scheduler CC
  keps/sig-scheduling/1451-multi-scheduling-profiles/kep.yaml
  keps/sig-scheduling/785-scheduler-component-config-api/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/XS

#2528 Repo package cleanups/refactors (part two)
  .githooks/pre-commit
  api/proposal.go
  cmd/kepctl/cmd/create.go
  cmd/kepctl/cmd/promote.go
  cmd/kepctl/cmd/query.go
  cmd/kepctl/main.go
  cmd/kepify/main.go
  go.mod
  go.sum
  pkg/kepctl/commands/commands.go
  pkg/kepctl/commands/create.go
  pkg/kepctl/commands/promote.go
  pkg/kepctl/commands/query.go
  pkg/kepctl/testdata/keps/sig-architecture/123-newstyle/kep.yaml
  pkg/kepctl/testdata/keps/sig-architecture/20200115-kubectl-diff.md
  pkg/kepctl/testdata/keps/sig-architecture/20200528-newstyle.md
  pkg/kepctl/testdata/templates/README.md
  pkg/kepval/approval.go
  pkg/kepval/repository.go
  pkg/legacy/keps/proposals.go
  pkg/proposal/create.go
  pkg/proposal/options.go
  pkg/proposal/promote.go
  pkg/repo/output.go
  pkg/repo/query.go
  pkg/repo/query_test.go
  pkg/repo/repo.go
  pkg/repo/repo_test.go
  pkg/repo/testdata/invalid-kep.yaml
  pkg/repo/testdata/repos/valid/keps/NNNN-kep-template/README.md
  pkg/repo/testdata/repos/valid/keps/NNNN-kep-template/kep.yaml
  pkg/repo/testdata/repos/valid/keps/README.md
  pkg/repo/testdata/repos/valid/keps/sig-architecture/123-newstyle/README.md
  pkg/repo/testdata/repos/valid/keps/sig-architecture/123-newstyle/figure.png
  pkg/repo/testdata/repos/valid/keps/sig-architecture/123-newstyle/kep.yaml
  pkg/repo/testdata/repos/valid/keps/sig-architecture/123-newstyle/some-file.md
  pkg/repo/testdata/valid-kep.yaml
  pkg/repo/validate.go
  pkg/repo/validate_test.go
  pkg/repo/write.go
  pkg/repo/write_test.go
  test/metadata_test.go
Labels: approved, area/enhancements, cncf-cla: yes, kind/api-change, lgtm, size/XXL

#2303 Update KEP-1933 owners, release state, and history.
  keps/prod-readiness/sig-security/1933.yaml
  keps/sig-security/1933-secret-logging-static-analysis/README.md
  keps/sig-security/1933-secret-logging-static-analysis/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, sig/security, size/XS
