Repository kubernetes/enhancements, pull requests merged in 2021-01, with the labels that each got.

#2228 KEP-2225: Add implementation history and implemented stats
  keps/sig-contributor-experience/2225-contributor-site/README.md
  keps/sig-contributor-experience/2225-contributor-site/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/contributor-experience, size/S

#2235 convert to new dir structure
  keps/sig-api-machinery/1295-insecure-backend-proxy/README.md
  keps/sig-api-machinery/1295-insecure-backend-proxy/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/M

#2132 KEP-1819: notes on the order of extenders
  keps/sig-scheduling/1819-scheduler-extender/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#2156 Provisional KEP: Apply for client-go's typed clients
  keps/sig-api-machinery/2144-clientgo-apply/README.md
  keps/sig-api-machinery/2144-clientgo-apply/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XL

#2222 created an enhancement issue for dockershim removal
  keps/sig-node/2221-remove-dockershim/README.md
  keps/sig-node/2221-remove-dockershim/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2226 Fix a broken link
  keps/sig-node/585-runtime-class/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/node, size/XS

#2240 Disable enforcement of PRR requirements
  cmd/kepval/main_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2151 KEP-2133: kubelet credential provider plugins
  keps/sig-cloud-provider/2133-out-of-tree-credential-provider/kep.yaml
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, sig/node, size/XL

#2169 Add README for cluster-api keps
  hack/.notableofcontents
  keps/sig-cluster-lifecycle/clusterapi/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#2247 Fixed kepctl compile error
  pkg/kepval/keps/proposals.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#2188 Mark the KEP of "prefer nominated node" as "implementable"
  keps/prod-readiness/sig-scheduling/1923.yaml
  keps/sig-scheduling/1923-prefer-nominated-node/README.md
  keps/sig-scheduling/1923-prefer-nominated-node/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/L

#2236 Move keps/sig-auth/1687 to implementable
  keps/sig-auth/1687-hierarchical-namespaces-subproject/README.md
  keps/sig-auth/1687-hierarchical-namespaces-subproject/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/XS

#2250 Remove stale "Pod affinity/anti-affinity supports Gt and Lt operators" KEP
  keps/sig-scheduling/20190312-pod-affinity-and-anti-affinity-support-gt-and-lt-operators.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/M

#2253 Mark release notes KEP as implemented
  keps/sig-release/1733-release-notes/README.md
  keps/sig-release/1733-release-notes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/release, size/S

#1828 Create 20200529-pod-cost-annotations
  keps/sig-apps/2255-pod-cost/README.md
  keps/sig-apps/2255-pod-cost/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, sig/architecture, size/L, tide/merge-method-squash

#2252 Migrate cgroup-v2 kep to new template
  keps/sig-node/2254-cgroup-v2/README.md
  keps/sig-node/2254-cgroup-v2/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2262 Move mount library staging kep to new format
  keps/sig-storage/2261-staging-mount-library/README.md
  keps/sig-storage/2261-staging-mount-library/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#2265 Convert storage keps to new format
  keps/sig-storage/2263-volume-scale-testing/README.md
  keps/sig-storage/2263-volume-scale-testing/kep.yaml
  keps/sig-storage/2264-csi-release-ci-process/README.md
  keps/sig-storage/2264-csi-release-ci-process/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/L

#2114 Update KEP for graduating PodDisruptionBudget to GA
  keps/prod-readiness/sig-apps/85.yaml
  keps/sig-apps/20190318-PodDisruptionBudget-graduation-to-stable.md
  keps/sig-apps/85-Graduate-PDB-to-Stable/README.md
  keps/sig-apps/85-Graduate-PDB-to-Stable/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2162 Apiserver namespace labels
  keps/sig-api-machinery/2161-apiserver-default-labels/README.md
  keps/sig-api-machinery/2161-apiserver-default-labels/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2270 michmike vacating sig-windows chair position
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2267 Update "Efficient watch resumption KEP" to target Beta graduation in 1.21
  keps/sig-api-machinery/1904-efficient-watch-resumption/README.md
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2281 Set latest-milestone back to 1.20
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#2246 Updates the ttl-to-finished KEP to graduate the feature to Beta.
  keps/prod-readiness/sig-apps/592.yaml
  keps/sig-apps/592-ttl-after-finish/README.md
  keps/sig-apps/592-ttl-after-finish/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2293 describe mechanics of handling beta removal to avoid developer disruption
  keps/sig-architecture/1635-prevent-permabeta/README.md
  keps/sig-architecture/1635-prevent-permabeta/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/S

#2274 PRR Approval for Beta of efficient watch resumption KEP
  keps/prod-readiness/sig-api-machinery/1904.yaml
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#2287 Change snapshot validation webhook KEP status to implemented
  keps/sig-storage/1900-volume-snapshot-validation-webhook/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/XS

#2150 ClusterID for ClusterSet identification
  keps/sig-multicluster/2149-clusterid/README.md
  keps/sig-multicluster/2149-clusterid/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/multicluster, size/XL, tide/merge-method-squash

#2231 added `openapi features in kustomize` kep
  keps/sig-cli/2206-openapi-features-in-kustomize/README.md
  keps/sig-cli/2206-openapi-features-in-kustomize/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/cli, size/L

#2259 prepare KEP for bound beta and rootca ga
  keps/sig-auth/1205-bound-service-account-tokens/README.md
  keps/sig-auth/1205-bound-service-account-tokens/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/S

#2306 Instrumentation cleanup
  keps/sig-instrumentation/1013-metrics-watch-api/README.md
  keps/sig-instrumentation/1013-metrics-watch-api/kep.yaml
  keps/sig-instrumentation/1206-metrics-overhaul/README.md
  keps/sig-instrumentation/1206-metrics-overhaul/kep.yaml
  keps/sig-instrumentation/1209-metrics-stability/20190404-kubernetes-control-plane-metrics-stability.md
  keps/sig-instrumentation/1209-metrics-stability/20190605-metrics-stability-migration.md
  keps/sig-instrumentation/1209-metrics-stability/20190605-metrics-validation-and-verification.md
  keps/sig-instrumentation/1209-metrics-stability/20191028-metrics-stability-to-beta.md
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/README.md
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/L

#2237 update insecure-backend-proxy feature to target GA. Add PRR
  keps/sig-api-machinery/1295-insecure-backend-proxy/README.md
  keps/sig-api-machinery/1295-insecure-backend-proxy/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, sig/auth, size/L

#2304 Resolve apply options issues for Apply for client-go KEP
  keps/sig-api-machinery/2144-clientgo-apply/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/api-machinery, size/M

#2280 Re-enable PRR approval requirement
  cmd/kepval/main_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2272 Promote pod deletion cost KEP to implementable
  keps/prod-readiness/sig-apps/2255.yaml
  keps/sig-apps/2255-pod-cost/README.md
  keps/sig-apps/2255-pod-cost/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2318 Updates to KEP 563: test plan, graduation criteria
  keps/sig-network/563-dual-stack/README.md
  keps/sig-network/563-dual-stack/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#2316 Migrated KEP to new format - provider-aws
  keps/provider-aws/2313-aws-k8s-tester/20181126-aws-k8s-tester-figure-01.png
  keps/provider-aws/2313-aws-k8s-tester/20181126-aws-k8s-tester-figure-02.png
  keps/provider-aws/2313-aws-k8s-tester/README.md
  keps/provider-aws/2313-aws-k8s-tester/kep.yaml
  keps/provider-aws/2314-custom-endpoints-support-for-aws-cloud-provider/README.md
  keps/provider-aws/2314-custom-endpoints-support-for-aws-cloud-provider/kep.yaml
  keps/provider-aws/2315-aws-loadbalancer-prefix/README.md
  keps/provider-aws/2315-aws-loadbalancer-prefix/kep.yaml
Labels: approved, area/provider/aws, cncf-cla: yes, kind/kep, lgtm, ok-to-test, size/L

#2292 Migrated KEP to new format - sig-testing
  keps/sig-testing/2290-new-label-for-trusted-PR-identification/README.md
  keps/sig-testing/2290-new-label-for-trusted-PR-identification/kep.yaml
  keps/sig-testing/2291-presubmit-config-inside-the-tested-repo/README.md
  keps/sig-testing/2291-presubmit-config-inside-the-tested-repo/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/testing, size/M

#2329 Migrate KEP 2328 to new format
  keps/sig-cloud-provider/azure/2328-ccm-instance-metadata/README.md
  keps/sig-cloud-provider/azure/2328-ccm-instance-metadata/kep.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/M

#2295 Update Graceful Node Shutdown KEP 1.20 Alpha
  keps/sig-node/2000-graceful-node-shutdown/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2242 Updated kep.yaml for exec timeout to "implemented"
  keps/sig-node/1972-kubelet-exec-probe-timeouts/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2296 chore: fix broken links in KEP-277
  keps/sig-node/277-ephemeral-containers/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2177 Mark KEP 606-compute-device-assignment as implemented
  keps/sig-node/606-compute-device-assignment/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2243 Updating to reflect the today state of PodOverhead
  keps/sig-node/688-pod-overhead/README.md
  keps/sig-node/688-pod-overhead/kep.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/node, size/XS

#2294 Updated graduation criteria for ExecProbeTimeout removal
  keps/sig-node/1972-kubelet-exec-probe-timeouts/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2266 Migrated KEP to new format | sig-node | kubelet-container-resources-cri-api-changes
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
  keps/sig-node/2273-kubelet-container-resources-cri-api-changes/README.md
  keps/sig-node/2273-kubelet-container-resources-cri-api-changes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/M

#2344 Update to KEP 563 - documenting additional tests
  keps/sig-network/563-dual-stack/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/S

#2245 Add KEP for Indexed Job in implementable status
  keps/prod-readiness/sig-apps/2214.yaml
  keps/sig-apps/2214-indexed-job/README.md
  keps/sig-apps/2214-indexed-job/kep.yaml
Labels: api-review, approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2282 Additional query options to kepctl query - author, approver
  cmd/kepctl/query.go
  pkg/kepctl/query.go
Labels: approved, area/enhancements, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/release, size/S

#2298 query_test.go added - TestValidate method defined
  pkg/kepctl/query.go
  pkg/kepctl/query_test.go
Labels: approved, area/enhancements, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/release, size/M

#2351 Page through all PRs
  pkg/kepctl/kepctl.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2176 KEP 2200: Block service ExternalIPs via admission
  keps/prod-readiness/sig-network/2200.yaml
  keps/sig-network/2200-externalips-admission/README.md
  keps/sig-network/2200-externalips-admission/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/L

#2256 Update Kui KEP to new template
  keps/sig-cli/2257-kui/README.md
  keps/sig-cli/2257-kui/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cli, size/M

#2346 api: Initial commit
  api/proposal.go
  cmd/kepify/main.go
  pkg/kepctl/create.go
  pkg/kepctl/create_test.go
  pkg/kepctl/kepctl.go
  pkg/kepctl/kepctl_test.go
  pkg/kepctl/query.go
  pkg/kepval/keps/proposals.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2199 Add some more answers into PRR review in EndPort kep
  keps/prod-readiness/sig-network/2079.yaml
  keps/sig-network/2079-network-policy-port-range/README.md
  keps/sig-network/2079-network-policy-port-range/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/M

#2356 Add alisondy to sig-contributor-experience-leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2320 kepctl: add support to query all SIGs
  cmd/kepctl/query.go
  pkg/kepctl/query.go
Labels: approved, area/enhancements, cncf-cla: yes, kind/feature, lgtm, sig/architecture, sig/release, size/S

#2122 modify error url
  keps/sig-cli/1441-kubectl-debug/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, lifecycle/stale, ok-to-test, sig/cli, size/XS

#2363 Add PRR survey to OIDC Discovery KEP
  keps/prod-readiness/sig-auth/1393.yaml
  keps/sig-auth/1393-oidc-discovery/README.md
  keps/sig-auth/1393-oidc-discovery/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/L

#2373 Move node label quota to new KEP format
  keps/sig-scheduling/2372-node-labels-quota/README.md
  keps/sig-scheduling/2372-node-labels-quota/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/M

#2361 Migrating from old kep to new template - kep-number: 2360
  keps/sig-apps/2360-optional-service-environment-variables/README.md
  keps/sig-apps/2360-optional-service-environment-variables/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, size/M

#2357 Fix query cmd `opts.Validate` and test func name
  cmd/kepctl/query.go
  pkg/kepctl/query_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M
