Repository kubernetes/enhancements, pull requests merged in 2021-10, with the labels that each got.

#2998 SIG-CLI: KnVerey to lead, pwittrock to emeritus
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2942 [KEP-1933] Correct stable version to 1.23, not 1.22
  keps/prod-readiness/sig-security/1933.yaml
  keps/sig-security/1933-secret-logging-static-analysis/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep, sig/security

#2991 api: add Stage and Status types, require more fields
  api/approval.go
  api/approval_test.go
  api/error.go
  api/proposal.go
  keps/sig-network/2449-move-externalDNS-out-of-kubernetes-incubator/kep.yaml
  keps/sig-scheduling/964-binpacking-priority/kep.yaml
  pkg/kepctl/commands/create.go
  pkg/kepval/approval.go
  pkg/output/output.go
  pkg/proposal/create.go
  pkg/proposal/promote.go
  pkg/repo/query.go
  pkg/repo/query_test.go
  pkg/repo/repo_test.go
  pkg/repo/testdata/invalid-kep.yaml
  pkg/repo/testdata/invalid-owning-sig.yaml
  pkg/repo/testdata/invalid-prr-approver.yaml
  pkg/repo/testdata/invalid-stage.yaml
  pkg/repo/testdata/invalid-status.yaml
  pkg/repo/testdata/repos/valid/keps/sig-owns-participates/1-the-bare-minimum/kep.yaml
  pkg/repo/testdata/valid-kep-full.yaml
  pkg/repo/testdata/valid-kep-minimum.yaml
  pkg/repo/write_test.go
Labels: sig/network, sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/api-change, kind/kep, area/enhancements

#2990 [PodSecurity] Update monitoring proposal
  keps/sig-auth/2579-psp-replacement/README.md
  keps/sig-auth/2579-psp-replacement/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep
