Repository kubernetes/enhancements, pull requests merged in 2021-03, with the labels that each got.

#2549 1602-structured-logging: add note about excluded components
  keps/sig-instrumentation/1602-structured-logging/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#2540 KEP: (sig-testing) continuously deploy k8s prow
  keps/sig-testing/2539-continuously-deploy-k8s-prow/README.md
  keps/sig-testing/2539-continuously-deploy-k8s-prow/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/L

#2550 OWNERS: Update Enhancements subproject owners
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2526 Apiserver tracing updates
  keps/sig-instrumentation/647-apiserver-tracing/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/M

#2507 Update cgroup v2 deps status
  keps/sig-node/2254-cgroup-v2/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, sig/node, size/XS

#2557 suspend jobs: add note about StartTime and ADS
  keps/sig-apps/2232-suspend-jobs/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/S

#2547 Update CRIContainerLogRotation KEP
  keps/sig-node/2411-cri-container-log-rotation/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/node, size/XS

#2544 Swich from serial to concurrent transmision in virtual world
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/L

#2575 Replace prydonius with soltysh for sig-apps leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2573 Update implementation history for Indexed Job
  keps/sig-apps/2214-indexed-job/README.md
  keps/sig-apps/2214-indexed-job/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2548 (KEP-2436) fix errors in sample configuration and formatting.
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/kep, lgtm, sig/cloud-provider, size/S

#2584 Rename RandomReplicaSetDownScale feature gate to LogarithmicScaleDown
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/README.md
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/S

#2553 KEP-2539: Addressing comments from #2540
  keps/sig-testing/2539-continuously-deploy-k8s-prow/README.md
  keps/sig-testing/2539-continuously-deploy-k8s-prow/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, priority/important-soon, sig/release, sig/testing, size/M
