Repository kubernetes/enhancements, pull requests merged in 2021-04, with the labels that each got.

#1883 API modifications for in-place pod resize KEP
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, sig/node, size/L, tide/merge-method-squash

#2159 Updated Scaling Behavior KEP to reflect implementation
  keps/sig-autoscaling/853-configurable-hpa-scale-velocity/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/autoscaling, size/M

#2513 generic ephemeral volumes: document metrics and tests
  keps/sig-storage/1698-generic-ephemeral-volumes/README.md
  keps/sig-storage/1698-generic-ephemeral-volumes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#2583 Delete blank line from .notableofcontents
  hack/.notableofcontents
Labels: approved, area/enhancements, cncf-cla: yes, lgtm, size/XS

#2612 update status on metric stability framework
  keps/sig-instrumentation/1209-metrics-stability/README.md
  keps/sig-instrumentation/1209-metrics-stability/kep.yaml
  keps/sig-instrumentation/1209-metrics-stability/kubernetes-control-plane-metrics-stability.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#2615 Mark Immutable secrets/configmaps KEP as implemented
  keps/sig-storage/1412-immutable-secrets-and-configmaps/README.md
  keps/sig-storage/1412-immutable-secrets-and-configmaps/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/XS

#2569 KEP-2568: Run control-plane as non-root in kubeadm.
  keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane/README.md
  keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cluster-lifecycle, sig/security, size/XXL

#2591 Update PDB KEP with latest status
  keps/sig-apps/85-Graduate-PDB-to-Stable/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2619 Promote PodDeletionCost to Beta
  keps/prod-readiness/sig-apps/2255.yaml
  keps/sig-apps/2255-pod-cost/README.md
  keps/sig-apps/2255-pod-cost/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2631 Updated the README.md file to change the broken link with the new link
  keps/sig-scheduling/624-scheduling-framework/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/scheduling, size/XS

#2637 Mark ServiceAccountIssuerDiscovery KEP implemented
  keps/sig-auth/1393-oidc-discovery/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/XS

#2627 sig-cluster-lifecycle: update the kubeadm config KEP for 1.22
  keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config/README.md
  keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/M

#2628 Move 1967 Support to size memory backed volumes to Beta
  keps/sig-node/1967-size-memory-backed-volumes/README.md
  keps/sig-node/1967-size-memory-backed-volumes/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/XS

#2585 Update KEP for Job Tracking
  keps/sig-apps/2307-job-tracking-without-lingering-pods/README.md
  keps/sig-apps/2307-job-tracking-without-lingering-pods/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2618 KEP-277: Use Pod for /ephemeralcontainers
  keps/sig-node/277-ephemeral-containers/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2408 Cluster ID: implementable-ish
  keps/sig-multicluster/2149-clusterid/README.md
  keps/sig-multicluster/2149-clusterid/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/multicluster, size/L

#2588 refine PRR questions to include how an end user can self-diagnose
  keps/NNNN-kep-template/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/S

#2601 Move SLOs above SLIs in PRR template
  keps/NNNN-kep-template/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/S

#2642 Going emeritus, remove myself and add irvifa
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS, wg/naming

#2643 Tweak PRR guidance to consider HA
  keps/NNNN-kep-template/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/XS

#2567 sig-release: Add release cadence KEP
  keps/prod-readiness/sig-release/2572.yaml
  keps/sig-release/2572-release-cadence/README.md
  keps/sig-release/2572-release-cadence/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/release, size/L

#2146 Add Conformance Tests to KEP requirements
  keps/NNNN-kep-template/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, size/XS

#2616 Graduate Indexed Job to beta
  keps/prod-readiness/sig-apps/2214.yaml
  keps/sig-apps/2214-indexed-job/README.md
  keps/sig-apps/2214-indexed-job/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2630 Add stable hostname to Indexed job
  keps/sig-apps/2214-indexed-job/README.md
  keps/sig-apps/2214-indexed-job/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2300 KEP 2299: Kustomize Plugin Composition API
  keps/sig-cli/2299-kustomize-plugin-composition/README.md
  keps/sig-cli/2299-kustomize-plugin-composition/example/composition/base/composition.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/composition/base/resources/configmap.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/composition/composition.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/kustomization.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/builtins-base/kustomization.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/builtins-base/resources/configmap.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/kustomization.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/prod-plugin-transformation/kustomization.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/prod-plugin-transformation/plugins-base/kustomization.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/prod-plugin-transformation/plugins-base/lb.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/prod-plugin-transformation/plugins-base/logger.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/example/kustomization/prod-integration-base/prod-plugin-transformation/plugins-base/web-server.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/XL, tide/merge-method-squash

#2650 graduate pod affinity namespaceselector to beta
  keps/prod-readiness/sig-scheduling/2249.yaml
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/README.md
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/S

#2662 move tracing alpha to 1.22
  keps/sig-instrumentation/647-apiserver-tracing/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/XS

#2620 [KEP-2568] Production Readiness Review.
  keps/prod-readiness/sig-cluster-lifecycle/2568.yaml
  keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane/README.md
  keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#2607 Introduce minReadySeconds in StatefulSets
  keps/prod-readiness/sig-apps/2599.yaml
  keps/sig-apps/2599-minreadyseconds-for-statefulsets/README.md
  keps/sig-apps/2599-minreadyseconds-for-statefulsets/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XL

#2646 suspended jobs: graduate to beta
  keps/prod-readiness/sig-apps/2232.yaml
  keps/sig-apps/2232-suspend-jobs/README.md
  keps/sig-apps/2232-suspend-jobs/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/L

#2592 Update NodeLocalDNS KEP with HA option in IPVS
  keps/sig-network/1024-nodelocal-cache-dns/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/network, size/XS
