Repository kubernetes/enhancements, pull requests merged in 2021-12, with the labels that each got.

#3072 KEP-383: Clarify GA requirements for new event API
  keps/sig-instrumentation/383-new-event-api-ga-graduation/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3076 KEP-177: Updated the link to the new location of CSI Volume Snapshot design doc
  keps/sig-storage/177-volume-snapshot/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#3057 Graduate `PreferNominatedNode` to GA
  keps/prod-readiness/sig-scheduling/1923.yaml
  keps/sig-scheduling/1923-prefer-nominated-node/README.md
  keps/sig-scheduling/1923-prefer-nominated-node/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#2537 KEP 2527: Clarify meaning of `status`
  keps/sig-architecture/2527-clarify-status-observations-vs-rbac/README.md
  keps/sig-architecture/2527-clarify-status-observations-vs-rbac/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/L, approved, tide/merge-method-squash, kind/kep

#2656 update README.md with links to exception process and current release info
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/enhancements

#2817 KEP-2818: Reducing Build Maintenance in CIP
  hack/update-toc.sh
  keps/prod-readiness/sig-release/2818.yaml
  keps/sig-release/2818-reducing-build-maintenance/README.md
  keps/sig-release/2818-reducing-build-maintenance/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/XL, approved, kind/kep, ok-to-test, area/enhancements

#3039 KEP-2876: CEL expression language: Clarify escaping, root field access, int-or-string/embedded/unknown types
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
  keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3024 KEP-2906 and KEP-2985: move and update KRM fn schema
  keps/sig-cli/2906-kustomize-function-catalog/README.md
  keps/sig-cli/2906-kustomize-function-catalog/kep.yaml
  keps/sig-cli/2985-public-krm-functions-registry/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/XL, approved, kind/kep

#3061 KEP-3031: Add release artifact signing KEP
  keps/sig-release/3031-signing-release-artifacts/README.md
  keps/sig-release/3031-signing-release-artifacts/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/L, approved, kind/kep

#3051 KEP-3027: SLSA Level 3 Compliance in the Kubernetes Release Process
  keps/sig-release/3027-slsa-compliance/README.md
  keps/sig-release/3027-slsa-compliance/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/XL, approved, kind/kep

#3090 KEP-1698: generic ephemeral volumes: completed in 1.23
  keps/sig-storage/1698-generic-ephemeral-volumes/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
