Repository kubernetes/enhancements, pull requests merged in 2021-06, with the labels that each got.

#2764 Graduate prefer nominated node to beta
  keps/prod-readiness/sig-scheduling/1923.yaml
  keps/sig-scheduling/1923-prefer-nominated-node/README.md
  keps/sig-scheduling/1923-prefer-nominated-node/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/L

#2770 Fix dead link
  keps/sig-release/2572-release-cadence/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, needs-ok-to-test, sig/release, size/XS

#2758 Kustomize KEP cleanup
  keps/sig-cli/1802-kustomize-components/README.md
  keps/sig-cli/1802-kustomize-components/kep.yaml
  keps/sig-cli/2206-openapi-features-in-kustomize/README.md
  keps/sig-cli/2206-openapi-features-in-kustomize/kep.yaml
  keps/sig-cli/2299-kustomize-plugin-composition/kep.yaml
  keps/sig-cli/2377-Kustomize/README.md
  keps/sig-cli/2383-extend-kustomize-patches-to-multiple-targets/README.md
  keps/sig-cli/2383-extend-kustomize-patches-to-multiple-targets/kep.yaml
  keps/sig-cli/993-kustomize-generators-transformers/README.md
  keps/sig-cli/993-kustomize-generators-transformers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cli, size/M

#2778 Fix kep.yaml for cronjob KEP for 1.22
  keps/sig-apps/19-Graduate-CronJob-to-Stable/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XS

#2774 Update go modules KEP to stop publishing synthetic Godeps.json files
  keps/sig-architecture/917-go-modules/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/architecture, size/XS

#2782 KEP-19: mention issue for timezone support
  keps/sig-apps/19-Graduate-CronJob-to-Stable/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, ok-to-test, sig/apps, size/XS

#2731 KEP-2436: wildcard and default value
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cloud-provider, size/M

#2776 Add Job finalizer on creation strategy
  keps/sig-apps/2307-job-tracking-without-lingering-pods/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/S

#2789 KEP-2485: Update reviewers and approvers, scheduling design details
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/README.md
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/M

#2773 Update SeccompDefault KEP upgrade strategy
  keps/sig-node/2413-seccomp-by-default/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/M

#2597 update reducing kubernetes build maintenance status
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/testing, size/S

#2762 Add glossary doc
  README.md
  docs/glossary.md
Labels: approved, area/enhancements, cncf-cla: yes, kind/documentation, lgtm, size/M, tide/merge-method-squash

#2760 Add pull request template
  .github/issue_template.md
  .github/pull_request_template.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2797 KEP-2485: Scheduler changes for beta graduation criteria
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/README.md
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/storage, size/S

#2788 CSR Duration KEP
  keps/prod-readiness/sig-auth/2784.yaml
  keps/sig-auth/2784-csr-duration/README.md
  keps/sig-auth/2784-csr-duration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/XL

#2790 Add shu-mutou to sig-ui-leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2793 Clarify StatefulSets minReadySeconds
  keps/sig-apps/2599-minreadyseconds-for-statefulsets/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/S

#2805 KEP-2185: Update metric name in Random Pod Downscale KEP
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/XS
