Repository kubernetes/enhancements, pull requests merged in 2021-07, with the labels that each got.

#2809 Update use of Job annotation instead of finalizer
  keps/sig-apps/2307-job-tracking-without-lingering-pods/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/apps, size/M

#2794 Update NoSwap SwapBehavior to LimitedSwap
  keps/sig-node/2400-node-swap/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2810 KEP-1040: Generalize shuffle sharding for req width and extra latency
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/api-machinery, size/XS

#2814 Update KEP for Scheduler CC in beta
  keps/prod-readiness/sig-scheduling/785.yaml
  keps/sig-scheduling/785-scheduler-component-config-api/README.md
  keps/sig-scheduling/785-scheduler-component-config-api/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/scheduling, size/M

#2816 KEP-277: Update milestone metadata for 1.22 cycle
  keps/prod-readiness/sig-node/277.yaml
  keps/sig-node/277-ephemeral-containers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/node, size/S

#2820 KEP-2784: Update CSR Duration KEP to match implementation
  keps/sig-auth/2784-csr-duration/README.md
  keps/sig-auth/2784-csr-duration/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/M

#2825 KEP-647: Change apiserver tracing to use an integration, rather than e2e test
  keps/sig-instrumentation/647-apiserver-tracing/README.md
  keps/sig-instrumentation/647-apiserver-tracing/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/instrumentation, size/S

#2827 KEP-541: KEP updates for GA RC
  keps/sig-auth/541-external-credential-providers/README.md
  keps/sig-auth/541-external-credential-providers/kep.yaml
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/auth, size/M, tide/merge-method-squash

#2844 Fix link for component architecture image
  keps/sig-cluster-lifecycle/wgs/783-component-base/README.md
Labels: approved, cncf-cla: yes, kind/kep, lgtm, sig/cluster-lifecycle, size/XS
