Repository kubernetes/enhancements, pull requests merged in 2022-03, with the labels that each got.

#3229 KEP-1472: storage capacity tracking: GA
  keps/prod-readiness/sig-storage/1472.yaml
  keps/sig-storage/1472-storage-capacity-tracking/README.md
  keps/sig-storage/1472-storage-capacity-tracking/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3232 KEP-2876: Clarify which schema nodes permit oldSelf in CEL rules.
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3065 127: Add KEP for user namespaces support
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3234 Update Active Directory test cases description
  keps/sig-windows/2578-windows-conformance/README.md
Labels: sig/windows, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#3084 KEP-2149: Cluster id api review request
  keps/sig-multicluster/2149-clusterid/README.md
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, api-review

#3222 KEP 3077: contextual logging: simplify scope, avoid transition
  keps/sig-instrumentation/3077-contextual-logging/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3097 Update KEPS 2299 and 2953
  keps/sig-cli/2299-kustomize-plugin-composition/README.md
  keps/sig-cli/2299-kustomize-plugin-composition/kep.yaml
  keps/sig-cli/2953-kustomize-plugin-graduation/README.md
  keps/sig-cli/2953-kustomize-plugin-graduation/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/kep

#3233 KEP-1472: storage capacity: update drawbacks
  keps/sig-storage/1472-storage-capacity-tracking/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3239 Add details of scalability test for Indexed Jobs
  keps/sig-apps/2214-indexed-job/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3199 KEP-2086: updates for v1.24
  keps/sig-network/2086-service-internal-traffic-policy/README.md
  keps/sig-network/2086-service-internal-traffic-policy/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3129 Fix an issue from golangci-lint
  pkg/repo/repo.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/enhancements

#3250 KEP-2784: CSR Duration: address all GA items
  keps/sig-auth/2784-csr-duration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3246 KEP-1923: update the status to `implemented`
  keps/sig-scheduling/1923-prefer-nominated-node/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#2577 Multicluster DNS
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
  keps/sig-multicluster/1645-multi-cluster-services-api/specification.md
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep, ok-to-test

#3253 KEP-2784: CSR Duration: mark as implemented
  keps/sig-auth/2784-csr-duration/README.md
  keps/sig-auth/2784-csr-duration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3236 update PRR to explicitly require field feedback to go GA
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep
