Repository kubernetes/enhancements, pull requests merged in 2022-10, with the labels that each got.

#3566 correct multi cluster cidr example order
  keps/sig-network/2593-multiple-cluster-cidrs/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3504 KEP-1672: promote EndpointSliceTerminatingCondition feature to GA
  keps/prod-readiness/sig-network/1672.yaml
  keps/sig-network/1672-tracking-terminating-endpoints/README.md
  keps/sig-network/1672-tracking-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3505 KEP-1669: promote ProxyTerminatingEndpoints to Beta
  keps/prod-readiness/sig-network/1669.yaml
  keps/sig-network/1669-proxy-terminating-endpoints/README.md
  keps/sig-network/1669-proxy-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#3544 KEP-3333: Graduate RetroactiveDefaultStorageClass to beta in v1.26
  keps/prod-readiness/sig-storage/3333.yaml
  keps/sig-storage/3333-reconcile-default-storage-class/README.md
  keps/sig-storage/3333-reconcile-default-storage-class/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3320 Update non-graceful node shutdown to beta
  keps/prod-readiness/sig-storage/2268.yaml
  keps/sig-storage/2268-non-graceful-shutdown/README.md
  keps/sig-storage/2268-non-graceful-shutdown/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3479 KEP-1040: Introduce limit on borrowing as well as lending
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3576 KEP-3488: Resolve outstanding issue: handling of enforcement
  keps/sig-api-machinery/3488-cel-admission-control/README.md
  keps/sig-api-machinery/3488-cel-admission-control/erd.png
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3561 update status and milestone for KEP 3157 (watch-list)
  keps/prod-readiness/sig-api-machinery/3157.yaml
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3454 Minimizing iptables-restore input size
  keps/prod-readiness/sig-network/3453.yaml
  keps/sig-network/3453-minimize-iptables-restore/README.md
  keps/sig-network/3453-minimize-iptables-restore/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3496 KEP-2379: adding support for shell-completion for plugins
  keps/sig-cli/2379-kubectl-plugins/README.md
  keps/sig-cli/2379-kubectl-plugins/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#3550 KEP-2317: Update stable version to 1.26
  keps/prod-readiness/sig-storage/2317.yaml
  keps/sig-storage/2317-fsgroup-on-mount/README.md
  keps/sig-storage/2317-fsgroup-on-mount/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3579 Clear UNRESOLVEDs, defer enforcement actions to phase 2
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3509 KEP-2086: promote ServiceInternalTrafficPolicy to GA in v1.26
  keps/prod-readiness/sig-network/2086.yaml
  keps/sig-network/2086-service-internal-traffic-policy/README.md
  keps/sig-network/2086-service-internal-traffic-policy/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3519 KEP-2395: Bump dates for in-tree cloud provider removal
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, kind/kep

#3584 Update KEP-3017: Test Plan section
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3463 Update KEP-3329 "Retriable and non-retriable Pod failures for Jobs" for Beta
  keps/prod-readiness/sig-apps/3329.yaml
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
  keps/sig-apps/3329-retriable-and-non-retriable-failures/kep.yaml
Labels: sig/apps, sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3581 KEP-1672: update to use new test plan format
  keps/sig-network/1672-tracking-terminating-endpoints/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3574 KEP-3573: Graduate Kubelet DeviceManager to GA
  keps/prod-readiness/sig-node/3573.yaml
  keps/sig-node/3573-device-plugin/README.md
  keps/sig-node/3573-device-plugin/device-plugin-overview.png
  keps/sig-node/3573-device-plugin/device-plugin.png
  keps/sig-node/3573-device-plugin/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3534 Update Aggregated Discovery for 1.26
  keps/sig-api-machinery/3352-aggregated-discovery/README.md
  keps/sig-api-machinery/3352-aggregated-discovery/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3571 updated swap KEP: targeting alpha2 in 1.26
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3554 KEP-3488: Add PRR and test section for Cel admission control
  keps/prod-readiness/sig-api-machinery/3488.yaml
  keps/sig-api-machinery/3488-cel-admission-control/README.md
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3588 Remove references to mode
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3540 KEP 1981 Windows HostProcessContainers to stable
  keps/sig-windows/1981-windows-privileged-container-support/README.md
  keps/sig-windows/1981-windows-privileged-container-support/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3516 KEP-3515: add new kep kubectl explain openapi v3 upgrade
  keps/prod-readiness/sig-cli/3515.yaml
  keps/sig-cli/3515-kubectl-explain-openapiv3/README.md
  keps/sig-cli/3515-kubectl-explain-openapiv3/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XXL, approved, tide/merge-method-squash, kind/kep

#3549 KEP-3545: Improved multi-numa alignment in Topology Manager
  keps/prod-readiness/sig-node/3545.yaml
  keps/sig-node/3545-improved-multi-numa-alignment/README.md
  keps/sig-node/3545-improved-multi-numa-alignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#3591 KEP:2593:Update feature-gate, API Name and Milestones
  keps/sig-network/2593-multiple-cluster-cidrs/README.md
  keps/sig-network/2593-multiple-cluster-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, needs-ok-to-test, approved, kind/kep

#3572 Updating Topology Aware Hints KEP with GA Graduation Criteria
  keps/prod-readiness/sig-network/2433.yaml
  keps/sig-network/2433-topology-aware-hints/README.md
  keps/sig-network/2433-topology-aware-hints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3539 KEP-3094: Graduate NodeInclusionPolicy to Beta in v1.26
  keps/prod-readiness/sig-scheduling/3094.yaml
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/README.md
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3522 KEP: Pod Schedule Readiness
  keps/prod-readiness/sig-scheduling/3521.yaml
  keps/sig-scheduling/3521-pod-schedule-readiness/README.md
  keps/sig-scheduling/3521-pod-schedule-readiness/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#3552 KEP-2644: [HonorPVReclaimPolicy] Support Statically provisioned volumes
  keps/sig-storage/2644-honor-pv-reclaim-policy/README.md
  keps/sig-storage/2644-honor-pv-reclaim-policy/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3595 amend feature gate name to be accurate
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/README.md
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3594 reduce scope for alpha extending metrics stability
  keps/sig-instrumentation/3498-extending-stability/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3596 amend test section for component slis
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3507 KEP-3503 Initial KEP for windows host-network support
  keps/prod-readiness/sig-windows/3503.yaml
  keps/sig-windows/3503-host-network-support-for-windows-pods/README.md
  keps/sig-windows/3503-host-network-support-for-windows-pods/kep.yaml
Labels: sig/network, sig/node, sig/windows, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#3597 KEP-3521: reword literal schedule to scheduling
  keps/sig-scheduling/3521-pod-scheduling-readiness/README.md
  keps/sig-scheduling/3521-pod-scheduling-readiness/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3336 KEP-3335: StatefulSet Slice
  keps/prod-readiness/sig-apps/3335.yaml
  keps/sig-apps/3335-statefulset-slice/README.md
  keps/sig-apps/3335-statefulset-slice/kep.yaml
Labels: sig/apps, sig/multicluster, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test

#3587 KEP-1435: Moving to GA
  keps/prod-readiness/sig-network/1435.yaml
  keps/sig-network/1435-mixed-protocol-lb/README.md
  keps/sig-network/1435-mixed-protocol-lb/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep, ok-to-test

#3575 Update Evented PLEG enhancement to include PodStatus
  keps/sig-node/3386-kubelet-evented-pleg/README.md
  keps/sig-node/3386-kubelet-evented-pleg/evented-pleg.mermaid
  keps/sig-node/3386-kubelet-evented-pleg/evented-pleg.png
  keps/sig-node/3386-kubelet-evented-pleg/existing-generic-pleg.mermaid
  keps/sig-node/3386-kubelet-evented-pleg/existing-generic-pleg.png
  keps/sig-node/3386-kubelet-evented-pleg/kep.yaml
  keps/sig-node/3386-kubelet-evented-pleg/modified-cache-setter.mermaid
  keps/sig-node/3386-kubelet-evented-pleg/modified-cache-setter.png
  keps/sig-node/3386-kubelet-evented-pleg/modified-generic-pleg.mermaid
  keps/sig-node/3386-kubelet-evented-pleg/modified-generic-pleg.png
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2884 KEP-2595: Promote to the beta stage
  keps/prod-readiness/sig-network/2595.yaml
  keps/sig-network/2595-expanded-dns-config/README.md
  keps/sig-network/2595-expanded-dns-config/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3295 KEP-3294: Add proposal for provisioning volumes from cross-namespace snapshots
  keps/prod-readiness/sig-storage/3294.yaml
  keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots/README.md
  keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, api-review

#3559 KEP-2371: Add cgroup metrics + CRI implementation plan
  keps/sig-node/2371-cri-pod-container-stats/README.md
  keps/sig-node/2371-cri-pod-container-stats/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3598 KEP-2317: Update Test Plan 1.26
  keps/sig-storage/2317-fsgroup-on-mount/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3593 KEP-2339: beta details
  keps/prod-readiness/sig-api-machinery/2339.yaml
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/README.md
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#3589 KEP-1965: update with Beta criteria/milestone and PRR questions answered
  keps/prod-readiness/sig-api-machinery/1965.yaml
  keps/sig-api-machinery/1965-kube-apiserver-identity/README.md
  keps/sig-api-machinery/1965-kube-apiserver-identity/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3439 Add Windows pod sandbox stats information to KEP 2371 - cri pod container stats
  keps/sig-node/2371-cri-pod-container-stats/README.md
Labels: sig/node, sig/windows, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3599 Adding test agreement to Topology Hints KEP
  keps/sig-network/2433-topology-aware-hints/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3042 KEP-3041: Feature, NodeConformance, NodeFeature, and Feature Gate labels cleanup
  keps/sig-testing/3041-node-conformance-and-features/README.md
  keps/sig-testing/3041-node-conformance-and-features/kep.yaml
Labels: sig/node, sig/testing, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3502 KEP-3063: dynamic resource allocation updates for 1.26
  keps/sig-node/3063-dynamic-resource-allocation/README.md
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2693 Client Exec Proxy
  keps/prod-readiness/sig-auth/2718.yaml
  keps/sig-auth/2718-20210511-client-exec-proxy/README.md
  keps/sig-auth/2718-20210511-client-exec-proxy/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3258 KEP-3257: Trust Anchor Sets
  keps/prod-readiness/sig-auth/3257.yaml
  keps/sig-auth/3257-trust-anchor-sets/README.md
  keps/sig-auth/3257-trust-anchor-sets/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test, area/enhancements

#3600 Mark KEP 3136 as implemented
  keps/sig-architecture/3136-beta-apis-off-by-default/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XS, approved, kind/kep

#3592 Update FG name and Check the test agreement
  keps/sig-api-machinery/3488-cel-admission-control/README.md
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3603 reformatting of a test plan
  keps/sig-node/2400-node-swap/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3602 change status to implementable for feature tags alignment
  keps/prod-readiness/sig-testing/3041.yaml
  keps/sig-testing/3041-node-conformance-and-features/README.md
  keps/sig-testing/3041-node-conformance-and-features/kep.yaml
Labels: sig/node, sig/testing, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3605 remove dynamic kubelet config completely
  keps/sig-node/281-dynamic-kubelet-configuration/README.md
  keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/cleanup, kind/kep

#3606 node swap is alpha (fixing mistake in kep.yaml)
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, kind/kep

#3075 KEP-2876: Merge starlark sections
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/cleanup, kind/kep

#3618 KEP-2699: Include updated Test Plan
  keps/sig-cloud-provider/2699-add-webhook-hosting-to-ccm/README.md
  keps/sig-cloud-provider/2699-add-webhook-hosting-to-ccm/kep.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/cloud-provider, kind/kep

#3616 KEP-2718: Update to new test plan template
  keps/sig-auth/2718-20210511-client-exec-proxy/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3621 KEP-1965: update kube-apiserver identity KEP to reflect current state
  keps/sig-api-machinery/1965-kube-apiserver-identity/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3609 Update aggregated discovery types group version
  keps/sig-api-machinery/3352-aggregated-discovery/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3434 KEP-1731 : Publishing Kubernetes packages on community infrastructure
  keps/sig-release/1731-publishing-packages/README.md
  keps/sig-release/1731-publishing-packages/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/L, approved, kind/kep

#3569 Update kep parser to get rid of prr-approvers
  api/approval.go
  api/proposal.go
  pkg/kepctl/commands/create.go
  pkg/proposal/create.go
  pkg/repo/query.go
  pkg/repo/query_test.go
  pkg/repo/repo.go
  pkg/repo/repo_test.go
  pkg/repo/testdata/invalid-prr-approver.yaml
  pkg/repo/testdata/repos/valid/keps/NNNN-kep-template/kep.yaml
  pkg/repo/testdata/repos/valid/keps/sig-owns-only/404-question-not-found/kep.yaml
  pkg/repo/testdata/repos/valid/keps/sig-owns-only/42-the-answer/kep.yaml
  pkg/repo/testdata/repos/valid/keps/sig-owns-participates/1-the-bare-minimum/kep.yaml
  pkg/repo/testdata/repos/valid/keps/sig-owns-participates/13-keps-as-crds/kep.yaml
  pkg/repo/testdata/valid-kep-full.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/api-change, area/enhancements

#3630 Update document for add reviewer and approvers
  keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/kep

#3631 KEP-1138: Fix IPv6 beta kep number
  keps/sig-network/1138-ipv6/README.md
  keps/sig-network/1138-ipv6/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3632 Update KEP 2644 to reflect drop in support for in-tree statically provisioned volumes
  keps/sig-storage/2644-honor-pv-reclaim-policy/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3635 KEP-1965: update apiserver lease identity format
  keps/sig-api-machinery/1965-kube-apiserver-identity/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep
