Repository kubernetes/enhancements, pull requests merged in 2022-04, with the labels that each got.

#3263 KEP 3140: Add LoadLocation on MacOS issue for beta promotion for CronJob TZ
  keps/sig-apps/3140-TimeZone-support-in-CronJob/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3262 Update module to go1.17 and enable dependabot updates
  .github/dependabot.yml
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/M, approved

#3223 [Docs] fix typo
  keps/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#3256 fix the example output for kepctl
  pkg/kepctl/commands/create.go
  pkg/proposal/create.go
Labels: cncf-cla: yes, lgtm, size/S, approved, area/enhancements

#3114 KEP-1933: Update references to deprecated KEP-1753.
  keps/sig-security/1933-secret-logging-static-analysis/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep, sig/security

#3279 Update Test Plan in KEP template
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3283 KEP-365: Pagination kep format
  keps/sig-api-machinery/365-paginated-lists/README.MD
  keps/sig-api-machinery/365-paginated-lists/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep
