Repository kubernetes/enhancements, pull requests merged in 2022-01, with the labels that each got.

#3103 KEP-563: dual-stack IPv4/IPv6 enhancement is implemented
  keps/sig-network/563-dual-stack/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3062 Update Efficient Watch Resumption KEP to Stable
  keps/prod-readiness/sig-api-machinery/1904.yaml
  keps/sig-api-machinery/1904-efficient-watch-resumption/README.md
  keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3096 KEP-1753: Deprecate dynamic log sanitization
  keps/sig-instrumentation/1753-logs-sanitization/README.md
  keps/sig-instrumentation/1753-logs-sanitization/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, kind/kep

#3071 KEP-3070: Reserve Service IP Ranges For Dynamic and Static IP Allocation
  keps/prod-readiness/sig-network/3070.yaml
  keps/sig-network/3070-reserved-service-ip-range/README.md
  keps/sig-network/3070-reserved-service-ip-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3119 kubeadm: update 2067-rename-master-label-taint for 1.24
  keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/README.md
  keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3120 kubeadm: update 2915-kubeadm-replace-kubelet-config-x.y for 1.24
  keps/sig-cluster-lifecycle/kubeadm/2915-kubeadm-replace-kubelet-config-x.y/README.md
  keps/sig-cluster-lifecycle/kubeadm/2915-kubeadm-replace-kubelet-config-x.y/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#2084 Rename seccomp-operator to security-profiles-operator
  keps/sig-node/135-seccomp/README.md
Labels: sig/node, cncf-cla: yes, lgtm, kind/feature, size/XS, approved, kind/kep

#2614 Mark RunAsGroup as GA
  keps/sig-node/213-run-as-group/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#2562 [1.21]mark Disable CAdvisor Json Metrics as implemented
  keps/sig-node/2129-remove-cadvisor-json-metrics/README.md
  keps/sig-node/2129-remove-cadvisor-json-metrics/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#2786 Fix KEP 2712
  keps/sig-node/2712-pod-priority-based-graceful-node-shutdown/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3082 link to FAQ from the KEP for discoverability
  keps/sig-node/2221-remove-dockershim/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, kind/kep

#3127 #2535:ensure secret pulled images - bump targets by one
  keps/sig-node/2535-ensure-secret-pulled-images/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3112 KEP-1441: Include in 1.24 release
  keps/sig-cli/1441-kubectl-debug/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#3116 KEP-2249: Graduate PodAffinityNamespaceSelector to stable
  keps/prod-readiness/sig-scheduling/2249.yaml
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/README.md
  keps/sig-scheduling/2249-pod-affinity-namespace-selector/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3110 Graduate NonPreemptingPriority to GA
  keps/prod-readiness/sig-scheduling/902.yaml
  keps/sig-scheduling/902-non-preempting-priorityclass/README.md
  keps/sig-scheduling/902-non-preempting-priorityclass/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3126 KEP-625: Update CSI Migration to GA
  keps/prod-readiness/sig-storage/625.yaml
  keps/sig-storage/625-csi-migration/README.md
  keps/sig-storage/625-csi-migration/csi-migration-design.md
  keps/sig-storage/625-csi-migration/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3033 2845: klog flag deprecation: clarify scope and timeline
  keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3154 KEP-2258: Update milestones to 1.24
  keps/sig-windows/2258-node-service-log-viewer/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3118 Graduate RemoveSelfLink to Stable
  keps/prod-readiness/sig-api-machinery/1164.yaml
  keps/sig-api-machinery/1164-remove-selflink/README.md
  keps/sig-api-machinery/1164-remove-selflink/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3122 KEP-2923: adding beta graduation criteria
  keps/prod-readiness/sig-storage/2923.yaml
  keps/sig-storage/2923-csi-migration-ceph-rbd/README.md
  keps/sig-storage/2923-csi-migration-ceph-rbd/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3115 KEP-2232: Graduate suspend job to stable
  keps/prod-readiness/sig-apps/2232.yaml
  keps/sig-apps/2232-suspend-jobs/README.md
  keps/sig-apps/2232-suspend-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3145 KEP-1682: Mark CSIVolumeSupportFSGroup as implemented
  keps/sig-storage/1682-csi-driver-skip-permission/README.md
  keps/sig-storage/1682-csi-driver-skip-permission/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3150 kubeadm: retroactively update old KEPs
  keps/sig-cluster-lifecycle/kubeadm/2500-kubeadm-join-control-plane-workflow/README.md
  keps/sig-cluster-lifecycle/kubeadm/2500-kubeadm-join-control-plane-workflow/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2501-kubeadm-phases-to-beta/README.md
  keps/sig-cluster-lifecycle/kubeadm/2501-kubeadm-phases-to-beta/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2502-Certificates-copy-for-join-control-plane/README.md
  keps/sig-cluster-lifecycle/kubeadm/2502-Certificates-copy-for-join-control-plane/kep.yaml
  keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config/README.md
  keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/M, priority/important-soon, approved, kind/cleanup, kind/kep

#3026 Remove support for watch requests from future goals
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3102 Promote PodOS field to beta
  keps/prod-readiness/sig-windows/2802.yaml
  keps/sig-windows/2802-identify-windows-pods-apiserver-admission/README.md
  keps/sig-windows/2802-identify-windows-pods-apiserver-admission/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3117 DefaultPodTopologySpread graduation to Stable
  keps/prod-readiness/sig-scheduling/1258.yaml
  keps/sig-scheduling/1258-default-pod-topology-spread/README.md
  keps/sig-scheduling/1258-default-pod-topology-spread/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3165 kep: kubectl subresource - update milestone
  keps/sig-cli/2590-kubectl-subresource/README.md
  keps/sig-cli/2590-kubectl-subresource/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, kind/kep

#2661 KEP-2681: Field status.hostIPs added for Pod
  keps/prod-readiness/sig-network/2681.yaml
  keps/sig-network/2681-pod-host-ip/README.md
  keps/sig-network/2681-pod-host-ip/kep.yaml
Labels: sig/network, sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2975 KEP-2578: Windows Operational Readiness Specification
  keps/prod-readiness/sig-windows/2578.yaml
  keps/sig-windows/2578-windows-conformance/README.md
  keps/sig-windows/2578-windows-conformance/kep.yaml
Labels: sig/storage, sig/windows, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#2956 KEP-2438: dual-stack-apiserver updates / clarifications
  keps/prod-readiness/sig-network/2438.yaml
  keps/sig-network/2438-dual-stack-apiserver/README.md
  keps/sig-network/2438-dual-stack-apiserver/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3068 KEP-1847: Update field names
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3147 Mark TTL-after-finish KEP-592 to implemented
  keps/sig-apps/592-ttl-after-finish/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3175 KEP-1864: update to stable for v1.24
  keps/sig-network/1864-disable-lb-node-ports/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3164 Fix link for gateway api implementations
  keps/sig-network/2829-gateway-api-to-k8s-io/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3111 Graduate Ready Pods in Job status to Beta
  keps/prod-readiness/sig-apps/2879.yaml
  keps/sig-apps/2879-ready-pods-job-status/README.md
  keps/sig-apps/2879-ready-pods-job-status/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3180 KEP 2702: mark as implemented.
  keps/sig-autoscaling/2702-graduate-hpa-api-to-GA/README.md
  keps/sig-autoscaling/2702-graduate-hpa-api-to-GA/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3176 KEP-1959: update to GA in v1.24
  keps/sig-cloud-provider/1959-service-lb-class-field/README.md
  keps/sig-cloud-provider/1959-service-lb-class-field/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, kind/kep

#3081 KEP-2885: Beta Graduation Criteria for Field Validation
  keps/prod-readiness/sig-api-machinery/2885.yaml
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/README.md
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/api-change, kind/kep

#3153 Update in-place pod vertical scaling KEPS to 1.24 milestone targets
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
  keps/sig-node/2273-kubelet-container-resources-cri-api-changes/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#3113 Graduate Indexed Job to stable
  keps/prod-readiness/sig-apps/2214.yaml
  keps/sig-apps/2214-indexed-job/README.md
  keps/sig-apps/2214-indexed-job/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3152 KEP-625: update CSI Migration KEP to include troubleshooting
  keps/sig-storage/625-csi-migration/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3106 KEP-1488: CSI migration for GCE PD
  keps/prod-readiness/sig-storage/1488.yaml
  keps/sig-storage/1488-csi-migration-gce-pd/README.md
  keps/sig-storage/1488-csi-migration-gce-pd/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3123 KEP-1885: add csi migration kep for azurefile
  keps/prod-readiness/sig-storage/1885.yaml
  keps/sig-storage/1885-csi-migration-azurefile/README.md
  keps/sig-storage/1885-csi-migration-azurefile/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3124 KEP-1489: add csi migration kep for openstack cinder
  keps/prod-readiness/sig-storage/1489.yaml
  keps/sig-storage/1489-csi-migration-cinder/README.md
  keps/sig-storage/1489-csi-migration-cinder/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3109 KEP-1490: Add csi migration kep for Azuredisk
  keps/prod-readiness/sig-storage/1490.yaml
  keps/sig-storage/1490-csi-migration-azuredisk/README.md
  keps/sig-storage/1490-csi-migration-azuredisk/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3170 KEP-2845: klog deprecation: beta in 1.24
  keps/prod-readiness/sig-instrumentation/2845.yaml
  keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3125 KEP-1491: add csi migration kep for vsphere
  keps/prod-readiness/sig-storage/1491.yaml
  keps/sig-storage/1491-csi-migration-vsphere/README.md
  keps/sig-storage/1491-csi-migration-vsphere/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3108 KEP-1487: Add csi migration kep for AWS EBS
  keps/prod-readiness/sig-storage/1487.yaml
  keps/sig-storage/1487-csi-migration-aws/README.md
  keps/sig-storage/1487-csi-migration-aws/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, tracked/yes, kind/kep

#3174 KEP-1669: updates for ProxyTerminatingEndpoints feature in v1.24
  keps/sig-network/1669-graceful-termination-local-external-traffic-policy/README.md
  keps/sig-network/1669-proxy-terminating-endpoints/README.md
  keps/sig-network/1669-proxy-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3105 KEP-3094: take toleration/taints into considering when computing skew
  keps/prod-readiness/sig-scheduling/3094.yaml
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/README.md
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#2800 KEP-2799: Reduction of Secret-based Service Account Tokens
  keps/prod-readiness/sig-auth/2799.yaml
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3034 KEP-3037: client-go alternative services
  keps/sig-api-machinery/3037-client-go-alternative-services/README.md
  keps/sig-api-machinery/3037-client-go-alternative-services/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#3159 KEP-3156: Introduce http3 support in the apiserver
  keps/sig-api-machinery/3156-http3/README.md
  keps/sig-api-machinery/3156-http3/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3192 KEP-2924: Enable CSI migration for cephfs intree plugin
  keps/prod-readiness/sig-storage/2924.yaml
  keps/sig-storage/2924-csi-migration-cephfs/README.md
  keps/sig-storage/2924-csi-migration-cephfs/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3197 KEP-2784: Update CSR Duration KEP with GA details
  keps/prod-readiness/sig-auth/2784.yaml
  keps/sig-auth/2784-csr-duration/README.md
  keps/sig-auth/2784-csr-duration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3198 KEP-2593: Updating kep.yaml with correct milestones
  keps/sig-network/2593-multiple-cluster-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/kep

#3200 KEP-1495: bump beta version from 1.23 to 1.24
  keps/sig-storage/1495-volume-populators/README.md
  keps/sig-storage/1495-volume-populators/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3191 Update container image signing KEP
  keps/prod-readiness/sig-release/3031.yaml
  keps/sig-release/3031-signing-release-artifacts/README.md
  keps/sig-release/3031-signing-release-artifacts/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/L, approved, kind/kep
