Repository kubernetes/enhancements, pull requests merged in 2022-08, with the labels that each got.

#3447 Additional update for KEP-3329 "Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#3451 KEP-3031: Update signing KEP to match new scope
  keps/sig-release/3031-signing-release-artifacts/README.md
  keps/sig-release/3031-signing-release-artifacts/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/S, approved, kind/kep

#3456 update object storage (#1979) alpha milestone to v1.25
  keps/sig-storage/1979-object-storage-support/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3445 KEP-596: Update graduation criteria and test results
  keps/sig-storage/596-csi-inline-volumes/README.md
  keps/sig-storage/596-csi-inline-volumes/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3459 KEP-2221: Mark dockershim KEP as implemented
  keps/sig-node/2221-remove-dockershim/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3452 Updates to KEP-3329 "Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#3462 KEP 1489: Mark CSI migration for Cinder as done
  keps/sig-storage/1489-csi-migration-cinder/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3470 CI is currently broken as file is missing header and tool drags in retracted dependency
  compile-tools
  go.mod
  go.sum
  internal/tools.go
  keps/sig-node/3063-dynamic-resource-allocation/Makefile
Labels: sig/node, cncf-cla: yes, lgtm, size/S, priority/critical-urgent, approved, kind/kep, area/enhancements

#3464 Bump milestone targets for in-place pod update
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#3455 update EncryptedObject struct in kms v2
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3473 Update to newer version of go-mod-outdated and re-enable check_deps method
  compile-tools
  go.mod
  go.sum
  internal/tools.go
Labels: cncf-cla: yes, lgtm, size/S, approved, area/enhancements

#3467 Add sub sections to kms v2 KEP
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3475 KEP-3325: Update milestone for SelfSubjectAttributesReview KEP
  keps/sig-auth/3325-self-subject-attributes-review-api/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/kep

#3477 sig-cl/kubeadm/2067: update for 1.26
  keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/README.md
  keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3484 Updated enhancements README.md
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test
