Repository kubernetes/enhancements, pull requests merged in 2022-07, with the labels that each got.

#3415 [NNNN-kep-template] Fixes typo in release signoff checklist
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep, area/enhancements

#3440 Remove SelectorSpread plugin when graduating scheduler Component Config
  keps/sig-scheduling/785-scheduler-component-config-api/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3444 KEP-3178: rename feature gate to IPTablesOwnershipCleanup
  keps/sig-network/3178-iptables-cleanup/README.md
  keps/sig-network/3178-iptables-cleanup/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3442 add script to generate and push KEP manifest to GCS bucket
  hack/push-manifest.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/enhancements

#3438 Update KEP-3329 "Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
  keps/sig-apps/3329-retriable-and-non-retriable-failures/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep, ok-to-test

#3430 127-user-namespaces: round userns size to 65536
  keps/sig-node/127-user-namespaces/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
