Repository kubernetes/enhancements, pull requests merged in 2022-02, with the labels that each got.

#3181 Update HonorPVReclaimPolicy to beta
  keps/prod-readiness/sig-storage/2644.yaml
  keps/sig-storage/2644-honor-pv-reclaim-policy/README.md
  keps/sig-storage/2644-honor-pv-reclaim-policy/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3186 Add dgrisonnet to sig-instrumentation leads
  OWNERS_ALIASES
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup

#3187 Promote Portworx CSI migration to Beta in v1.24
  keps/prod-readiness/sig-storage/2589.yaml
  keps/sig-storage/2589-csi-migration-portworx/README.md
  keps/sig-storage/2589-csi-migration-portworx/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#3173 KEP-3107: SecretRef field addition to NodeExpandVolume request
  keps/prod-readiness/sig-storage/3107.yaml
  keps/sig-storage/3107-csi-nodeexpandsecret/README.md
  keps/sig-storage/3107-csi-nodeexpandsecret/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3177 Promote gRPC container probes to beta
  keps/prod-readiness/sig-node/2727.yaml
  keps/sig-node/2727-grpc-probe/README.md
  keps/sig-node/2727-grpc-probe/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3188 KEP 1790: Update recover resize failure KEP for going beta.
  keps/prod-readiness/sig-storage/1790.yaml
  keps/sig-storage/1790-recover-resize-failure/README.md
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3196 KEP-1435: adding PRR for MixedProtocolLBService feature to move to beta
  keps/prod-readiness/sig-network/1435.yaml
  keps/sig-network/1435-mixed-protocol-lb/README.md
  keps/sig-network/1435-mixed-protocol-lb/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3151 KEP-3141: Prevent unauthorised volume mode conversion
  keps/prod-readiness/sig-storage/3141.yaml
  keps/sig-storage/3141-prevent-volume-mode-conversion/README.md
  keps/sig-storage/3141-prevent-volume-mode-conversion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3195 KEP 284: Add PRR for volume expansion feature
  keps/prod-readiness/sig-storage/284.yaml
  keps/sig-storage/284-enable-volume-expansion/README.md
  keps/sig-storage/284-enable-volume-expansion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3202 Fixing KEP number for OS field PRR yaml file
  keps/prod-readiness/sig-windows/2802.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3032 KEP-1591: Fix default values for MaxUnavailable and MaxSurge
  keps/sig-apps/1591-daemonset-surge/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#3100 KEP-961: Update release information for maxUnavailable
  keps/sig-apps/961-maxunavailable-for-statefulset/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#2574 KEP 2551 - kubectl exit code normalization
  keps/prod-readiness/sig-cli/2551.yaml
  keps/sig-cli/2551-return-code-normalization/README.md
  keps/sig-cli/2551-return-code-normalization/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/kep

#3143 KEP 3140: TimeZone support in CronJob
  keps/prod-readiness/sig-apps/3140.yaml
  keps/sig-apps/3140-TimeZone-support-in-CronJob/README.md
  keps/sig-apps/3140-TimeZone-support-in-CronJob/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3169 KEP-2133: updates for v1.24
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3146 PodOverhead to GA
  keps/prod-readiness/sig-node/688.yaml
  keps/sig-node/688-pod-overhead/README.md
  keps/sig-node/688-pod-overhead/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3003 KEP-2371: clarify plan for cAdvisor and target at Beta for 1.24
  keps/prod-readiness/sig-node/2371.yaml
  keps/sig-node/2371-cri-pod-container-stats/README.md
  keps/sig-node/2371-cri-pod-container-stats/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#1990 Add Forensic Container Checkpointing KEP
  keps/prod-readiness/sig-node/2008.yaml
  keps/sig-node/2008-forensic-container-checkpointing/README.md
  keps/sig-node/2008-forensic-container-checkpointing/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3078 KEP-3077: contextual logging
  keps/prod-readiness/sig-instrumentation/3077.yaml
  keps/sig-instrumentation/3077-contextual-logging/README.md
  keps/sig-instrumentation/3077-contextual-logging/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, wg/structured-logging

#3137 KEP-3136: beta apis off by default
  keps/prod-readiness/sig-architecture/3136.yaml
  keps/sig-architecture/3136-beta-apis-off-by-default/README.md
  keps/sig-architecture/3136-beta-apis-off-by-default/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/L, approved, kind/kep

#3158 KEP-596: promote CSIInlineVolume to GA
  keps/prod-readiness/sig-storage/596.yaml
  keps/sig-storage/596-csi-inline-volumes/README.md
  keps/sig-storage/596-csi-inline-volumes/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3018 KEP-3017: Pod Healthy Policy for PDBs
  keps/prod-readiness/sig-apps/3017.yaml
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2947 KEP-2943: Add initial draft on Network Policy Status
  keps/prod-readiness/sig-network/2943.yaml
  keps/sig-network/2943-networkpolicy-status/README.md
  keps/sig-network/2943-networkpolicy-status/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, lifecycle/active, kind/kep

#3133 KEP-3130: kms observability
  keps/prod-readiness/sig-auth/3130.yaml
  keps/sig-auth/3130-kms-observability/README.md
  keps/sig-auth/3130-kms-observability/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#1116 add non-graceful node shutdown KEP
  keps/prod-readiness/sig-storage/2268.yaml
  keps/sig-storage/2268-non-graceful-shutdown/README.md
  keps/sig-storage/2268-non-graceful-shutdown/kep.yaml
Labels: sig/node, sig/scalability, sig/storage, cncf-cla: yes, lgtm, size/XL, approved, sig/cloud-provider, kind/kep

#3142 KEP-3157: allow informers for getting a stream of data instead of chunking
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/cacher.png
  keps/sig-api-machinery/3157-watch-list/cacher_deep_copy.png
  keps/sig-api-machinery/3157-watch-list/kep.yaml
  keps/sig-api-machinery/3157-watch-list/memory_usage_after.png
  keps/sig-api-machinery/3157-watch-list/memory_usage_before.png
  keps/sig-api-machinery/3157-watch-list/sequence_diagram.png
  keps/sig-api-machinery/3157-watch-list/watch_server_allocs.png
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3207 KEP-2221: Update dockershim removal KEP to reflect latest changes
  keps/prod-readiness/sig-node/2221.yaml
  keps/sig-node/2221-remove-dockershim/README.md
  keps/sig-node/2221-remove-dockershim/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, kind/feature, size/S, approved, kind/kep

#3167 KEP-2896: OpenAPI v3 to Beta
  keps/prod-readiness/sig-api-machinery/2896.yaml
  keps/sig-api-machinery/2896-openapi-v3/README.md
  keps/sig-api-machinery/2896-openapi-v3/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2832 KEP-2831: Instrumenting Kubelet for OpenTelemetry Tracing
  keps/prod-readiness/sig-instrumentation/2831.yaml
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
  keps/sig-instrumentation/2831-kubelet-tracing/kep.yaml
Labels: sig/node, sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3184 KEP-2887: OpenAPI Enum Types to Beta
  keps/prod-readiness/sig-api-machinery/2887.yaml
  keps/sig-api-machinery/2887-openapi-enum-types/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#3132 KEP-2876: Core library proposal for CEL
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
  keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#2522 Add support for cluster-scoped AdminNetworkPolicy resource
  keps/prod-readiness/sig-network/2091.yaml
  keps/sig-network/2091-admin-network-policy/README.md
  keps/sig-network/2091-admin-network-policy/baseline.png
  keps/sig-network/2091-admin-network-policy/delegation.png
  keps/sig-network/2091-admin-network-policy/explicit_allow.png
  keps/sig-network/2091-admin-network-policy/explicit_deny.png
  keps/sig-network/2091-admin-network-policy/kep.yaml
  keps/sig-network/2091-admin-network-policy/tenants.png
Labels: sig/network, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#3183 KEP-2436 Leader Migration to GA
  keps/prod-readiness/sig-cloud-provider/2436.yaml
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/kep.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/cloud-provider, kind/kep

#3208 Updated PRR for DynamicKubeletConfig
  keps/sig-node/281-dynamic-kubelet-configuration/README.md
  keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#2833 Consolidate workload controllers status
  keps/prod-readiness/sig-apps/2804.yaml
  keps/sig-apps/2804-consolidate-workload-controllers-status/README.md
  keps/sig-apps/2804-consolidate-workload-controllers-status/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3144 Add resource constraints for CEL
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3209 mark reducing build maintenance implemented
  keps/sig-testing/2420-reducing-kubernetes-build-maintenance/kep.yaml
Labels: sig/testing, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3211 update KEP: consolidate workload controllers status
  keps/sig-apps/2804-consolidate-workload-controllers-status/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3210 Add graduation critirea
  keps/sig-storage/284-enable-volume-expansion/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3212 KEP-2091: Update Release Signoff Checklist
  keps/sig-network/2091-admin-network-policy/README.md
  keps/sig-network/2091-admin-network-policy/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3069 KEP Template: Add documentation to template about feature gates
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, sig/architecture, size/S, approved, tide/merge-method-squash, kind/kep

#3213 KEP-1487: Target 1.25 for aws csi migration GA
  keps/sig-storage/1487-csi-migration-aws/README.md
  keps/sig-storage/1487-csi-migration-aws/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3128 hack/verify-toc.sh: Use `go install` instead of `go get`
  hack/verify-toc.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/cleanup, area/enhancements

#3225 Update milestones
  keps/sig-storage/1432-volume-health-monitor/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3205 KEP-853: Improvement: Add periodSeconds field and fixed typo.
  keps/sig-autoscaling/853-configurable-hpa-scale-velocity/README.md
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, kind/kep

#3220 KEP-2906: Update Catalog schema for CRD compatibility
  keps/sig-cli/2906-kustomize-function-catalog/README.md
  keps/sig-cli/2906-kustomize-function-catalog/kep.yaml
  keps/sig-cli/2985-public-krm-functions-registry/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/kep

#3206 Update KEP template with comment wrt to enablement/disablement tests in PRR section
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep, area/enhancements

#3230 Replace go get with go install in verify shell scripts
  hack/verify-spelling.sh
  hack/verify-toc.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/enhancements
