Repository kubernetes/enhancements, pull requests merged in 2022-06, with the labels that each got.

#3266 KEP-2876: Promote CRD Validation Expression Language to Beta
  keps/prod-readiness/sig-api-machinery/2876.yaml
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
  keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3305 KEP-1472: storage capacity: implemented
  keps/sig-storage/1472-storage-capacity-tracking/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3312 sig-cl/kubeadm/1739: update KEP for support of patching kubelet config
  keps/sig-cluster-lifecycle/kubeadm/1739-customization-with-patches/README.md
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, kind/feature, size/M, approved, kind/kep

#3330 PSA GA KEP compliance
  keps/sig-auth/2579-psp-replacement/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3315 graduate kube-scheduler ComponentConfig to GA
  keps/sig-scheduling/785-scheduler-component-config-api/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3168 KEP-1672: updates for v1.24
  keps/prod-readiness/sig-network/1672.yaml
  keps/sig-network/1672-tracking-terminating-endpoints/README.md
  keps/sig-network/1672-tracking-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3342 KEP-625: update CSI Migration KEP on test plans
  keps/sig-storage/625-csi-migration/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3300 KEP-1490: set Azure Disk CSI driver migration as implemented
  keps/sig-storage/1490-csi-migration-azuredisk/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3319 Update kep for beta graduation in 1.25
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/README.md
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3355 KEP-625: update CSI Migration GA timeline
  keps/sig-storage/625-csi-migration/README.md
  keps/sig-storage/625-csi-migration/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3281 Move ehashman to PRR emeritus
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XS, approved

#3382 Cleanup PRR approvers fetching
  api/groups.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/api-change, area/enhancements

#3307 KEP-1591: Promote DS maxSurge to GA
  keps/prod-readiness/sig-apps/1591.yaml
  keps/sig-apps/1591-daemonset-surge/README.md
  keps/sig-apps/1591-daemonset-surge/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3179 KEP-3178: Cleaning up IPTables Chain Ownership
  keps/prod-readiness/sig-network/3178.yaml
  keps/sig-network/3178-iptables-cleanup/README.md
  keps/sig-network/3178-iptables-cleanup/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3385 api: correct JSON field name for Proposal.Number
  api/approval.go
  api/proposal.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/api-change, area/enhancements

#3358 KEP-2923: update test plan and milestone for RBD CSI migration
  keps/sig-storage/2923-csi-migration-ceph-rbd/README.md
  keps/sig-storage/2923-csi-migration-ceph-rbd/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3383 KEP-1591: Update graduation criteria
  keps/sig-apps/1591-daemonset-surge/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3357 KEP-2924: update CephFS CSI migration milestone and test plan
  keps/sig-storage/2924-csi-migration-cephfs/README.md
  keps/sig-storage/2924-csi-migration-cephfs/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3359 KEP-3107: update the test plan for nodeExpandSecret
  keps/sig-storage/3107-csi-nodeexpandsecret/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3354 KEP-2599: Promote STS minReadySeconds to GA
  keps/prod-readiness/sig-apps/2599.yaml
  keps/sig-apps/2599-minreadyseconds-for-statefulsets/README.md
  keps/sig-apps/2599-minreadyseconds-for-statefulsets/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3375 KEP-3140: TimeZone support in CronJob
  keps/prod-readiness/sig-apps/3140.yaml
  keps/sig-apps/3140-TimeZone-support-in-CronJob/README.md
  keps/sig-apps/3140-TimeZone-support-in-CronJob/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3366 Update vsphere csi migration test plan
  keps/sig-storage/1491-csi-migration-vsphere/README.md
  keps/sig-storage/1491-csi-migration-vsphere/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3351 KEP-1488: Update gce-pd csi migration test plan
  keps/sig-storage/1488-csi-migration-gce-pd/README.md
  keps/sig-storage/1488-csi-migration-gce-pd/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3395 Oath of Testing
  keps/sig-api-machinery/2885-server-side-unknown-field-validation/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3393 KEP-2799: Update for 1.25
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#2813 [Bucket API] KEP updates for API review
  keps/prod-readiness/sig-storage/1979.yaml
  keps/sig-storage/1979-object-storage-support/README.md
  keps/sig-storage/1979-object-storage-support/images/arch.png
  keps/sig-storage/1979-object-storage-support/images/create-bucket.png
  keps/sig-storage/1979-object-storage-support/images/delete-bucket.png
  keps/sig-storage/1979-object-storage-support/images/object-rel.png
  keps/sig-storage/1979-object-storage-support/images/share-bucket.png
  keps/sig-storage/1979-object-storage-support/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, api-review

#3289 KEP 3288: Split stdout and stderr log stream
  keps/prod-readiness/sig-node/3288.yaml
  keps/sig-node/3288-separate-stdout-from-stderr/README.md
  keps/sig-node/3288-separate-stdout-from-stderr/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3337 KEP-3333 Retroactive default StorageClass assignment
  keps/prod-readiness/sig-storage/3333.yaml
  keps/sig-storage/3333-reconcile-default-storage-class/README.md
  keps/sig-storage/3333-reconcile-default-storage-class/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#3345 Promote Portworx CSI migration to Beta in v1.25
  keps/sig-storage/2589-csi-migration-portworx/README.md
  keps/sig-storage/2589-csi-migration-portworx/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#3204 KEP-3203: Add Auto-refreshing Official CVE feed
  keps/prod-readiness/sig-security/3203.yaml
  keps/sig-security/3203-auto-refreshing-official-cve-feed/README.md
  keps/sig-security/3203-auto-refreshing-official-cve-feed/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep, committee/security-response, area/enhancements, sig/security

#3379 KEP-2133: add GA criteria
  keps/prod-readiness/sig-node/2133.yaml
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3387 KEP-3386: Kubelet Evented PLEG for Better Performance
  keps/prod-readiness/sig-node/3386.yaml
  keps/sig-node/3386-kubelet-evented-pleg/README.md
  keps/sig-node/3386-kubelet-evented-pleg/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3353 KEP-2371: update criteria for alpha
  keps/sig-node/2371-cri-pod-container-stats/README.md
  keps/sig-node/2371-cri-pod-container-stats/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3398 update e2e tests for vSphere CSI Migration KEP
  keps/sig-storage/1491-csi-migration-vsphere/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3407 update KEP about take taints into considering with latest test plans
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3409 KEP-2133: Add GA test plan
  keps/sig-node/2133-kubelet-credential-providers/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3390 Update Test Plan section with prerequisite section from latest template
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#3406 KEP 2008: update test plan
  keps/sig-node/2008-forensic-container-checkpointing/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#3411 KEP-1487: Add aws-ebs migration test plan
  keps/sig-storage/1487-csi-migration-aws/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3414 mark non-preempting policy as implemented
  keps/sig-scheduling/902-non-preempting-priorityclass/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3368 KEP-596: Move GA milestone to 1.25, update PRR
  keps/sig-storage/596-csi-inline-volumes/README.md
  keps/sig-storage/596-csi-inline-volumes/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3391 [Draft] KEP-1040: periodically adjusted borrowing between priority levels in APF
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3405 KEP-2254: Target sig-node cgroupv2 KEP to GA in 1.25
  keps/prod-readiness/sig-node/2254.yaml
  keps/sig-node/2254-cgroup-v2/README.md
  keps/sig-node/2254-cgroup-v2/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3419 KEP-2133: Update test plan
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3384 KEP-277: Target GA in 1.25
  keps/prod-readiness/sig-node/277.yaml
  keps/sig-node/277-ephemeral-containers/README.md
  keps/sig-node/277-ephemeral-containers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#2883 KEP-2079: Move portRanges to GA
  keps/prod-readiness/sig-network/2079.yaml
  keps/sig-network/2079-network-policy-port-range/README.md
  keps/sig-network/2079-network-policy-port-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, lifecycle/active, kind/kep

#3341 Windows/KEP-2258: Update API and milestones for Node Log Viewer
  keps/sig-windows/2258-node-service-log-viewer/README.md
  keps/sig-windows/2258-node-service-log-viewer/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3413 promote ServiceIPStaticSubrange to beta
  keps/prod-readiness/sig-network/3070.yaml
  keps/sig-network/3070-reserved-service-ip-range/README.md
  keps/sig-network/3070-reserved-service-ip-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3334 KEP-3327: Add CPUManager policy option to align CPUs by Socket instead of by NUMA node
  keps/prod-readiness/sig-node/3327.yaml
  keps/sig-node/3327-align-by-socket/README.md
  keps/sig-node/3327-align-by-socket/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#3323 Graduate release artifact signing to beta
  keps/prod-readiness/sig-release/3031.yaml
  keps/sig-release/3031-signing-release-artifacts/README.md
  keps/sig-release/3031-signing-release-artifacts/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/L, approved, kind/kep

#3338 [KEP-3022] Write the production readiness requirements to graduate to beta
  keps/prod-readiness/sig-scheduling/3022.yaml
  keps/sig-scheduling/3022-min-domains-in-pod-topology-spread/README.md
  keps/sig-scheduling/3022-min-domains-in-pod-topology-spread/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3404 KEP-2831: update KEP testing plan, implementation history, & milestones
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
  keps/sig-instrumentation/2831-kubelet-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3087 KEP-3085: Add KEP for Pod network ready condition
  keps/prod-readiness/sig-node/3085.yaml
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/README.md
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, area/enhancements

#3365 KEP-1880 Multiple Service CIDRs
  keps/prod-readiness/sig-network/1880.yaml
  keps/sig-network/1880-multiple-service-cidrs/README.md
  keps/sig-network/1880-multiple-service-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#2697 promote ephemeral-storage-quotas to beta in 1.25
  keps/prod-readiness/sig-node/1029.yaml
  keps/sig-node/1029-ephemeral-storage-quotas/README.md
  keps/sig-node/1029-ephemeral-storage-quotas/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3392 KEP-3104: Introduce kuberc
  keps/prod-readiness/sig-cli/3104.yaml
  keps/sig-cli/3104-introduce-kuberc/README.md
  keps/sig-cli/3104-introduce-kuberc/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XL, approved, kind/kep

#3422 KEP-361: promote Local Ephemeral Storage to GA
  keps/prod-readiness/sig-storage/361.yaml
  keps/sig-storage/361-local-ephemeral-storage-isolation/README.md
  keps/sig-storage/361-local-ephemeral-storage-isolation/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3402 KEP:2593:Update ClusterCIDRConfig API, Test plan and Milestones
  keps/sig-network/2593-multiple-cluster-cidrs/README.md
  keps/sig-network/2593-multiple-cluster-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3418 KEP 3178: mark implementable, update Test Plan for alpha
  keps/sig-network/3178-iptables-cleanup/README.md
  keps/sig-network/3178-iptables-cleanup/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3377 KEP-1027: API Unions for 1.25
  keps/prod-readiness/sig-api-machinery/1027.yaml
  keps/sig-api-machinery/1027-api-unions/README.md
  keps/sig-api-machinery/1027-api-unions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3364 KEP-3352: Aggregated Discovery KEP to Alpha
  keps/prod-readiness/sig-api-machinery/3352.yaml
  keps/sig-api-machinery/3352-aggregated-discovery/README.md
  keps/sig-api-machinery/3352-aggregated-discovery/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3064 KEP-3063: dynamic resource allocation
  keps/prod-readiness/sig-node/3063.yaml
  keps/sig-node/3063-dynamic-resource-allocation/Makefile
  keps/sig-node/3063-dynamic-resource-allocation/README.md
  keps/sig-node/3063-dynamic-resource-allocation/components.png
  keps/sig-node/3063-dynamic-resource-allocation/components.puml
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
  keps/sig-node/3063-dynamic-resource-allocation/kubelet.png
  keps/sig-node/3063-dynamic-resource-allocation/kubelet.puml
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3421 KEP-1488: Update test coverage
  keps/sig-storage/1488-csi-migration-gce-pd/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3424 Update test plan for artifact signing KEP
  keps/sig-release/3031-signing-release-artifacts/README.md
Labels: cncf-cla: yes, lgtm, sig/release, size/S, approved, kind/kep

#3403 KEP 2371: update latest-milestone to 1.25
  keps/sig-node/2371-cri-pod-container-stats/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3426 update proto snippets in kms v2
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3408 Updates kep-2238 for v1.25
  keps/sig-node/2238-liveness-probe-grace-period/README.md
  keps/sig-node/2238-liveness-probe-grace-period/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep
