Repository kubernetes/enhancements, pull requests merged in 2023-05, with the labels that each got.

#3971 KEP-3325: Promote SelfSubjectReview to Stable
  keps/prod-readiness/sig-auth/3325.yaml
  keps/sig-auth/3325-self-subject-attributes-review-api/README.md
  keps/sig-auth/3325-self-subject-attributes-review-api/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3979 2258: Update node log query
  keps/sig-windows/2258-node-log-query/README.md
  keps/sig-windows/2258-node-log-query/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3952 update kmsv2 kep with beta design
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3754 KEP-2923 update rbd migration feature milestone in KEP to 1.27
  keps/sig-storage/2923-csi-migration-ceph-rbd/README.md
  keps/sig-storage/2923-csi-migration-ceph-rbd/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3948 KEP-2876: Clear Graduation Criteria for CRD validation rules to stable
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
  keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3907 3860: add explanation of integration tests
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3987 DeviceManager is GA now
  keps/sig-node/3573-device-plugin/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3988 Topology Manager is GA now
  keps/sig-node/693-topology-manager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3989 gRPC probes is GA now
  keps/sig-node/2727-grpc-probe/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3928 fix broken links because design proposals have been archived
  keps/sig-api-machinery/2334-graduate-server-side-get-and-partial-objects-to-GA/kep.yaml
  keps/sig-api-machinery/492-admission-webhooks/kep.yaml
  keps/sig-api-machinery/598-crd-conversion-webhook/kep.yaml
  keps/sig-api-machinery/692-crd-openapi-schema/README.md
  keps/sig-api-machinery/692-crd-openapi-schema/kep.yaml
  keps/sig-api-machinery/95-custom-resource-definitions/README.md
  keps/sig-apps/1591-daemonset-surge/README.md
  keps/sig-apps/19-Graduate-CronJob-to-Stable/kep.yaml
  keps/sig-cli/2379-kubectl-plugins/kep.yaml
  keps/sig-cli/2906-kustomize-function-catalog/README.md
  keps/sig-cli/2953-kustomize-plugin-graduation/README.md
  keps/sig-cloud-provider/2392-cloud-controller-manager/README.md
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
  keps/sig-cloud-provider/669-out-of-tree-openstack/README.md
  keps/sig-cloud-provider/670-out-of-tree-vsphere/README.md
  keps/sig-cloud-provider/azure/586-azure-availability-zones/README.md
  keps/sig-cluster-lifecycle/clusterapi/2495-Kubernetes-Cluster-Management-API/README.md
  keps/sig-cluster-lifecycle/kubeadm/1177-kubeadm-with-kustomize/README.md
  keps/sig-instrumentation/383-new-event-api-ga-graduation/README.md
  keps/sig-network/427-coredns/README.md
  keps/sig-node/135-seccomp/README.md
  keps/sig-node/1558-streaming-proxy-redirects/README.md
  keps/sig-node/1769-memory-manager/README.md
  keps/sig-node/2371-cri-pod-container-stats/README.md
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/281-dynamic-kubelet-configuration/README.md
  keps/sig-node/34-sysctl-fields/README.md
  keps/sig-node/727-resource-metrics-endpoint/README.md
  keps/sig-scheduling/1819-scheduler-extender/README.md
  keps/sig-scheduling/268-priority-preemption/README.md
  keps/sig-scheduling/382-taint-node-by-condition/kep.yaml
  keps/sig-storage/121-local-persistent-volumes/README.md
  keps/sig-storage/121-local-persistent-volumes/kep.yaml
  keps/sig-storage/1472-storage-capacity-tracking/README.md
  keps/sig-storage/1487-csi-migration-aws/kep.yaml
  keps/sig-storage/1488-csi-migration-gce-pd/kep.yaml
  keps/sig-storage/1489-csi-migration-cinder/kep.yaml
  keps/sig-storage/1490-csi-migration-azuredisk/kep.yaml
  keps/sig-storage/1491-csi-migration-vsphere/kep.yaml
  keps/sig-storage/1845-prioritization-on-volume-capacity/README.md
  keps/sig-storage/1885-csi-migration-azurefile/kep.yaml
  keps/sig-storage/2589-csi-migration-portworx/kep.yaml
  keps/sig-storage/2923-csi-migration-ceph-rbd/kep.yaml
  keps/sig-storage/2924-csi-migration-cephfs/kep.yaml
  keps/sig-storage/351-raw-block-support/README.md
  keps/sig-storage/351-raw-block-support/kep.yaml
  keps/sig-storage/531-online-pv-resizing/README.md
  keps/sig-storage/531-online-pv-resizing/kep.yaml
  keps/sig-storage/556-csi-volume-resizing/README.md
  keps/sig-storage/557-csi-topology/README.md
  keps/sig-storage/565-csi-block-support/README.md
  keps/sig-storage/565-csi-block-support/kep.yaml
  keps/sig-storage/603-csi-pod-info/README.md
  keps/sig-storage/603-csi-pod-info/kep.yaml
  keps/sig-storage/770-csi-skip-attach/README.md
  keps/sig-storage/770-csi-skip-attach/kep.yaml
Labels: sig/apps, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, sig/storage, sig/api-machinery, sig/instrumentation, cncf-cla: yes, lgtm, sig/cli, area/provider/azure, size/L, approved, kind/cleanup, sig/cloud-provider, kind/kep

#4007 KEP-1731: Update milestone for KEP-1731
  keps/sig-release/1731-publishing-packages/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/XS, approved, kind/kep

#4002 Add v1.28 enhancements board link to Readme.md
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3984 KEP-2307: add a note for deprecation job tracking
  keps/sig-apps/2307-job-tracking-without-lingering-pods/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3911 Update non-graceful node shutdown KEP following to template
  keps/sig-storage/2268-non-graceful-shutdown/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3992 KEP-1281: Clarify beta status.
  keps/sig-api-machinery/1281-network-proxy/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3980 node: podresources: GA in 1.28
  keps/sig-node/606-compute-device-assignment/README.md
  keps/sig-node/606-compute-device-assignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4038 KEP-2681: Target to alpha for 1.28
  keps/sig-network/2681-pod-host-ip/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4023 update stable milestone for KMSv2 to v1.29
  keps/sig-auth/3299-kms-v2-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3975 KEP-3705: update CloudDualStackNodeIPs to beta
  keps/prod-readiness/sig-network/3705.yaml
  keps/sig-network/3705-cloud-node-ips/README.md
  keps/sig-network/3705-cloud-node-ips/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3982 update release for GA for KEP 1699
  keps/sig-network/1669-proxy-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3914 KEP-2595: Promote to the GA stage
  keps/prod-readiness/sig-network/2595.yaml
  keps/sig-network/2595-expanded-dns-config/README.md
  keps/sig-network/2595-expanded-dns-config/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3965 Beta update for Kubelet preemption (1.28) "KEP-3329: Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
  keps/sig-apps/3329-retriable-and-non-retriable-failures/kep.yaml
Labels: sig/apps, sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep
