Repository kubernetes/enhancements, pull requests merged in 2023-07, with the labels that each got.

#4095 KEP 3458/3836 - update test plan
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/README.md
  keps/sig-network/3836-kube-proxy-improved-ingress-connectivity-reliability/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3915 PodResources API for DRA: match API with actual implementation in 1.27
  keps/sig-node/3695-pod-resources-for-dra/README.md
  keps/sig-node/3695-pod-resources-for-dra/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#3996 KEP-3726: Add WebSocket as a standard protocol
  keps/sig-network/3726-standard-application-protocols/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4124 node: podres: getalloc: fix expected stage
  keps/sig-node/2403-pod-resources-allocatable-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4132 KEP-3488: Add GA criteria
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4136 KEP-3935: Update timelines for vsphere/azurefile CSI removal
  keps/sig-storage/1491-csi-migration-vsphere/README.md
  keps/sig-storage/1885-csi-migration-azurefile/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, sig/architecture, size/S, approved, kind/kep

#4135 KEP-2799: update latest-milestone to 1.28
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
