Repository kubernetes/enhancements, pull requests merged in 2023-06, with the labels that each got.

#4041 add GA requirement for extending metrics stability
  keps/prod-readiness/sig-instrumentation/3498.yaml
  keps/sig-instrumentation/3498-extending-stability/README.md
  keps/sig-instrumentation/3498-extending-stability/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4018 KEP-1440: Promote kubectl events command to stable
  keps/prod-readiness/sig-cli/1440.yaml
  keps/sig-cli/1440-kubectl-events/README.md
  keps/sig-cli/1440-kubectl-events/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, tide/merge-method-squash, kind/kep

#4021 graduate RetroactiveDefaultStorageClass featrue to GA in 1.28
  keps/prod-readiness/sig-storage/3333.yaml
  keps/sig-storage/3333-retroactive-default-storage-class/README.md
  keps/sig-storage/3333-retroactive-default-storage-class/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4051 update kep-3762 for milestone 1.28
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4058 Updating SIG Cloud Provider leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4064 enhancements repo: Replace lavalamp with jpbetz as TL of sig-apimachi…
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3967 Backoff limit per Job Index
  keps/prod-readiness/sig-apps/3850.yaml
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/README.md
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, api-review, wg/batch

#4001 fix(kep-3633): redesign matchLabelKeys as matchLabelSelectors to introduce Operator field
  keps/sig-scheduling/3633-matchlabelselectors-to-podaffinity/README.md
  keps/sig-scheduling/3633-matchlabelselectors-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep, api-review

#4059 KEP-3716: add beta milestone for AdmissionWebhookMatchConditions
  keps/prod-readiness/sig-api-machinery/3716.yaml
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/README.md
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4016 KEP-4006: Initial iteration of provisional WebSockets KEP
  keps/prod-readiness/sig-api-machinery/4006.yaml
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/README.md
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/kep.yaml
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/remote-command-subprotocol.png
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/spdy-architechtural-diagram.png
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/stream-translator-proxy-2.png
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4074 KEP-4020: Unknown Version Interoperability Proxy : Remove uvip acronym from metrics/headers
  keps/sig-api-machinery/4020-unknown-version-interoperability-proxy/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4071 Make SIG Node tech leads to approve KEPs
  OWNERS_ALIASES
  keps/sig-node/2043-pod-resource-concrete-assigments/kep.yaml
  keps/sig-node/2403-pod-resources-allocatable-resources/kep.yaml
  keps/sig-node/2625-cpumanager-policies-thread-placement/kep.yaml
  keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/kep.yaml
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
  keps/sig-node/3327-align-by-socket/kep.yaml
  keps/sig-node/3545-improved-multi-numa-alignment/kep.yaml
  keps/sig-node/3695-pod-resources-for-dra/kep.yaml
  keps/sig-node/606-compute-device-assignment/kep.yaml
  keps/sig-node/OWNERS
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4061 Update KEP 3157 (watch-list) for milestone 1.28
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3991 KEP-1040: Add borrowing by exempt to APF GA criteria
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4057 KEP-1040: Add deep disable to GA criteria
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3949 KEP-3488: promote validatingadmissionpolicy to beta
  keps/prod-readiness/sig-api-machinery/3488.yaml
  keps/sig-api-machinery/3488-cel-admission-control/README.md
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4036 KEP-3673: Promote Parallel Image Pull Limit to Beta
  keps/prod-readiness/sig-node/3673.yaml
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/README.md
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3968 move sidecar to milestone 1.28
  keps/sig-node/753-sidecar-containers/README.md
  keps/sig-node/753-sidecar-containers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4003 KEP-2433: add new heuristic to topology routing
  keps/sig-network/2433-topology-aware-hints/README.md
  keps/sig-network/2433-topology-aware-hints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4081 add missing dependency question to KMSv2 KEP
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4047 Revive 2340 Consistent reads from cache KEP
  keps/prod-readiness/sig-api-machinery/2340.yaml
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#4053 KEP-3488: Update for CEL Variable Composition
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4078 KEP-1287: Keep in-place pod resize KEP alpha/implementatle for v1.28
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3944 KEP-1287: Catch up KEP details to actual implementation
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4029 KEP-2268: move non-graceful node shutdown to GA
  keps/prod-readiness/sig-storage/2268.yaml
  keps/sig-storage/2268-non-graceful-shutdown/README.md
  keps/sig-storage/2268-non-graceful-shutdown/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3332 KEP-3331: Structured Authentication Config
  keps/prod-readiness/sig-auth/3331.yaml
  keps/sig-auth/3331-structured-config-for-oidc-authentication/README.md
  keps/sig-auth/3331-structured-config-for-oidc-authentication/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test

#4019 KEP-4017: Pod Index Label for StatefulSets and Indexed Jobs
  keps/prod-readiness/sig-apps/4017.yaml
  keps/sig-apps/4017-pod-index-label/README.md
  keps/sig-apps/4017-pod-index-label/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4085 KEP-3619: update milestone version with v1.28
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4075 KEP-3685: moving to implementable
  keps/prod-readiness/sig-network/3685.yaml
  keps/sig-network/3685-endpointslice-reconciler-to-staging/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4083 update kep-1790 for milestone 1.28
  keps/sig-storage/1790-recover-resize-failure/README.md
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4035 KEP-2923 Deprecation of intree CephFS driver in 1.28
  keps/sig-storage/2924-csi-migration-cephfs/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4087 KEP 3836 - 1.28 update milestones
  keps/sig-network/3836-kube-proxy-improved-ingress-connectivity-reliability/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4088 KEP 3458 - 1.28 milestone bump
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4027 KEP-4026: Add new annotation for job creation timestamp
  keps/prod-readiness/sig-apps/4026.yaml
  keps/sig-apps/4026-crojob-scheduled-timestamp-annotation/README.md
  keps/sig-apps/4026-crojob-scheduled-timestamp-annotation/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#4052 KEP-4052: Sig-API-Machinery: Add generic control plane staging repository(ies)
  keps/sig-api-machinery/4080-generic-controlplane/README.md
  keps/sig-api-machinery/4080-generic-controlplane/kep.yaml
  keps/sig-api-machinery/4080-generic-controlplane/staging-repos.excalidraw
  keps/sig-api-machinery/4080-generic-controlplane/staging-repos.svg
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4084 KEP-127: add support for stateful pods
  keps/sig-node/127-user-namespaces/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3770 KEP 2371: target to beta for 1.28
  keps/prod-readiness/sig-node/2371.yaml
  keps/sig-node/2371-cri-pod-container-stats/README.md
  keps/sig-node/2371-cri-pod-container-stats/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4069 fix(kep-3633): redesign matchLabelSelectors as matchLabelKeys + mismatchLabelKeys
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/README.md
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4091 KEP-4020: Unknown Version Interoperability Proxy : Update KEP status as 'implementable'
  keps/sig-api-machinery/4020-unknown-version-interoperability-proxy/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4092 update(kep-3633): update status on kep.yaml
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3896 KEP-3895: kubectl delete: Add interactive(-i) flag
  keps/prod-readiness/sig-cli/3895.yaml
  keps/sig-cli/3895-kubectl-delete-interactivity/README.md
  keps/sig-cli/3895-kubectl-delete-interactivity/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XL, approved, tide/merge-method-squash, kind/kep

#4039 KEP-2305: Metric cardinality enforcement
  keps/prod-readiness/sig-instrumentation/2305.yaml
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/README.md
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, stage/beta, size/M, approved, kind/kep

#4096 KEP-3063: dra: continue as alpha in 1.28
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3957 KEP-2400: Graduate swap to Beta 1
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4044 [KEP-127] Add Pod Security Standards to User Namespaces KEP
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/auth, sig/node, cncf-cla: yes, lgtm, kind/feature, size/M, approved, kind/kep

#4077 KEP-3085: update kep with implementation details for alpha
  keps/prod-readiness/sig-node/3085.yaml
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3780 KEP-3751: Kubernetes VolumeAttributesClass ModifyVolume
  keps/prod-readiness/sig-storage/3751.yaml
  keps/sig-storage/3751-volume-attributes-class/Create_PVC.png
  keps/sig-storage/3751-volume-attributes-class/Create_Volume.png
  keps/sig-storage/3751-volume-attributes-class/Create_VolumeAttributesClass.png
  keps/sig-storage/3751-volume-attributes-class/Delete_PVC.png
  keps/sig-storage/3751-volume-attributes-class/Delete_VolumeAttributesClass.png
  keps/sig-storage/3751-volume-attributes-class/README.md
  keps/sig-storage/3751-volume-attributes-class/VolumeAttributesClass-BatchUpdate.png
  keps/sig-storage/3751-volume-attributes-class/VolumeAttributesClass-Flow.png
  keps/sig-storage/3751-volume-attributes-class/VolumeAttributesClass-ModifyVolume-Flow.png
  keps/sig-storage/3751-volume-attributes-class/VolumeAttributesClass_Update.png
  keps/sig-storage/3751-volume-attributes-class/kep.yaml
Labels: sig/apps, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, sig/storage, sig/api-machinery, sig/instrumentation, cncf-cla: yes, lgtm, sig/cli, sig/release, size/XXL, approved, kind/kep

#4097 KEP-2400: Add missing questions from latest PRR template
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4079 Promote Improved multi-numa alignment in Topology Manager to beta
  keps/prod-readiness/sig-node/3545.yaml
  keps/sig-node/3545-improved-multi-numa-alignment/README.md
  keps/sig-node/3545-improved-multi-numa-alignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4013 KEP-4008: CRD Validation Ratcheting
  keps/prod-readiness/sig-api-machinery/4008.yaml
  keps/sig-api-machinery/4008-crd-ratcheting/README.md
  keps/sig-api-machinery/4008-crd-ratcheting/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/cli, size/XXL, approved, kind/kep

#4098 KEP-3178: Bump 'IPTables Ownership' to GA
  keps/prod-readiness/sig-network/3178.yaml
  keps/sig-network/3178-iptables-cleanup/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4093 Memory QoS Beta Update and Production Readiness
  keps/prod-readiness/sig-node/2570.yaml
  keps/sig-node/2570-memory-qos/README.md
  keps/sig-node/2570-memory-qos/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4031 KEP-3983: Add support for a drop-in kubelet configuration directory
  keps/prod-readiness/sig-node/3983.yaml
  keps/sig-node/3983-drop-in-configuration/README.md
  keps/sig-node/3983-drop-in-configuration/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4099 KEP-3257 (ClusterTrustBundles): Update for 1.28 freeze
  keps/sig-auth/3257-trust-anchor-sets/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#4034 KEP-4033: Discover cgroup driver from CRI
  keps/prod-readiness/sig-node/4033.yaml
  keps/sig-node/4033-group-driver-detection-over-cri/README.md
  keps/sig-node/4033-group-driver-detection-over-cri/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3961 KEP-3960: Introducing Sleep Action for PreStop Hook
  keps/prod-readiness/sig-node/3960.yaml
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#4103 KEP-3545: update milestones for Improved multi-numa alignment in Topology Manager
  keps/sig-node/3545-improved-multi-numa-alignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4011 KEP4009: Add CDI Devices to device plugin API
  keps/prod-readiness/sig-node/4009.yaml
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/README.md
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4101 kep3960: update status to "implementable"
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4045 KEP-2403: graduate to GA
  keps/prod-readiness/sig-node/2403.yaml
  keps/sig-node/2403-pod-resources-allocatable-resources/README.md
  keps/sig-node/2403-pod-resources-allocatable-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4107 KEP-127: Fix user namespaces feature gate name
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4089 KEP-1281: update stale content.
  keps/sig-api-machinery/1281-network-proxy/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4115 KEP 3331: Structured authentication config: fix path
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4065 KEP-3521: Add new metric for excluding PreEnqueue duration time
  keps/sig-scheduling/3521-pod-scheduling-readiness/README.md
Labels: sig/scheduling, sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
