Repository kubernetes/enhancements, pull requests merged in 2023-08, with the labels that each got.

#4140 KEP-3935: Mark as implemented
  keps/sig-architecture/3935-oldest-node-newest-control-plane/README.md
  keps/sig-architecture/3935-oldest-node-newest-control-plane/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/S, approved, kind/kep

#3274 KEP-365: Target API List Pagination at GA
  keps/prod-readiness/sig-api-machinery/365.yaml
  keps/sig-api-machinery/365-paginated-lists/README.MD
  keps/sig-api-machinery/365-paginated-lists/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4123 Update for KEP3850 "Backoff Limit Per Index"
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4151 [StructuredAuthnConfig] update alpha milestone to v1.29
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4157 Revise KEP 2799-reduction-of-secret-based-service-account-token for LegacyServiceaccountTokenCleanup feature.
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, kind/kep

#4161 KEP-3221: Update for 1.29
  keps/sig-auth/3221-structured-authorization-configuration/README.md
  keps/sig-auth/3221-structured-authorization-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4158 promote ServiceNodePortStaticSubrange to stable
  keps/prod-readiness/sig-network/3668.yaml
  keps/sig-network/3668-reserved-service-nodeport-range/README.md
  keps/sig-network/3668-reserved-service-nodeport-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4109 Typo fix in multiple keps
  keps/provider-aws/629-alb-ingress-controller/README.md
  keps/provider-aws/630-ebs-csi-driver/README.md
  keps/sig-api-machinery/1623-standardize-conditions/README.md
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/README.md
  keps/sig-auth/1393-oidc-discovery/README.md
  keps/sig-auth/1687-hierarchical-namespaces-subproject/README.md
  keps/sig-scheduling/986-resource-quota-scope-selectors/README.md
  keps/sig-storage/2263-volume-scale-testing/README.md
  keps/sig-storage/989-extend-datasource/README.md
  keps/sig-windows/1122-windows-csi-support/README.md
  keps/sig-windows/689-windows-gmsa/README.md
Labels: sig/auth, area/provider/aws, sig/scheduling, sig/storage, sig/windows, sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test
