Repository kubernetes/enhancements, pull requests merged in 2023-01, with the labels that each got.

#3696 KEP-2799: update for LegacyServiceAccountTokenTracking beta
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3712 KEP-1435: Support of mixed protocols in Services with type=LoadBalancer is implemented
  keps/sig-network/1435-mixed-protocol-lb/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3577 KEP-3453 minimize iptables-restore to Beta
  keps/prod-readiness/sig-network/3453.yaml
  keps/sig-network/3453-minimize-iptables-restore/5000Node-perf.png
  keps/sig-network/3453-minimize-iptables-restore/README.md
  keps/sig-network/3453-minimize-iptables-restore/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3708 set kep 3070 to implemented
  keps/sig-network/3070-reserved-service-ip-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3734 KEP-1611 (NetPol tests) is implemented
  keps/sig-network/1611-network-policy-validation/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3730 2943: Withdrawn network policy status implementation
  keps/sig-network/2943-networkpolicy-status/README.md
  keps/sig-network/2943-networkpolicy-status/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3670 Retarget in-place pod resize KEP to 1.27 alpha
  keps/sig-node/1287-in-place-update-pod-resources/README.md
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3627 KEP-3141: Fix KEP title (Prevent unauthorised volume mode conversion)
  keps/sig-storage/3141-prevent-volume-mode-conversion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, lifecycle/stale, kind/kep

#3758 KEP-647: Update Api Server Tracing to 1.27 for beta
  keps/sig-instrumentation/647-apiserver-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3760 Update KEP-383 graduation criterias
  keps/sig-instrumentation/383-new-event-api-ga-graduation/README.md
  keps/sig-instrumentation/383-new-event-api-ga-graduation/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3667 Update API proposal for KEP 3157
  keps/sig-api-machinery/3157-watch-list/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3682 Reserve Nodeport Ranges For Dynamic And Static Port Allocation
  keps/prod-readiness/sig-network/3668.yaml
  keps/sig-network/3668-reserved-service-nodeport-range/README.md
  keps/sig-network/3668-reserved-service-nodeport-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3709 KEP-2926: Graduate mutable scheduling directives to stable
  keps/prod-readiness/sig-scheduling/2926.yaml
  keps/sig-scheduling/2926-job-mutable-scheduling-directives/README.md
  keps/sig-scheduling/2926-job-mutable-scheduling-directives/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3722 KEP-3352 Aggregated Discovery to Beta
  keps/prod-readiness/sig-api-machinery/3352.yaml
  keps/sig-api-machinery/3352-aggregated-discovery/README.md
  keps/sig-api-machinery/3352-aggregated-discovery/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3735 Update verify-toc.sh
  hack/verify-toc.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/enhancements

#3771 KEP-1040: update GA graduation criteria
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3753 KEP-3466: update beta graduation requirements for component SLIs
  keps/prod-readiness/sig-instrumentation/3466.yaml
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3767 KEP-3766: Move ReferenceGrant to sig-auth API Group
  keps/sig-auth/3766-referencegrant/README.md
  keps/sig-auth/3766-referencegrant/kep.yaml
Labels: sig/auth, sig/network, sig/storage, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3706 KEP-3705: Cloud Dual-Stack --node-ip Handling
  keps/sig-network/3705-cloud-node-ips/README.md
  keps/sig-network/3705-cloud-node-ips/kep.yaml
Labels: sig/network, sig/node, cncf-cla: yes, lgtm, size/XL, approved, sig/cloud-provider, kind/kep

#3660 KEP-2091: Update API types for AdminNetworkPolicy and BaselineAdminNetworkPolicy
  keps/sig-network/2091-admin-network-policy/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3783 Extend PRR template with node resource exhaustion question
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3782 KEP-3488: update on resource constraints
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3792 KEP-277: Mark as implemented
  keps/sig-node/277-ephemeral-containers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3799 Updated mutable scheduling directives to adhere to the new test template
  keps/sig-scheduling/2926-job-mutable-scheduling-directives/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3727 KEP-3726: standard-application-protocols
  keps/sig-network/3726-standard-application-protocols/README.md
  keps/sig-network/3726-standard-application-protocols/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep, ok-to-test, area/enhancements

#3794 KEP-2681: Target to alpha for 1.27
  keps/sig-network/2681-pod-host-ip/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3769 Testgrid links to e2e tests for "KEP-3329: Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3651 KEP-3633: Introduce `MatchLabelKeys` to PodAffinity and PodAntiAffinity
  keps/prod-readiness/sig-scheduling/3633.yaml
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/README.md
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#3752 KEP-3498: adding beta graduation criteria for extending metric stability
  keps/prod-readiness/sig-instrumentation/3498.yaml
  keps/sig-instrumentation/3498-extending-stability/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3731 KEP3063: Update CRI structures
  keps/sig-node/3063-dynamic-resource-allocation/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, priority/important-soon, approved, kind/kep, triage/accepted

#3710 2238: update liveness probe grace period enhancement for GA
  keps/sig-node/2238-liveness-probe-grace-period/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3711 KEP-2133: set status to implemented
  keps/sig-node/2133-kubelet-credential-providers/README.md
  keps/sig-node/2133-kubelet-credential-providers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3772 KEP-3325: SelfSubjectReview API Beta graduation
  keps/prod-readiness/sig-auth/3325.yaml
  keps/sig-auth/3325-self-subject-attributes-review-api/README.md
  keps/sig-auth/3325-self-subject-attributes-review-api/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep
