Repository kubernetes/enhancements, pull requests merged in 2023-09, with the labels that each got.

#4156 bump clusterid to beta
  keps/sig-multicluster/2149-clusterid/README.md
  keps/sig-multicluster/2149-clusterid/kep.yaml
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4172 update etcd learner mode status of kubeadm implementation
  keps/sig-cluster-lifecycle/kubeadm/3614-etcd-learner-mode/README.md
  keps/sig-cluster-lifecycle/kubeadm/3614-etcd-learner-mode/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4005 KEP-4004: Deprecate the kubeProxyVersion field of v1.Node
  keps/sig-network/4004-deprecate-kube-proxy-version/README.md
  keps/sig-network/4004-deprecate-kube-proxy-version/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4185 Update KEP-3902 decoupled taintmanager release target to 1.29
  keps/sig-scheduling/3902-decoupled-taint-manager/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4179 mark non-graceful node shutdown as implemented
  keps/sig-storage/2268-non-graceful-shutdown/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4195 KEP-3331: rename clientIDs to audiences based on current impl
  keps/sig-auth/3331-structured-authentication-configuration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, triage/accepted

#4200 remove unused OWNER_ALIAS for provider-gcp
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4119 update the description in the making-resizestatus-more-general-in-v1.28 section
  keps/sig-storage/1790-recover-resize-failure/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4203 KEP-1040: Check off most remaining GA criteria
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
  keps/sig-api-machinery/1040-priority-and-fairness/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4168 Move KEP 2681 to Beta
  keps/prod-readiness/sig-network/2681.yaml
  keps/sig-network/2681-pod-host-ip/README.md
  keps/sig-network/2681-pod-host-ip/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4215 Add kube-apiserver to the components field for LegacyServiceAccountTokenCleanUp in kep.yaml.
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, kind/kep

#4201 bump component slis to stable
  keps/prod-readiness/sig-instrumentation/3466.yaml
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/README.md
  keps/sig-instrumentation/3466-kubernetes-component-health-slis/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4220 KEP-3299: update KMS v2 design to match v1.28 implementation
  keps/sig-auth/3299-kms-v2-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4227 KEP-3257: Cluster trust bundle: fix path and update alpha milestone
  keps/sig-auth/3257-cluster-trust-bundles/README.md
  keps/sig-auth/3257-cluster-trust-bundles/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, triage/accepted

#4226 KMSv2: Update KEP for GA
  keps/prod-readiness/sig-auth/3299.yaml
  keps/sig-auth/3299-kms-v2-improvements/README.md
  keps/sig-auth/3299-kms-v2-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep, triage/accepted

#4125 KEP-3762: graduate PersistentVolumeLastPhaseTransitionTime to beta in v1.29
  keps/prod-readiness/sig-storage/3762.yaml
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/README.md
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4233 Update the target version of KEP-3633
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4235 Mark pagination kep as implementable
  keps/sig-api-machinery/365-paginated-lists/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4118 Update SRC members in OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4147 KEP-127: Update feature gate name and update last-milestone for 1.29
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4202 Update StorageVersion API KEP to reflect current state
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4245 Update Graduation Criteria for kep-3751
  keps/sig-storage/3751-volume-attributes-class/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4199 KEP-4004: change from provisional to implementable
  keps/prod-readiness/sig-network/4004.yaml
  keps/sig-network/4004-deprecate-kube-proxy-version/README.md
  keps/sig-network/4004-deprecate-kube-proxy-version/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4149 update 3939 with some items for beta.
  keps/sig-apps/3939-allow-replacement-when-fully-terminated/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4160 KEP-1441: Update netadmin profile to add CAP_NET_RAW and remove privileged
  keps/sig-cli/1441-kubectl-debug/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, kind/kep, ok-to-test

#4253 KEP 2593: withdrawn cluster-cidr kep
  keps/sig-network/2593-multiple-cluster-cidrs/README.md
  keps/sig-network/2593-multiple-cluster-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4243 KEP-2570: Updating Memory QoS status to eventually deprecate the alpha feature
  keps/sig-node/2570-memory-qos/README.md
  keps/sig-node/2570-memory-qos/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep
