Repository kubernetes/enhancements, pull requests merged in 2023-02, with the labels that each got.

#3723 KEP-3720: Freeze `k8s.gcr.io` image registry
  keps/prod-readiness/sig-release/3720.yaml
  keps/sig-release/3720-freezing-k8s-gcr-io/README.md
  keps/sig-release/3720-freezing-k8s-gcr-io/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/L, approved, tide/merge-method-squash, kind/kep

#3798 KEP-3705: update CloudNodeIPs to implementable
  keps/prod-readiness/sig-network/3705.yaml
  keps/sig-network/3705-cloud-node-ips/README.md
  keps/sig-network/3705-cloud-node-ips/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3800 1847: 1.27 beta update
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
  keps/sig-apps/1847-autoremove-statefulset-pvcs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3457 KEP-2227: update implementation history
  keps/prod-readiness/sig-cli/2227.yaml
  keps/sig-cli/2227-kubectl-default-container/README.md
  keps/sig-cli/2227-kubectl-default-container/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#3823 KEP-3325: Update latest-milestone to v1.27
  keps/sig-auth/3325-self-subject-attributes-review-api/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3808 Update the release for alpha2
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3736 KEP-3488: Adjust for inclusion of string.format in CEL
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3537 KEP-2485: ReadWriteOncePod beta production readiness
  keps/prod-readiness/sig-storage/2485.yaml
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/README.md
  keps/sig-storage/2485-read-write-once-pod-pv-access-mode/kep.yaml
Labels: sig/scheduling, sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3773 KEP-2896: OpenAPI V3 to GA
  keps/prod-readiness/sig-api-machinery/2896.yaml
  keps/sig-api-machinery/2896-openapi-v3/README.md
  keps/sig-api-machinery/2896-openapi-v3/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3809 KEP-3668: update to implementable
  keps/prod-readiness/sig-network/3668.yaml
  keps/sig-network/3668-reserved-service-nodeport-range/README.md
  keps/sig-network/3668-reserved-service-nodeport-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3460 KEP-3458: Remove transient node predicates from KCCM's service controller
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/README.md
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, needs-ok-to-test, approved, sig/cloud-provider, kind/kep

#3822 Update KEP 3157 for milestone 1.27
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3739 KEP-3521: Graduate PodSchedulingReadiness to beta
  keps/prod-readiness/sig-scheduling/3521.yaml
  keps/sig-scheduling/3521-pod-scheduling-readiness/README.md
  keps/sig-scheduling/3521-pod-scheduling-readiness/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3740 KEP-3243: Graduate MatchLabelKeys In PodTopologySpread to beta
  keps/prod-readiness/sig-scheduling/3243.yaml
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/README.md
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3724 KEP-3715: Elastic Indexed Jobs
  keps/prod-readiness/sig-apps/3715.yaml
  keps/sig-apps/3715-elastic-indexed-job/README.md
  keps/sig-apps/3715-elastic-indexed-job/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3449 KEP 3140: Promote CronJob's TimeZone support to GA
  keps/prod-readiness/sig-apps/3140.yaml
  keps/sig-apps/3140-TimeZone-support-in-CronJob/README.md
  keps/sig-apps/3140-TimeZone-support-in-CronJob/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, lifecycle/stale, kind/kep

#3826 kep-3257: Update target milestone, record reviewers / approvers
  keps/sig-auth/3257-trust-anchor-sets/README.md
  keps/sig-auth/3257-trust-anchor-sets/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, kind/kep

#3820 KEP-1040: Update README.md and kep.yaml
  keps/prod-readiness/sig-api-machinery/1040.yaml
  keps/sig-api-machinery/1040-priority-and-fairness/README.md
  keps/sig-api-machinery/1040-priority-and-fairness/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3713 KEP-3673: Kubelet limit of Parallel Image Pulls
  keps/prod-readiness/sig-node/3673.yaml
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/README.md
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3556 KEP-3141: Graduate "Prevent unauthorised volume mode conversion" to Beta
  keps/prod-readiness/sig-storage/3141.yaml
  keps/sig-storage/3141-prevent-volume-mode-conversion/README.md
  keps/sig-storage/3141-prevent-volume-mode-conversion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3768 KEP-3335: Update beta milestone to 1.27
  keps/prod-readiness/sig-apps/3335.yaml
  keps/sig-apps/3335-statefulset-slice/README.md
  keps/sig-apps/3335-statefulset-slice/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3825 kep-1669: add GA graduation criterias for v1.27
  keps/prod-readiness/sig-network/1669.yaml
  keps/sig-network/1669-proxy-terminating-endpoints/README.md
  keps/sig-network/1669-proxy-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3829 Update recovery kep with new APIs
  keps/sig-storage/1790-recover-resize-failure/README.md
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/api-change, kind/kep

#3842 add PRR question and update KEP status
  keps/sig-instrumentation/3498-extending-stability/README.md
  keps/sig-instrumentation/3498-extending-stability/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3749 KEP-3744: Stay on supported go versions: initial draft
  keps/prod-readiness/sig-release/3744.yaml
  keps/sig-release/3744-stay-on-supported-go-versions/README.md
  keps/sig-release/3744-stay-on-supported-go-versions/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, sig/architecture, size/L, approved, kind/kep

#3781 KEP-2876: Define GA graduation criteria
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3846 KEP-1040: Push GA to release 1.28
  keps/sig-api-machinery/1040-priority-and-fairness/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3841 KEP-3243: Answer New Question in PRR
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3801 [v1.27] update etcd-learner-mode KEP status
  keps/sig-cluster-lifecycle/kubeadm/3614-etcd-learner-mode/README.md
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3748 KEP-3515: kubectl explain openapiv3 - beta graduation criteria
  keps/prod-readiness/sig-cli/3515.yaml
  keps/sig-cli/3515-kubectl-explain-openapiv3/README.md
  keps/sig-cli/3515-kubectl-explain-openapiv3/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, tide/merge-method-squash, kind/kep

#3843 KEP-2896 Fix testing plan and add additional PRR question
  keps/sig-api-machinery/2896-openapi-v3/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3849 add new template question to KEP-3453 and KEP-3705
  keps/sig-network/3453-minimize-iptables-restore/README.md
  keps/sig-network/3705-cloud-node-ips/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, priority/important-soon, approved, kind/kep

#3847 KEP-1847: Update for 1.27 template
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3811 KEP-127: Support userns in stateless pods with idmap mounts
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3845 In-place pod resize KEP: template update housekeeping changes
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3844 KEP-1880: updating KEP
  keps/sig-network/1880-multiple-service-cidrs/README.md
  keps/sig-network/1880-multiple-service-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3729 KEP-2590: graduate kubectl subresource support to beta
  keps/prod-readiness/sig-cli/2590.yaml
  keps/sig-cli/2590-kubectl-subresource/README.md
  keps/sig-cli/2590-kubectl-subresource/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#3807 2727 - promote grpc probes to GA
  keps/prod-readiness/sig-node/2727.yaml
  keps/sig-node/2727-grpc-probe/README.md
  keps/sig-node/2727-grpc-probe/kep.yaml
Labels: sig/network, sig/node, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#3848 KEP-2681: Update to latest template
  keps/sig-network/2681-pod-host-ip/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3804 KEP-3299: Update kmsv2 kep for beta
  keps/prod-readiness/sig-auth/3299.yaml
  keps/sig-auth/3299-kms-v2-improvements/README.md
  keps/sig-auth/3299-kms-v2-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3833 Update kep.yaml for 1.27
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3639 KEP-3638: Enable built-in command shadowing by plugins
  keps/prod-readiness/sig-cli/3638.yaml
  keps/sig-cli/2379-kubectl-plugins/kep.yaml
  keps/sig-cli/3638-built-in-command-shadowing/README.md
  keps/sig-cli/3638-built-in-command-shadowing/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XL, approved, kind/kep

#3747 KEP-2876: Add messageExpression
  keps/sig-api-machinery/2876-crd-validation-expression-language/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, kind/kep

#3757 Update for second Beta with GA criteria for "KEP-3329: Retriable and non-retriable Pod failures for Jobs"
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
  keps/sig-apps/3329-retriable-and-non-retriable-failures/kep.yaml
Labels: sig/apps, sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3840 Pod Mutable Scheduling Directives
  keps/prod-readiness/sig-scheduling/3838.yaml
  keps/sig-scheduling/3838-pod-mutable-scheduling-directives/README.md
  keps/sig-scheduling/3838-pod-mutable-scheduling-directives/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3818 KEP-2570: Memory QOS Alpha Update and Production Readiness
  keps/sig-node/2570-memory-qos/README.md
  keps/sig-node/2570-memory-qos/kep.yaml
  keps/sig-node/2570-memory-qos/memory-high.png
Labels: sig/node, cncf-cla: yes, lgtm, stage/beta, size/L, approved, kind/kep, ok-to-test, lead-opted-in

#3777 KEP-3017: Promote unhealthyPodEvictionPolicy for PDBs to Beta
  keps/prod-readiness/sig-apps/3017.yaml
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3797 KEP-1710: Update SELinux mount ReadWriteOnce optimization for beta
  keps/prod-readiness/sig-storage/1710.yaml
  keps/sig-storage/1710-selinux-relabeling/README.md
  keps/sig-storage/1710-selinux-relabeling/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3854 KEP-3488: Secondary authz for CEL admission control
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3817 KEP-3386: Graduate Evented PLEG to Beta
  keps/prod-readiness/sig-node/3386.yaml
  keps/sig-node/3386-kubelet-evented-pleg/README.md
  keps/sig-node/3386-kubelet-evented-pleg/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep, lead-opted-in

#3856 KEP-1847: Fix heading formatting
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3719 KEP-2053: Graduate DownwardAPIHugePages feature to stable
  keps/prod-readiness/sig-node/2053.yaml
  keps/sig-node/2053-downward-api-hugepages/README.md
  keps/sig-node/2053-downward-api-hugepages/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3830 KEP-2238: update pod readiness probe kep
  keps/prod-readiness/sig-node/2238.yaml
  keps/sig-node/2238-liveness-probe-grace-period/README.md
  keps/sig-node/2238-liveness-probe-grace-period/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#1551 KEP-3476: Add Volume Group Snapshot KEP
  keps/prod-readiness/sig-storage/3476.yaml
  keps/sig-storage/3476-volume-group-snapshot/README.md
  keps/sig-storage/3476-volume-group-snapshot/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, sig/architecture, size/XXL, approved, kind/kep

#3763 KEP-3756: Add volume reconstruction KEP
  keps/prod-readiness/sig-storage/3756.yaml
  keps/sig-storage/3756-volume-reconstruction/README.md
  keps/sig-storage/3756-volume-reconstruction/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3839 PRR for 2593-multiple-cluster-cidrs
  keps/prod-readiness/sig-network/2593.yaml
  keps/sig-network/2593-multiple-cluster-cidrs/README.md
  keps/sig-network/2593-multiple-cluster-cidrs/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3835 KEP 3458: address left over comments / KEP requirements
  keps/prod-readiness/sig-network/3458.yaml
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/README.md
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, sig/cloud-provider, kind/kep

#3214 document the PRR approval for KEP 1972
  keps/prod-readiness/sig-node/1972.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved

#3796 KEP-3762: PersistentVolume last phase transition time
  keps/prod-readiness/sig-storage/3762.yaml
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/README.md
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3718 KEP-2413: Graduate SeccompDefault to stable
  keps/prod-readiness/sig-node/2413.yaml
  keps/sig-node/2413-seccomp-by-default/README.md
  keps/sig-node/2413-seccomp-by-default/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3669 KEP-3488: Add information on expression composition
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3745 KEP-693: Graduate Kubelet Topology Manager to GA
  keps/prod-readiness/sig-node/693.yaml
  keps/sig-node/693-topology-manager/README.md
  keps/sig-node/693-topology-manager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3791 KEP-606: finalize podresources API GA graduation
  keps/prod-readiness/sig-node/606.yaml
  keps/sig-node/606-compute-device-assignment/README.md
  keps/sig-node/606-compute-device-assignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3779 KEP-3488 Update Informational Type System
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#3717 KEP-3716: Admission Webhook Match Conditions
  keps/prod-readiness/sig-api-machinery/3716.yaml
  keps/sig-api-machinery/3716-webhook-predicates/README.md
  keps/sig-api-machinery/3716-webhook-predicates/kep.yaml
Labels: sig/auth, sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3620 KEP-3169: Fine-grained SupplementalGroups control
  keps/prod-readiness/sig-node/3619.yaml
  keps/sig-node/3619-supplemental-groups-policy/README.md
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#3778 Update KEP with PodReadyToStartContainers condition for Beta
  keps/prod-readiness/sig-node/3085.yaml
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/README.md
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3714 KEP-2831: adding beta graduation criteria
  keps/prod-readiness/sig-instrumentation/2831.yaml
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
  keps/sig-instrumentation/2831-kubelet-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3661 KEP-3659: ApplySet: kubectl apply --prune redesign and graduation strategy
  keps/prod-readiness/sig-cli/3659.yaml
  keps/sig-cli/3659-kubectl-apply-prune/README.md
  keps/sig-cli/3659-kubectl-apply-prune/initial-apply.png
  keps/sig-cli/3659-kubectl-apply-prune/kep.yaml
  keps/sig-cli/3659-kubectl-apply-prune/subsequent-apply.png
Labels: cncf-cla: yes, lgtm, sig/cli, size/XXL, approved, tide/merge-method-squash, kind/kep

#3761 Sidecar containers KEP
  keps/prod-readiness/sig-node/753.yaml
  keps/sig-node/753-sidecar-containers/README.md
  keps/sig-node/753-sidecar-containers/kep.yaml
Labels: sig/apps, sig/auth, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, sig/storage, sig/api-machinery, sig/instrumentation, cncf-cla: yes, lgtm, sig/cli, sig/release, size/XXL, approved, tide/merge-method-squash, kind/kep

#3837 KEP-3836: Improve Kube-proxy ingress connectivity reliability
  keps/prod-readiness/sig-network/3836.yaml
  keps/sig-network/3836-kube-proxy-improved-ingress-connectivity-reliability/README.md
  keps/sig-network/3836-kube-proxy-improved-ingress-connectivity-reliability/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3755 KEP-3280: Guarantee PodDisruptionBudget When Preemption Happens
  keps/prod-readiness/sig-scheduling/3280.yaml
  keps/sig-scheduling/3280-guarantee-pdb-when-preemption-happens/README.md
  keps/sig-scheduling/3280-guarantee-pdb-when-preemption-happens/kep.yaml
Labels: sig/apps, sig/auth, sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#3697 KEP-3488: add spec for supporting custom match criteria
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#3810 KEP-1748: update to stable
  keps/prod-readiness/sig-instrumentation/1748.yaml
  keps/sig-instrumentation/1748-pod-resource-metrics/README.md
  keps/sig-instrumentation/1748-pod-resource-metrics/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3738 KEP-3695: extend pod resource API to for DRA
  keps/prod-readiness/sig-node/3695.yaml
  keps/sig-node/3695-pod-resources-for-dra/README.md
  keps/sig-node/3695-pod-resources-for-dra/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#3834 KEP-1610: update KEP to graduate the container resource metric to beta
  keps/prod-readiness/sig-autoscaling/1610.yaml
  keps/sig-autoscaling/1610-container-resource-autoscaling/README.md
  keps/sig-autoscaling/1610-container-resource-autoscaling/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#3531 KEP-3107: target csiNodeExpandSecret beta in 1.27
  keps/prod-readiness/sig-storage/3107.yaml
  keps/sig-storage/3107-csi-nodeexpandsecret/README.md
  keps/sig-storage/3107-csi-nodeexpandsecret/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3732 KEP-3488: CEL admission: Add graceful rollout, warning and audit support
  keps/sig-api-machinery/3488-cel-admission-control/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3864 KEP-2413 Add new PRR question to SeccompDefault KEP
  keps/sig-node/2413-seccomp-by-default/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3865 KEP-2053 Update test plan for DownwardAPIHugePages
  keps/sig-node/2053-downward-api-hugepages/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3868 Update kep.yaml
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3861 KEP-3716: (Match Conditions) mark implementable + cleanup
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/README.md
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3814 KEP-2718 Client exec proxy alpha in 1.27
  keps/sig-auth/2718-20210511-client-exec-proxy/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#3828 KEP-3203: Alpha->Beta Graduation Updates
  keps/prod-readiness/sig-security/3203.yaml
  keps/sig-security/3203-auto-refreshing-official-cve-feed/README.md
  keps/sig-security/3203-auto-refreshing-official-cve-feed/kep.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/kep, sig/security

#3869 Update milestone tag for 2876 and 3488
  keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml
  keps/sig-api-machinery/3488-cel-admission-control/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3813 KEP-2699: Webhook KEP alpha in 1.27
  keps/sig-cloud-provider/2699-add-webhook-hosting-to-ccm/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, kind/kep

#3863 KEP-606: clarify GA blockers
  keps/sig-node/606-compute-device-assignment/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3862 KEP-3619: update Test Plan and Graduation Criteria for KEP freeze
  keps/sig-node/3619-supplemental-groups-policy/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3687 node: cpumanager: set state "implemented"
  keps/sig-node/3570-cpumanager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3870 KEP-2570: Update MemoryQoS based on latest KEP template
  keps/sig-node/2570-memory-qos/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#3831 KEP-3805: Server-side apply by default in kubectl
  keps/prod-readiness/sig-cli/3805.yaml
  keps/sig-cli/3805-ssa-default/README.md
  keps/sig-cli/3805-ssa-default/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XL, approved, kind/kep

#3873 KEP-3805: Set status to implementable
  keps/sig-cli/3805-ssa-default/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#3876 KEP-3638: Rename KEP-3638
  keps/sig-cli/3638-built-in-command-shadowing/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#3880 More rename KEP-3638
  keps/sig-cli/2379-kubectl-plugins/kep.yaml
  keps/sig-cli/3638-kubectl-plugin-subcommands/README.md
  keps/sig-cli/3638-kubectl-plugin-subcommands/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#3878 seccomp: updated text clarifying that enabled by default doesn't mean the flag will be enabled, only feature gate
  keps/sig-node/2413-seccomp-by-default/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3877 KEP-1487: Mark AWS EBS CSI migration as done
  keps/sig-storage/1487-csi-migration-aws/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3875 KEP-3141: Add links to newly added e2e tests
  keps/sig-storage/3141-prevent-volume-mode-conversion/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3883 Update beta graduation criteria
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3750 KEP-1731: Extend the KEP with the OBS implementation
  keps/prod-readiness/sig-release/1731.yaml
  keps/sig-release/1731-publishing-packages/README.md
  keps/sig-release/1731-publishing-packages/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/release, size/XL, approved, kind/kep
