Repository kubernetes/enhancements, pull requests merged in 2024-10, with the labels that each got.

#4683 KEP 1645: clarify the chosen conflict resolution algorithm
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4868 KEP 4026: promote to stable
  keps/prod-readiness/sig-apps/4026.yaml
  keps/sig-apps/4026-crojob-scheduled-timestamp-annotation/README.md
  keps/sig-apps/4026-crojob-scheduled-timestamp-annotation/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4864 flag PersistentVolumeLastPhaseTransitionTime feature as implemented
  keps/sig-storage/3762-persistent-volume-last-phase-transition-time/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4890 KEP-4438: add missing sections
  keps/sig-node/4438-container-restart-termination/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4604 KEP-4603: initial KEP for Tune CrashLoopBackoff
  keps/sig-node/4603-tune-crashloopbackoff/README.md
  keps/sig-node/4603-tune-crashloopbackoff/controlfornumberofrestarts.png
  keps/sig-node/4603-tune-crashloopbackoff/crashloopbackoff-succeedingcontainer.png
  keps/sig-node/4603-tune-crashloopbackoff/differentinitialvalues.png
  keps/sig-node/4603-tune-crashloopbackoff/flatratesuccessvstoday.png
  keps/sig-node/4603-tune-crashloopbackoff/initialvaluesandnumberofrestarts.png
  keps/sig-node/4603-tune-crashloopbackoff/kep.yaml
  keps/sig-node/4603-tune-crashloopbackoff/successvsrapidwhenfailed.png
  keps/sig-node/4603-tune-crashloopbackoff/todayvs1sbackoff.png
  keps/sig-node/4603-tune-crashloopbackoff/todayvsrapid.png
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4891 Add the implementation history section
  keps/sig-network/1860-kube-proxy-IP-node-binding/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4886 Kube proxy config v1alpha2 milestone and design
  keps/sig-network/784-kube-proxy-component-config/README.md
  keps/sig-network/784-kube-proxy-component-config/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4855 KEP-4818: Allow zero value for Sleep Action of PreStop Hook
  keps/prod-readiness/sig-node/4818.yaml
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/OWNERS
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/README.md
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4844 KEP-3331: update kep latest milestone to v1.32
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4894 KEP-4601: Beta updates for 1.32
  keps/prod-readiness/sig-auth/4601.yaml
  keps/sig-auth/4601-authorize-with-selectors/README.md
  keps/sig-auth/4601-authorize-with-selectors/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4892 KEP-4193: stable updates for 1.32
  keps/prod-readiness/sig-auth/4193.yaml
  keps/sig-auth/4193-bound-service-account-token-improvements/README.md
  keps/sig-auth/4193-bound-service-account-token-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4658 kubeadm: Add kubelet instance configuration to configure CRI socket for each node
  keps/sig-cluster-lifecycle/kubeadm/4656-add-kubelet-instance-configuration/README.md
  keps/sig-cluster-lifecycle/kubeadm/4656-add-kubelet-instance-configuration/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4903 KEP-3973: Update PodReplacementPolicy alpha to 1.32
  keps/sig-apps/3973-consider-terminating-pods-deployment/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4737 chore: fix indentation in README.md
  keps/sig-node/4381-dra-structured-parameters/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4772 Add details about using quotas in UserNamespaces in Proposal
  keps/sig-node/1029-ephemeral-storage-quotas/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#4866 [KEP 3960]: Promote PodLifecycleSleepAction to stable
  keps/prod-readiness/sig-node/3960.yaml
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4904 KEP-3063: Classic DRA: withdraw the KEP
  keps/sig-node/3063-dynamic-resource-allocation/README.md
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4824 Promote KEP-4292 custom profiling in kubectl debug to GA
  keps/prod-readiness/sig-cli/4292.yaml
  keps/sig-cli/4292-kubectl-debug-custom-profile/README.md
  keps/sig-cli/4292-kubectl-debug-custom-profile/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, tide/merge-method-squash, kind/kep

#4905 KEP-4601: PRR test updates
  keps/sig-auth/4601-authorize-with-selectors/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4900 KEP 1645: remove MCS EndpointSlice ownership requirement
  keps/sig-multicluster/1645-multi-cluster-services-api/README.md
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4908 KEP-4222: Update alpha target to 1.32.
  keps/sig-api-machinery/4222-cbor-serializer/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4789 KEP-2535: update the KEP with on-by-default strategy
  keps/prod-readiness/sig-node/2535.yaml
  keps/sig-node/2535-ensure-secret-pulled-images/README.md
  keps/sig-node/2535-ensure-secret-pulled-images/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4893 KEP-4603: tune crashloopbackoff for 1.32
  keps/prod-readiness/sig-node/4603.yaml
  keps/sig-node/4603-tune-crashloopbackoff/README.md
  keps/sig-node/4603-tune-crashloopbackoff/code-diagram-for-restarts.png
  keps/sig-node/4603-tune-crashloopbackoff/initialvaluesandmaxonnumberofrestarts.png
  keps/sig-node/4603-tune-crashloopbackoff/kep.yaml
  keps/sig-node/4603-tune-crashloopbackoff/kubeletvsruntime-restartresponsibility.png
  keps/sig-node/4603-tune-crashloopbackoff/restarts-vs-elapsed-all.png
  keps/sig-node/4603-tune-crashloopbackoff/restarts-vs-elapsed-minimum-per-node.png
  keps/sig-node/4603-tune-crashloopbackoff/restarts-vs-elapsed-new-default.png
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4869 KEP-4381: DRA: PRR and API for beta of structured parameters in 1.32
  keps/prod-readiness/sig-node/4381.yaml
  keps/sig-node/4381-dra-structured-parameters/README.md
  keps/sig-node/4381-dra-structured-parameters/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4849 Move recover from volume expansion feature to beta
  keps/sig-storage/1790-recover-resize-failure/README.md
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4910 KEP-4603: PRR testgrid/prow link updates
  keps/sig-node/4603-tune-crashloopbackoff/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4042 KEP-4049: Add storage capacity scoring KEP
  keps/prod-readiness/sig-storage/4049.yaml
  keps/sig-storage/4049-storage-capacity-scoring-of-nodes-for-dynamic-provisioning/README.md
  keps/sig-storage/4049-storage-capacity-scoring-of-nodes-for-dynamic-provisioning/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test

#4914 KEP-4381: DRA: document unit test coverage
  keps/sig-node/4381-dra-structured-parameters/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4831 KEP for flagz page for Kubernetes Components
  keps/prod-readiness/sig-instrumentation/4828.yaml
  keps/sig-instrumentation/4828-component-flagz/README.md
  keps/sig-instrumentation/4828-component-flagz/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4889 kep-3983: update Beta requirements before moving to GA
  keps/sig-node/3983-drop-in-configuration/README.md
  keps/sig-node/3983-drop-in-configuration/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4812 KEP-1967: promote size memory backed volumes to stable
  keps/prod-readiness/sig-node/1967.yaml
  keps/sig-node/1967-size-memory-backed-volumes/README.md
  keps/sig-node/1967-size-memory-backed-volumes/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4846 KEP-4412: Projected Service Account Tokens for Kubelet Image Credential Providers
  keps/prod-readiness/sig-auth/4412.yaml
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/README.md
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4896 KEP-3926: bump latest milestone
  keps/sig-auth/3926-handling-undecryptable-resources/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4251 KEP-1769: Graduate Memory Manager to GA
  keps/prod-readiness/sig-node/1769.yaml
  keps/sig-node/1769-memory-manager/README.md
  keps/sig-node/1769-memory-manager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4871 KEP-4816: DRA Prioritized Alternatives in Device Requests
  keps/prod-readiness/sig-scheduling/4816.yaml
  keps/sig-scheduling/4816-dra-prioritized-list/README.md
  keps/sig-scheduling/4816-dra-prioritized-list/kep.yaml
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4852 update KEP 740
  keps/prod-readiness/sig-auth/740.yaml
  keps/sig-auth/740-service-account-external-signing/README.md
  keps/sig-auth/740-service-account-external-signing/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#4318 KEP-4317: Pod Certificates
  keps/prod-readiness/sig-auth/4317.yaml
  keps/sig-auth/4317-pod-certificates/README.md
  keps/sig-auth/4317-pod-certificates/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, api-review

#4915 Adding more details to KEP for Pod Level Resources
  keps/sig-node/2837-pod-level-resource-spec/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4913 KEP-3695: Update podResourceV1 API
  keps/sig-node/3695-pod-resources-for-dra/README.md
  keps/sig-node/3695-pod-resources-for-dra/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4916 Update SizeMemoryBackedVolumes to stable.
  keps/sig-node/1967-size-memory-backed-volumes/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4813 Add KEP 4802 - windows node shutdown
  keps/prod-readiness/sig-windows/4802.yaml
  keps/sig-windows/4802-windows-node-shutdown/README.md
  keps/sig-windows/4802-windows-node-shutdown/kep.yaml
Labels: sig/node, sig/windows, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#4880 KEP-753: Update documentation to clarify `restartPolicy` behavior
  keps/sig-node/753-sidecar-containers/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4704 KEP-1287: InPlacePodVerticalScaling BETA update
  keps/prod-readiness/sig-node/1287.yaml
  keps/sig-node/1287-in-place-update-pod-resources/README.md
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4865 KEP-4017: promote Pod Index Label for StatefulSets and Indexed Jobs to GA
  keps/prod-readiness/sig-apps/4017.yaml
  keps/sig-apps/4017-pod-index-label/README.md
  keps/sig-apps/4017-pod-index-label/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4874 KEP-4815: DRA Partitionable Devices
  keps/prod-readiness/sig-node/4815.yaml
  keps/sig-node/4815-dra-partitionable-devices/README.md
  keps/sig-node/4815-dra-partitionable-devices/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4541 KEP-4540: Add CPUManager policy option to restrict reservedSystemCPUs to system daemons and interrupt processing #4540
  keps/prod-readiness/sig-node/4540.yaml
  keps/sig-node/4540-strict-cpu-reservation/README.md
  keps/sig-node/4540-strict-cpu-reservation/kep.yaml
  keps/sig-node/4540-strict-cpu-reservation/strict-cpu-allocation.png
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#4791 KEP-3257: cluster trust bundles: add a new in-tree signer and its CTB
  keps/sig-auth/3257-cluster-trust-bundles/README.md
  keps/sig-auth/3257-cluster-trust-bundles/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4917 KEP-3962: Mutating Admission Policies - update for 1.32
  keps/sig-api-machinery/3962-mutating-admission-policies/README.md
  keps/sig-api-machinery/3962-mutating-admission-policies/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4909 KEP-3314: Update alpha target and latest-milestone for 1.32
  keps/sig-storage/3314-csi-changed-block-tracking/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4810 KEP-4800: Split UnCoreCache awareness
  keps/prod-readiness/sig-node/4800.yaml
  keps/sig-node/4800-cpumanager-split-uncorecache/README.md
  keps/sig-node/4800-cpumanager-split-uncorecache/images/chart.png
  keps/sig-node/4800-cpumanager-split-uncorecache/images/results.PNG
  keps/sig-node/4800-cpumanager-split-uncorecache/images/uncore-alignment-motivation.png
  keps/sig-node/4800-cpumanager-split-uncorecache/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#4734 Update VolumeGroupSnapshot KEP for Beta
  keps/prod-readiness/sig-storage/3476.yaml
  keps/sig-storage/3476-volume-group-snapshot/README.md
  keps/sig-storage/3476-volume-group-snapshot/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4861 [KEP-4817]: DRA: Resource Claim Status with possible standardized network interface data
  keps/prod-readiness/sig-node/4817.yaml
  keps/sig-node/4817-resource-claim-device-status/README.md
  keps/sig-node/4817-resource-claim-device-status/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#4918 KEP-4222: Document upgrade/downgrade and version skew strategy.
  keps/sig-api-machinery/4222-cbor-serializer/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4888 KEP-4885: Windows CPU and Memory Affinity
  keps/prod-readiness/sig-windows/4885.yaml
  keps/sig-windows/4885-windows-cpu-and-memory-affinity/README.md
  keps/sig-windows/4885-windows-cpu-and-memory-affinity/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4862 updates to device failures for alpha2
  keps/sig-node/4680-add-resource-health-to-pod-status/README.md
  keps/sig-node/4680-add-resource-health-to-pod-status/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4919 4802: update release signoff
  keps/sig-windows/4802-windows-node-shutdown/README.md
Labels: sig/windows, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4901 KEP-1847: Promote statefulset autodelete feature to stable
  keps/prod-readiness/sig-apps/1847.yaml
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
  keps/sig-apps/1847-autoremove-statefulset-pvcs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4833 KEP-4832: Asynchronous preemption in the scheduler
  keps/prod-readiness/sig-scheduling/4832.yaml
  keps/sig-scheduling/4832-async-preemption/README.md
  keps/sig-scheduling/4832-async-preemption/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4920 KEP-1847: Clarify upgrade & downgrade test
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4906 Remove mrbobbytables as enhancements subproject owner
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4923 KEP-4222: Add link to Python spec conformance demo.
  keps/sig-api-machinery/4222-cbor-serializer/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4927 KEP-4828: Update title of KEP-4828
  keps/sig-instrumentation/4828-component-flagz/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4928 KEP-4193: update KEP for v1.32 release
  keps/sig-auth/4193-bound-service-account-token-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4926 KEP-4396 Fix beta stage description
  keps/sig-node/4369-allow-special-characters-environment-variable/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4925 Update kuberc example with finalized version
  keps/sig-cli/3104-introduce-kuberc/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#4937 KEP-2558: mark as "withdrawn"
  keps/sig-api-machinery/2558-publish-version-openapi/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
