Repository kubernetes/enhancements, pull requests merged in 2024-05, with the labels that each got.

#4616 Add GA criteria for informer support
  keps/sig-api-machinery/4358-custom-resource-field-selectors/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4587 Update sig-cli leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4621 KEP-2395: Book keeping for cleaning up removal of in-tree cloud providers
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/README.md
  keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, kind/kep

#4496 KEP-4471: kubeadm: make a control-plane's kubelet talk to the local API Server on kubeadm join.
  keps/sig-cluster-lifecycle/kubeadm/4471-cp-join-kubelet-local-apiserver/README.md
  keps/sig-cluster-lifecycle/kubeadm/4471-cp-join-kubelet-local-apiserver/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4254 KEP-3668: mark status as implemented
  keps/sig-network/3668-reserved-service-nodeport-range/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4608 Consistent reads mitigation
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4566 Add soltysh to prod-readiness-approvers
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4627 Graduate MatchLabelKeys to beta in v1.31
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4607 SIG Autoscaling - Leads Update
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4630 Adds Kat Cosgrove as SIG Docs tech lead
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4626 docs: add salaxander as SIG docs tech lead
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4533 KEP-4322: rename API to "Cluster Profile" and add alternative section
  keps/sig-multicluster/4322-cluster-inventory/README.md
  keps/sig-multicluster/4322-cluster-inventory/kep.yaml
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#4636 Added v1.31 enhancements tracking board to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4635 Update sig-docs-leads in enhancements/OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4637 kep03716: update to "implemented" from "implementable"
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4339 KEP-4193: Add GA docs requirements
  keps/sig-auth/4193-bound-service-account-token-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, triage/accepted

#4605 Update KEP 3157 (watch-list) for milestone 1.31
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4588 KEP-3983: update the beta requirements
  keps/sig-node/3983-drop-in-configuration/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4628 KEP-3619: update the latest milestone to v1.31
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4640 KEP-2000: Add note in KEP Proposal for `shutdown -h now` systemd version compatibility
  keps/sig-node/2000-graceful-node-shutdown/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, priority/backlog, approved, kind/kep, ok-to-test, triage/accepted

#4652 KEP-4009: set 1.31 milestone
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4521 CDI for device plugins: update test grid and triage links
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4544 KEP 2008: Update KEP to reflect current code changes
  keps/sig-node/2008-forensic-container-checkpointing/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#4549 Fixing typo
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4656 KEP 3836: v1.31 milestone update
  keps/prod-readiness/sig-network/3836.yaml
  keps/sig-network/3836-kube-proxy-improved-ingress-connectivity-reliability/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4673 chore: updates latest milestone
  keps/sig-api-machinery/4192-svm-in-tree/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4675 KEP-4193: note ServiceAccountTokenNodeBinding being promoted to beta
  keps/sig-auth/4193-bound-service-account-token-improvements/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4677 KEP-24: Update GA milestone to 1.31
  keps/sig-node/24-apparmor/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
