Repository kubernetes/enhancements, pull requests merged in 2024-02, with the labels that each got.

#4436 Start SELinuxMount alpha
  keps/sig-storage/1710-selinux-relabeling/README.md
  keps/sig-storage/1710-selinux-relabeling/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4465 Promote kep-2799 to stable.
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/README.md
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#4466 Change proposed milestone for recover from resize failure KEP
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4419 KEP-3983: target to beta for 1.30
  keps/sig-node/3983-drop-in-configuration/README.md
  keps/sig-node/3983-drop-in-configuration/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#4452 postponed kep-3673 parallel image pull limit to v1.30 for beta
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/README.md
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4430 KEP-3331: add audienceMatchPolicy to authentication config
  keps/sig-auth/3331-structured-authentication-configuration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4455 KEP 3521/3838: graduate PodSchedulingReadiness to stable
  keps/prod-readiness/sig-scheduling/3521.yaml
  keps/prod-readiness/sig-scheduling/3838.yaml
  keps/sig-scheduling/3521-pod-scheduling-readiness/README.md
  keps/sig-scheduling/3521-pod-scheduling-readiness/kep.yaml
  keps/sig-scheduling/3838-pod-mutable-scheduling-directives/README.md
  keps/sig-scheduling/3838-pod-mutable-scheduling-directives/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4403 KEP 4402: Go workspaces for k/k (first draft)
  keps/prod-readiness/sig-architecture/4402.yaml
  keps/sig-architecture/4402-go-workspaces/README.md
  keps/sig-architecture/4402-go-workspaces/kep.yaml
  keps/sig-architecture/4402-go-workspaces/v2-experiment.md
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XL, approved, kind/kep

#4467 Promote Portworx CSI migration to Beta in 1.31
  keps/sig-storage/2589-csi-migration-portworx/README.md
  keps/sig-storage/2589-csi-migration-portworx/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4475 KEP 4402: Implementable (Go workspaces for k/k)
  keps/sig-architecture/4402-go-workspaces/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XS, approved, kind/kep

#4431 kep-2535: not persist on disk and add PullImageSecretRecheckDuration flag to define different behaviors
  keps/sig-node/2535-ensure-secret-pulled-images/README.md
  keps/sig-node/2535-ensure-secret-pulled-images/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4418 Move KEP 2681 to GA
  keps/prod-readiness/sig-network/2681.yaml
  keps/sig-network/2681-pod-host-ip/README.md
  keps/sig-network/2681-pod-host-ip/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4367 KEP-3960: promote to beta in 1.30
  keps/prod-readiness/sig-node/3960.yaml
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4433 KEP-1287: Keep in-place pod resize KEP alpha/implementable for v1.30
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4454 KEP-4205: updating the milestone for alpha to 1.30
  keps/sig-node/4205-psi-metric/README.md
  keps/sig-node/4205-psi-metric/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4315 fix: InPlacePodVerticalScaling typo
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4373 Allow almost all printable ASCII characters in environment variables
  keps/sig-node/4369-allow-special-characters-environment-variable/README.md
  keps/sig-node/4369-allow-special-characters-environment-variable/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4415 KEP-3705: CloudDualStackNodeIPs to GA
  keps/prod-readiness/sig-network/3705.yaml
  keps/sig-network/3705-cloud-node-ips/README.md
  keps/sig-network/3705-cloud-node-ips/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4370 KEP-4368: Job API managed-by label
  keps/prod-readiness/sig-apps/4368.yaml
  keps/sig-apps/4368-support-managed-by-label-for-batch-jobs/README.md
  keps/sig-apps/4368-support-managed-by-label-for-batch-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#4469 KEP-3017: Graduate UnhealthyPodEvictionPolicy for PDBs to stable
  keps/prod-readiness/sig-apps/3017.yaml
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
  keps/sig-apps/3017-pod-healthy-policy-for-pdb/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4388 Update status of Kubelet Resource Metrics KEP to implemented
  keps/sig-node/727-resource-metrics-endpoint/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4459 KEP-3141: Graduate "Prevent unauthorised volume mode conversion" to Stable
  keps/prod-readiness/sig-storage/3141.yaml
  keps/sig-storage/3141-prevent-volume-mode-conversion/README.md
  keps/sig-storage/3141-prevent-volume-mode-conversion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4401 [KEP-2400] - Update KEP with findings from beta2
  keps/sig-node/2400-node-swap/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4337 KEP-784: Update design-details
  keps/prod-readiness/sig-network/784.yaml
  keps/sig-network/784-kube-proxy-component-config/README.md
  keps/sig-network/784-kube-proxy-component-config/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4363 Mark KEP-3178 as implemented
  keps/sig-network/3178-iptables-cleanup/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4365 mark KEP-1669 as implemented
  keps/sig-network/1669-proxy-terminating-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4374 KEP-4191: alpha 1 additions
  keps/sig-node/4191-split-image-filesystem/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4483 [KEP-3085] update kep to say its being worked on in 1.30
  keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4484 [KEP-2400] update latest milestone for swap KEP
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4408 Promote kubectl debug to GA
  keps/prod-readiness/sig-cli/1441.yaml
  keps/sig-cli/1441-kubectl-debug/README.md
  keps/sig-cli/1441-kubectl-debug/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, tide/merge-method-squash, kind/kep

#4456 KEP-3221 - WIP 1.30 update
  keps/sig-auth/3221-structured-authorization-configuration/README.md
  keps/sig-auth/3221-structured-authorization-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4396 KEP-3895: Promote interactive delete to stable
  keps/prod-readiness/sig-cli/3895.yaml
  keps/sig-cli/3895-kubectl-delete-interactivity/README.md
  keps/sig-cli/3895-kubectl-delete-interactivity/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, tide/merge-method-squash, kind/kep

#4407 KEP-3022: graduate Pod Topology Spread MinDomains to stable
  keps/prod-readiness/sig-scheduling/3022.yaml
  keps/sig-scheduling/3022-min-domains-in-pod-topology-spread/README.md
  keps/sig-scheduling/3022-min-domains-in-pod-topology-spread/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4293 KEP-4292: Add custom profiling in kubectl debug
  keps/prod-readiness/sig-cli/4292.yaml
  keps/sig-cli/4292-kubectl-debug-custom-profile/README.md
  keps/sig-cli/4292-kubectl-debug-custom-profile/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XXL, approved, tide/merge-method-squash, kind/kep

#4276 [UPDATE] KEP-4192: Move Storage Version Migrator in-tree
  keps/sig-api-machinery/4192-svm-in-tree/README.md
  keps/sig-api-machinery/4192-svm-in-tree/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, lifecycle/stale, kind/kep

#4432 Graduate NewVolumeManagerReconstruction GA
  keps/prod-readiness/sig-storage/3756.yaml
  keps/sig-storage/3756-volume-reconstruction/README.md
  keps/sig-storage/3756-volume-reconstruction/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4470 KEP-4193: Update milestone for v1.30 & clarify latest state
  keps/prod-readiness/sig-auth/4193.yaml
  keps/sig-auth/4193-bound-service-account-token-improvements/README.md
  keps/sig-auth/4193-bound-service-account-token-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4488 KEP-4191: update latest milestone to 1.30
  keps/sig-node/4191-split-image-filesystem/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4461 KEP-3331: update for beta in v1.30
  keps/prod-readiness/sig-auth/3331.yaml
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#4134 Move KEP 2340 to Beta
  keps/prod-readiness/sig-api-machinery/2340.yaml
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, lifecycle/stale, kind/kep

#4482 KEP-4396: promote kep into implementable
  keps/prod-readiness/sig-node/4369.yaml
  keps/sig-node/4369-allow-special-characters-environment-variable/README.md
  keps/sig-node/4369-allow-special-characters-environment-variable/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4485 KEP-3221: Add PRR, update metrics
  keps/prod-readiness/sig-auth/3221.yaml
  keps/sig-auth/3221-structured-authorization-configuration/README.md
  keps/sig-auth/3221-structured-authorization-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4491 KEP-3331: update configuration reload metric
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4489 KEP-647: Answer missed APIServer Tracing PRR question
  keps/sig-instrumentation/647-apiserver-tracing/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4422 GA Metrics Cardinality Enforcement
  keps/prod-readiness/sig-instrumentation/2305.yaml
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/README.md
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4490 bump milestone for 4008
  keps/sig-api-machinery/4008-crd-ratcheting/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4446 Update CDI for device plugins KEP for GA graduation
  keps/prod-readiness/sig-node/4009.yaml
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/README.md
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4494 KEP-3673: update to include SLO info
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4426 KEP-4210: retarget to beta for 1.30
  keps/prod-readiness/sig-node/4210.yaml
  keps/sig-node/4210-max-image-gc-age/README.md
  keps/sig-node/4210-max-image-gc-age/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4445 KEP-4444: Routing Preference for Services
  keps/prod-readiness/sig-network/4444.yaml
  keps/sig-network/4444-service-routing-preference/README.md
  keps/sig-network/4444-service-routing-preference/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4450 KEP-3633: graduate matchLabelKeys/mismatchLabelKeys to beta
  keps/prod-readiness/sig-scheduling/3633.yaml
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/README.md
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4416 KEP-4006: RemoteCommand as Beta, and initial PortForward over WebSockets as Alpha
  keps/prod-readiness/sig-api-machinery/4006.yaml
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/README.md
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/kep.yaml
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/portforward-stream-translator-proxy.png
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/cli, size/XL, approved, kind/kep

#4472 KEP-3352: Aggregated Discovery to GA
  keps/prod-readiness/sig-api-machinery/3352.yaml
  keps/sig-api-machinery/3352-aggregated-discovery/README.md
  keps/sig-api-machinery/3352-aggregated-discovery/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4497 KEP-3141: Add no known failure modes to README
  keps/sig-storage/3141-prevent-volume-mode-conversion/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#3858 KEP-3857: Recursive Read-only (RRO) mounts
  keps/prod-readiness/sig-node/3857.yaml
  keps/sig-node/3857-rro-mounts/README.md
  keps/sig-node/3857-rro-mounts/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, stage/alpha, size/XXL, approved, kind/kep, lead-opted-in

#4486 Complete the KEP for SELinuxMount alpha
  keps/prod-readiness/sig-storage/1710.yaml
  keps/sig-storage/1710-selinux-relabeling/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4399 [KEP 3962]MutatingAdmissionPolicy: alpha in 1.30
  keps/prod-readiness/sig-api-machinery/3962.yaml
  keps/sig-api-machinery/3962-mutating-admission-policies/README.md
  keps/sig-api-machinery/3962-mutating-admission-policies/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, lead-opted-in

#4498 KEP-4193: Update kep to beta
  keps/sig-auth/4193-bound-service-account-token-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4439 KEP-127: graduate to Beta for 1.30
  keps/prod-readiness/sig-node/127.yaml
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4266 Add restrospetive KEP for ProcMount and target at Beta
  keps/prod-readiness/sig-node/4265.yaml
  keps/sig-node/4265-proc-mount/README.md
  keps/sig-node/4265-proc-mount/kep.yaml
Labels: sig/auth, sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, triage/accepted, lead-opted-in

#4492 Update README with scalability questions addressed
  keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4062 KEP-3998: Job success/completion policy
  keps/prod-readiness/sig-apps/3998.yaml
  keps/sig-apps/3998-job-success-completion-policy/README.md
  keps/sig-apps/3998-job-success-completion-policy/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep, wg/batch

#4357 KEP-3973: Consider Terminating Pods in Deployments
  keps/prod-readiness/sig-apps/3973.yaml
  keps/sig-apps/3973-consider-terminating-pods-deployment/README.md
  keps/sig-apps/3973-consider-terminating-pods-deployment/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, api-review

#4457 KEP-4222: Update alpha target to 1.30.
  keps/sig-api-machinery/4222-cbor-serializer/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4349 KEP-4346: client-go: Add informer metrics
  keps/sig-api-machinery/4346-informer-metrics/README.md
  keps/sig-api-machinery/4346-informer-metrics/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep, ok-to-test

#4417 KEP-24: Promote AppArmor to GA
  keps/prod-readiness/sig-node/24.yaml
  keps/sig-node/24-apparmor/README.md
  keps/sig-node/24-apparmor/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, lead-opted-in

#4499 Metrics Cardinality Enforcement - Update README
  keps/sig-instrumentation/2305-metrics-cardinality-enforcement/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4480 KEP-2258: Promote NodeLogQuery to beta
  keps/prod-readiness/sig-windows/2258.yaml
  keps/sig-windows/2258-node-log-query/README.md
  keps/sig-windows/2258-node-log-query/kep.yaml
Labels: sig/windows, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4493 Update KEP-4427 status to implementable
  keps/prod-readiness/sig-network/4427.yaml
  keps/sig-network/4427-relaxed-dns-search-validation/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4406 KEP-1610: graduate ContainerResource to stable
  keps/prod-readiness/sig-autoscaling/1610.yaml
  keps/sig-autoscaling/1610-container-resource-autoscaling/README.md
  keps/sig-autoscaling/1610-container-resource-autoscaling/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4395 KEP-4330: Compatibility versions
  keps/prod-readiness/sig-auth/4330.yaml
  keps/sig-architecture/4330-compatibility-versions/README.md
  keps/sig-architecture/4330-compatibility-versions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/architecture, size/XXL, approved, kind/kep, wg/lts, lead-opted-in

#4181 KEP-3063: DRA: 1.30 update
  keps/sig-node/3063-dynamic-resource-allocation/README.md
  keps/sig-node/3063-dynamic-resource-allocation/kep.yaml
Labels: sig/autoscaling, sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, lifecycle/stale, kind/kep

#3913 KEP-3257 (ClusterTrustBundles): Promote to beta; Update to reflect implementation
  keps/prod-readiness/sig-auth/3257.yaml
  keps/sig-auth/3257-cluster-trust-bundles/README.md
  keps/sig-auth/3257-cluster-trust-bundles/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4500 Add sig-node-tech-leads to custom content
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4501 Fix duplicate sig-node-tech-leads key
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4288 KEP-2008: Graduate "Forensic Container Checkpointing" to Beta
  keps/prod-readiness/sig-node/2008.yaml
  keps/sig-node/2008-forensic-container-checkpointing/README.md
  keps/sig-node/2008-forensic-container-checkpointing/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#4502 Mark KEP-4330 as implementable
  keps/prod-readiness/sig-architecture/4330.yaml
  keps/sig-architecture/4330-compatibility-versions/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XS, approved, kind/kep

#4504 Supplement for KEP-4346
  keps/sig-api-machinery/4346-informer-metrics/README.md
  keps/sig-api-machinery/4346-informer-metrics/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, kind/kep, ok-to-test

#4507 Fix status of OpenAPI Enum Types KEP
  keps/sig-api-machinery/2887-openapi-enum-types/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4511 KEP-4346: add PRR metadata file for 4346
  keps/prod-readiness/sig-api-machinery/4346.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4508 Mark client-go context as stable to match GA criteria in KEP
  keps/sig-api-machinery/1601-client-go-context/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4177 KEP-4176: A Static Policy Option to spread hyperthreads across physical CPUs
  keps/prod-readiness/sig-node/4176.yaml
  keps/sig-node/4176-cpumanager-spread-cpus-preferred-policy/README.md
  keps/sig-node/4176-cpumanager-spread-cpus-preferred-policy/cpu-ordering.png
  keps/sig-node/4176-cpumanager-spread-cpus-preferred-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4513 update stage to stable
  keps/sig-api-machinery/3716-admission-webhook-match-conditions/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4512 KEP-3257 (ClusterTrustBundles): Answer node-level scalability questions
  keps/sig-auth/3257-cluster-trust-bundles/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4518 KEP 4346: Correct sig in kep.yaml
  keps/sig-api-machinery/4346-informer-metrics/README.md
  keps/sig-api-machinery/4346-informer-metrics/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#3308 KEP-2436: mark as implemented
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/README.md
  keps/sig-cloud-provider/2436-controller-manager-leader-migration/kep.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, kind/kep

#4519 KEP-3077: contextual logging: sync with KEP template
  keps/sig-instrumentation/3077-contextual-logging/README.md
  keps/sig-instrumentation/3077-contextual-logging/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4509 KEP-1860 - Propose beta graduation and add missing PRR
  keps/prod-readiness/sig-network/1860.yaml
  keps/sig-network/1860-kube-proxy-IP-node-binding/README.md
  keps/sig-network/1860-kube-proxy-IP-node-binding/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4528 Change the rollout question's answer for kubectl debug GA
  keps/sig-cli/1441-kubectl-debug/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#4522 Add `rexagod` to owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved
