Repository kubernetes/enhancements, pull requests merged in 2024-03, with the labels that each got.

#4523 KEP-3221: update metric decision label values
  keps/sig-auth/3221-structured-authorization-configuration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4531 KEP-4402: Workspaces is implemented
  keps/sig-architecture/4402-go-workspaces/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/XS, approved, kind/kep

#4323 KEP-4322: Cluster Inventory API
  keps/sig-multicluster/4322-cluster-inventory/README.md
  keps/sig-multicluster/4322-cluster-inventory/kep.yaml
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test

#4530 KEP-4368 update to use managedBy field instead of label
  keps/prod-readiness/sig-apps/4368.yaml
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/README.md
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#4534 KEP-3352 Mark Aggregated Discovery as implemented
  keps/sig-api-machinery/3352-aggregated-discovery/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4532 Mark NewVolumeManagerReconstruction as implemented
  keps/sig-storage/3756-volume-reconstruction/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4525 1710: Remove pod admission from the SELinux KEP
  keps/sig-storage/1710-selinux-relabeling/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4542 KEP-4368 update to add graduation criteria to adjust the validation based on the decisions
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4545 KEP-3221: update for 1.30
  keps/sig-auth/3221-structured-authorization-configuration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4389 Update kep 2702 graduate-hpa-api
  keps/sig-autoscaling/2702-graduate-hpa-api-to-GA/README.md
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4553 add stefan as apimachinery lead
  OWNERS_ALIASES
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, priority/important-soon, approved, kind/cleanup

#4560 Add kube-apiserver to feature-gate components for MinDomainsInPodTopologySpread
  keps/sig-scheduling/3022-min-domains-in-pod-topology-spread/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
