Repository kubernetes/enhancements, pull requests merged in 2024-09, with the labels that each got.

#4766 KEP 3157 (watch-list): add a new beta criterion for client libraries
  keps/sig-api-machinery/3157-watch-list/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4798 KEP-4633: Graduate to BETA.
  keps/prod-readiness/sig-auth/4633.yaml
  keps/sig-auth/4633-anonymous-auth-configurable-endpoints/README.md
  keps/sig-auth/4633-anonymous-auth-configurable-endpoints/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4825 Add 1.32 tracking board to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4814 KEP-4355: Update Coordinated Leader Election KEP with details after API Review
  keps/sig-api-machinery/4355-coordinated-leader-election/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4690 KEP-4322: add CRD scope explanation to alternatives considered section
  keps/sig-multicluster/4322-cluster-inventory/README.md
  keps/sig-multicluster/4322-cluster-inventory/global-hub-per-clusterset.png
  keps/sig-multicluster/4322-cluster-inventory/global-hub-per-clusterset.svg
  keps/sig-multicluster/4322-cluster-inventory/global-hub.png
  keps/sig-multicluster/4322-cluster-inventory/global-hub.svg
  keps/sig-multicluster/4322-cluster-inventory/regional-hub-multiple-clustersets.png
  keps/sig-multicluster/4322-cluster-inventory/regional-hub-multiple-clustersets.svg
  keps/sig-multicluster/4322-cluster-inventory/regional-hub-per-clusterset.png
  keps/sig-multicluster/4322-cluster-inventory/regional-hub-per-clusterset.svg
  keps/sig-multicluster/4322-cluster-inventory/self-assembling-clustersets.png
  keps/sig-multicluster/4322-cluster-inventory/self-assembling-clustersets.svg
Labels: sig/multicluster, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4822 KEP 3157 (watch-list): replacing standard List request with WatchList mechanism for client-go's List method.
  keps/sig-api-machinery/3157-watch-list/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4799 mark KEP-3458 as implemented
  keps/sig-network/3458-remove-transient-node-predicates-from-service-controller/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4835 KEP-3329: Update the Job Pod Failure Policy KEP after GA
  keps/sig-apps/3329-retriable-and-non-retriable-failures/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4806 mark KEP-3141 as implemented
  keps/sig-storage/3141-prevent-volume-mode-conversion/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4221 feat: move SplitStdoutAndStderr feature to v1.32
  keps/sig-node/3288-separate-stdout-from-stderr/README.md
  keps/sig-node/3288-separate-stdout-from-stderr/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4796 KEP-3221: update kep milestone and stage
  keps/prod-readiness/sig-auth/3221.yaml
  keps/sig-auth/3221-structured-authorization-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4851 Job Success Policy - add a GA graduation point to verify success reason in conformance tests
  keps/sig-apps/3998-job-success-completion-policy/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4779 KEP update to extend the Pod Failure Policy guide for FailIndex
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/README.md
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, kind/kep

#4803 KEP-4004: Replace with Deprecated feature gates
  keps/sig-network/4004-deprecate-kube-proxy-version/README.md
  keps/sig-network/4004-deprecate-kube-proxy-version/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4375 KEP-1847: ownerRef controller update
  keps/sig-apps/1847-autoremove-statefulset-pvcs/README.md
  keps/sig-apps/1847-autoremove-statefulset-pvcs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4859 Owners scale
  keps/sig-node/1769-memory-manager/OWNERS
  keps/sig-node/2000-graceful-node-shutdown/OWNERS
  keps/sig-node/2625-cpumanager-policies-thread-placement/OWNERS
  keps/sig-node/3545-improved-multi-numa-alignment/OWNERS
  keps/sig-node/3960-pod-lifecycle-sleep-action/OWNERS
  keps/sig-node/3983-drop-in-configuration/OWNERS
  keps/sig-node/4176-cpumanager-spread-cpus-preferred-policy/OWNERS
  keps/sig-node/4369-allow-special-characters-environment-variable/OWNERS
  keps/sig-node/4438-container-restart-termination/OWNERS
  keps/sig-node/4622-topologymanager-max-allowable-numa-nodes/OWNERS
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4775 KEP-3998: Update the metrics and condition reason for the Beta graduation
  keps/sig-apps/3998-job-success-completion-policy/README.md
  keps/sig-apps/3998-job-success-completion-policy/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4823 KEP-4569: mark as implemented
  keps/sig-node/4569-cgroup-v1-maintenance-mode/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4826 KEP-2570 : Clarify the beta status of the KEP
  keps/sig-node/2570-memory-qos/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4837 KEP-4009: set status to `implemented`
  keps/sig-node/4009-add-cdi-devices-to-device-plugin-api/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4850 clarifications for sidecar container feature
  keps/sig-node/753-sidecar-containers/README.md
  keps/sig-node/753-sidecar-containers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4809 KEP-3619: updated KEP with alpha release status, and added haircommander as a reviewer
  keps/sig-node/3619-supplemental-groups-policy/README.md
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4863 remove total resource calculation proposal from the sidecar KEP
  keps/sig-node/753-sidecar-containers/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4808 KEP-4381: DRA: sync KEP with implementation in 1.31
  keps/sig-node/4381-dra-structured-parameters/README.md
  keps/sig-node/4381-dra-structured-parameters/components.png
  keps/sig-node/4381-dra-structured-parameters/components.puml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4780 Fix title of KEP 3673 in metadata
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4782 in cgroup v2, memory.max_usage_in_bytes can be replaced by memory.peak
  keps/sig-node/2371-cri-pod-container-stats/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4744 KEP-4743: Kubernetes-etcd interface
  keps/sig-etcd/4743-kuberernetes-etcd-interface/README.md
  keps/sig-etcd/4743-kuberernetes-etcd-interface/kep.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, kind/kep, sig/etcd

#4769 KEP-4033: update metadata to reflect beta status
  keps/sig-node/4033-group-driver-detection-over-cri/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4856 Update "KEP-4368 Job API managed-by mechanism" targeting Beta in 1.32
  keps/prod-readiness/sig-apps/4368.yaml
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/README.md
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#4867 Promote CRD field selectors to GA
  keps/prod-readiness/sig-api-machinery/4358.yaml
  keps/sig-api-machinery/4358-custom-resource-field-selectors/README.md
  keps/sig-api-machinery/4358-custom-resource-field-selectors/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4873 KEP-4438: update milestones
  keps/sig-node/4438-container-restart-termination/README.md
  keps/sig-node/4438-container-restart-termination/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4821 KEP-4420: Promote RetryGenerateName to GA in 1.32
  keps/prod-readiness/sig-api-machinery/4420.yaml
  keps/sig-api-machinery/4420-retry-generate-name/README.md
  keps/sig-api-machinery/4420-retry-generate-name/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4760 KEP-2862: Fine-grained Kubelet API Authorization
  keps/prod-readiness/sig-node/2862.yaml
  keps/sig-node/2862-fine-grained-kubelet-authz/README.md
  keps/sig-node/2862-fine-grained-kubelet-authz/kep.yaml
Labels: sig/auth, sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4805 KEP-4369: Promote to beta (allow ~all ASCII characters in env vars)
  keps/prod-readiness/sig-node/4369.yaml
  keps/sig-node/4369-allow-special-characters-environment-variable/README.md
  keps/sig-node/4369-allow-special-characters-environment-variable/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4881 KEP4368-Job managedBy - update latest-milestone
  keps/sig-apps/4368-support-managed-by-for-batch-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4879 feat: update kep 3288
  keps/sig-node/3288-separate-stdout-from-stderr/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4883 4205: retarget to 1.32
  keps/sig-node/4205-psi-metric/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4884 KEP-4427: Update status of KEP
  keps/sig-network/4427-relaxed-dns-search-validation/README.md
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4877 KEP-4247: Update criteria targeting to enable the QueueingHints by default
  keps/sig-scheduling/4247-queueinghint/README.md
  keps/sig-scheduling/4247-queueinghint/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4054 KEP 1659/2335: Correct typo from 'Kuberntes' to 'Kubernetes'
  keps/sig-api-machinery/2335-vanilla-crd-openapi-subset-structural-schemas/README.md
  keps/sig-architecture/1659-standard-topology-labels/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/architecture, size/XS, approved, kind/kep
