Repository kubernetes/enhancements, pull requests merged in 2024-04, with the labels that each got.

#4562 KEP-3331: update kep with beta implementation
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#4573 KEP 4006 : Update KEP to reflect current PortForward design
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/README.md
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/portforward-stream-translator-proxy.png
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4561 DRA: update structured parameters KEP to match API in 1.30
  keps/sig-node/4381-dra-structured-parameters/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/L, priority/important-soon, approved, kind/kep

#4557 KEP 4568: Resilient watchcache initialization
  keps/prod-readiness/sig-api-machinery/4568.yaml
  keps/sig-api-machinery/4568-resilient-watchcache-initialization/README.md
  keps/sig-api-machinery/4568-resilient-watchcache-initialization/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4592 KEP-4420: Promote retry generate name to beta
  keps/prod-readiness/sig-api-machinery/4420.yaml
  keps/sig-api-machinery/4420-retry-generate-name/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4593 KEP-4358: update CRD field selector KEP for beta promotion
  keps/prod-readiness/sig-api-machinery/4358.yaml
  keps/sig-api-machinery/4358-custom-resource-field-selectors/README.md
  keps/sig-api-machinery/4358-custom-resource-field-selectors/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4596 KEP-2799: update status to implemented
  keps/sig-auth/2799-reduction-of-secret-based-service-account-token/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
