Repository kubernetes/enhancements, pull requests merged in 2025-05, with the labels that each got.

#5273 SIG Autoscaling - Update leads alias
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5238 KEP-4815+5234: DRA Update 4815 and split out 5234 for mixins
  keps/prod-readiness/sig-scheduling/5234.yaml
  keps/sig-scheduling/4815-dra-partitionable-devices/README.md
  keps/sig-scheduling/5234-dra-resourceslice-mixins/README.md
  keps/sig-scheduling/5234-dra-resourceslice-mixins/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, wg/device-management

#5102 KEP-5000: API Linting and CRD Schema Change Validation Tooling
  keps/sig-api-machinery/5000-api-linting-crd-schema-tooling/README.md
  keps/sig-api-machinery/5000-api-linting-crd-schema-tooling/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#5244 KEP-5073: Declarative Validation: Explain subresources
  keps/sig-api-machinery/5073-declarative-validation-with-validation-gen/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#5200 KEP-1287: cleanup errors & add changes from implementation
  keps/sig-node/1287-in-place-update-pod-resources/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5286 feat: graduate QHint to stable
  keps/prod-readiness/sig-scheduling/4247.yaml
  keps/sig-scheduling/4247-queueinghint/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5242 KEP-5241: Beta Feature Gate Promotion Requirements
  keps/NNNN-kep-template/README.md
  keps/prod-readiness/sig-architecture/5241.yaml
  keps/sig-architecture/5241-beta-featuregate-promotion-requirements/README.md
  keps/sig-architecture/5241-beta-featuregate-promotion-requirements/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/architecture, size/L, approved, kind/kep, kind/template

#5298 KEP-4412: update kep with alpha implementation
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5310 fix: move KEP-3633 status to implemented
  keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5305 KEP-3331: update kep for GA in v1.34
  keps/prod-readiness/sig-auth/3331.yaml
  keps/sig-auth/3331-structured-authentication-configuration/README.md
  keps/sig-auth/3331-structured-authentication-configuration/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep, triage/accepted

#5321 KEP-4193: Mark as implemented
  keps/sig-auth/4193-bound-service-account-token-improvements/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5320 KEP-2644: Mark Always Honor PersistentVolume Reclaim Policy as implemented
  keps/sig-storage/2644-honor-pv-reclaim-policy/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5312 KEP-3094: Update the status to implemented
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5324 Move KEP-5116 to GA
  keps/prod-readiness/sig-api-machinery/5116.yaml
  keps/sig-api-machinery/5116-streaming-response-encoding/README.md
  keps/sig-api-machinery/5116-streaming-response-encoding/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5330 Graduate KEP-2340 to Stable
  keps/prod-readiness/sig-api-machinery/2340.yaml
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5250 KEP-3998: Update JobSuccessPolicy feature Status
  keps/sig-apps/3939-allow-replacement-when-fully-terminated/README.md
  keps/sig-apps/3998-job-success-completion-policy/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5337 KEP-1441: mark as implemented
  keps/sig-cli/1441-kubectl-debug/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#5277 KEP-5055: DRA: admin-controlled attributes and device taints in 1.33
  keps/sig-scheduling/5027-dra-admin-controlled-device-attributes/README.md
  keps/sig-scheduling/5027-dra-admin-controlled-device-attributes/kep.yaml
  keps/sig-scheduling/5055-dra-device-taints-and-tolerations/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5327 KEP-5018: move to beta in 1.34
  keps/prod-readiness/sig-auth/5018.yaml
  keps/sig-auth/5018-dra-adminaccess/README.md
  keps/sig-auth/5018-dra-adminaccess/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep, wg/device-management

#5348 Add link to 1.34 enhancements tracking board in readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved
