Repository kubernetes/enhancements, pull requests merged in 2025-04, with the labels that each got.

#5221 SIG Auth: Leadership Change
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5227 Drop the beta stage from the KEP readme
  keps/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5240 KEP-1860: mark as implemented
  keps/sig-network/1860-kube-proxy-IP-node-binding/README.md
  keps/sig-network/1860-kube-proxy-IP-node-binding/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5077 KEP template: enhance suggestions for integration and e2e tests
  keps/NNNN-kep-template/README.md
Labels: sig/testing, cncf-cla: yes, lgtm, size/S, approved, area/enhancements, kind/template

#5103 KEP template: update link to integration tests
  keps/NNNN-kep-template/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, kind/template

#5257 5018-update namespace label
  keps/sig-auth/5018-dra-adminaccess/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep, wg/device-management

#5256 SIG Scheduling: Leadership Change
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved
