Repository kubernetes/enhancements, pull requests merged in 2025-06, with the labels that each got.

#5345 Revert decision to return retry-after based on feedback
  keps/sig-api-machinery/2340-Consistent-reads-from-cache/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5357 Update README.md with content about priority base CLE
  keps/sig-api-machinery/4355-coordinated-leader-election/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5383 Update watch-list KEP for next Beta targeted 1.34
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5296 KEP-5295: KYAML
  keps/prod-readiness/sig-cli/5295.yaml
  keps/sig-cli/5295-kyaml/README.md
  keps/sig-cli/5295-kyaml/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XXL, approved, kind/kep

#5385 KEP-5073: Declarative Validation: fix listMapItem syntax to be aligned with named argument grammar
  keps/sig-api-machinery/5073-declarative-validation-with-validation-gen/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5364 KEP-4369: Promote to GA (allow ~all ASCII characters in env vars)
  keps/prod-readiness/sig-node/4369.yaml
  keps/sig-node/4369-allow-special-characters-environment-variable/README.md
  keps/sig-node/4369-allow-special-characters-environment-variable/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5376 KEP-3015: PreferSameZone/PreferSameNode to beta
  keps/prod-readiness/sig-network/3015.yaml
  keps/sig-network/3015-prefer-same-node/README.md
  keps/sig-network/3015-prefer-same-node/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5372 make a ffromani an approver for KEP 4800
  keps/sig-node/4800-cpumanager-split-uncorecache/OWNERS
  keps/sig-node/4800-cpumanager-split-uncorecache/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5316 KEP-4381: Define standard device attributes
  keps/sig-node/4381-dra-structured-parameters/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep, wg/device-management

#5024 KEP-3751: Update release signoff Checklist before GA
  keps/prod-readiness/sig-storage/3751.yaml
  keps/sig-storage/3751-volume-attributes-class/README.md
  keps/sig-storage/3751-volume-attributes-class/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4392 [1.34] promote KEP-3902 to stable
  keps/prod-readiness/sig-scheduling/3902.yaml
  keps/sig-scheduling/3902-decoupled-taint-manager/README.md
  keps/sig-scheduling/3902-decoupled-taint-manager/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5326 KEP-4601: Graduate authorize with selector to stable
  keps/prod-readiness/sig-auth/4601.yaml
  keps/sig-auth/4601-authorize-with-selectors/README.md
  keps/sig-auth/4601-authorize-with-selectors/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5251 [KEP-3962]Promote MAP to beta in 1.34
  keps/prod-readiness/sig-api-machinery/3962.yaml
  keps/sig-api-machinery/3962-mutating-admission-policies/README.md
  keps/sig-api-machinery/3962-mutating-admission-policies/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5396 KEP-5073: PRR update for v1.34
  keps/sig-api-machinery/5073-declarative-validation-with-validation-gen/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5410 KEP-4680 is targeting alpha for DRA in 1.34
  keps/sig-node/4680-add-resource-health-to-pod-status/README.md
  keps/sig-node/4680-add-resource-health-to-pod-status/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5397 [KEP 3960]: Promote PodLifecycleSleepAction to stable
  keps/sig-node/3960-pod-lifecycle-sleep-action/README.md
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5404 KEP 4818: Promote PodLifecycleSleepActionAllowZero to GA
  keps/prod-readiness/sig-node/4818.yaml
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/README.md
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5315 KEP-5311: Relaxed validation for Services names
  keps/prod-readiness/sig-network/5311.yaml
  keps/sig-network/5311-relaxed-validation-for-service-names/README.md
  keps/sig-network/5311-relaxed-validation-for-service-names/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5342 Update KEP-5007 DRA Device Binding Conditions
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/README.md
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/composable-resourceslice.png
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/kep.yaml
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/proposal.jpg
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test, wg/device-management

#5392 Update kubelet tracing to target stable in v1.34
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
  keps/sig-instrumentation/2831-kubelet-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5414 KEP-740: update to beta for 1.34
  keps/sig-auth/740-service-account-external-signing/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5353 Target GA for recover from Volume Expansion failure feature
  keps/prod-readiness/sig-storage/1790.yaml
  keps/sig-storage/1790-recover-resize-failure/README.md
  keps/sig-storage/1790-recover-resize-failure/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5415 kep-5018: Scalability update
  keps/sig-auth/5018-dra-adminaccess/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, wg/device-management

#5354 [KEP-4639] Image Volume: remove noexec option
  keps/sig-node/4639-oci-volume-source/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#5013 Update volume group snapshot KEP
  keps/sig-storage/3476-volume-group-snapshot/README.md
  keps/sig-storage/3476-volume-group-snapshot/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5374 KEP-4412: promote wi for image pulls to beta in v1.34
  keps/prod-readiness/sig-auth/4412.yaml
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/README.md
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#4768 KEP-4762: Allows setting any FQDN as the pod's hostname
  keps/prod-readiness/sig-network/4762.yaml
  keps/sig-network/4762-allow-arbitrary-fqdn-as-pod-hostname/README.md
  keps/sig-network/4762-allow-arbitrary-fqdn-as-pod-hostname/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#5300 KEP-3104: promote kuberc to beta
  keps/prod-readiness/sig-cli/3104.yaml
  keps/sig-cli/3104-introduce-kuberc/README.md
  keps/sig-cli/3104-introduce-kuberc/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/kep

#4811 KEP-4785: Resource State Metrics
  keps/prod-readiness/sig-instrumentation/4785.yaml
  keps/sig-instrumentation/4785-resource-state-metrics/README.md
  keps/sig-instrumentation/4785-resource-state-metrics/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#5228 KEP-961: Bump Statefulset MaxUnavailable to beta (built on top of #4474)
  keps/prod-readiness/sig-apps/961.yaml
  keps/sig-apps/961-maxunavailable-for-statefulset/README.md
  keps/sig-apps/961-maxunavailable-for-statefulset/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#5417 4639: bump to 1.34 and document noexec drop
  keps/sig-node/4639-oci-volume-source/README.md
  keps/sig-node/4639-oci-volume-source/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4911 KEP-4872: Harden Kubelet serving cert validation
  keps/prod-readiness/sig-auth/4872.yaml
  keps/sig-auth/4872-harden-kubelet-cert-validation/README.md
  keps/sig-auth/4872-harden-kubelet-cert-validation/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5266 KEP-1287: Priority of Resize Requests
  keps/sig-node/1287-in-place-update-pod-resources/README.md
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5377 KEP-5067: promote Pod Generation to beta
  keps/prod-readiness/sig-node/5067.yaml
  keps/sig-node/5067-pod-generation/README.md
  keps/sig-node/5067-pod-generation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#5249 KEP-5229: Asynchronous API calls during scheduling
  keps/prod-readiness/sig-scheduling/5229.yaml
  keps/sig-scheduling/5229-asynchronous-api-calls-during-scheduling/README.md
  keps/sig-scheduling/5229-asynchronous-api-calls-during-scheduling/kep.yaml
  keps/sig-scheduling/5229-asynchronous-api-calls-during-scheduling/proposal-A-separate-component.png
  keps/sig-scheduling/5229-asynchronous-api-calls-during-scheduling/proposal-B-cache.png
  keps/sig-scheduling/5229-asynchronous-api-calls-during-scheduling/proposal-C-cache-and-separate-component.png
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#5384 KEP-3721: Support for env files.
  keps/prod-readiness/sig-node/3721.yaml
  keps/sig-node/3721-support-for-env-files/README.md
  keps/sig-node/3721-support-for-env-files/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, kind/kep

#5370 KEP-4033: graduate to GA
  keps/prod-readiness/sig-node/4033.yaml
  keps/sig-node/4033-group-driver-detection-over-cri/README.md
  keps/sig-node/4033-group-driver-detection-over-cri/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#5386 Update KEP-4876 Mutable CSINode Allocatable for Beta
  keps/prod-readiness/sig-storage/4876.yaml
  keps/sig-storage/4876-mutable-csinode-allocatable/README.md
  keps/sig-storage/4876-mutable-csinode-allocatable/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#5390 KEP-4800: Promote prefer-align-cpus-by-uncorecache CPUManager feature to beta
  keps/prod-readiness/sig-node/4800.yaml
  keps/sig-node/4800-cpumanager-split-uncorecache/README.md
  keps/sig-node/4800-cpumanager-split-uncorecache/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#5331 KEP-5325: HPA - Improve pod selection accuracy across workload types
  keps/prod-readiness/sig-autoscaling/5325.yaml
  keps/sig-autoscaling/5325-hpa-pod-selection-accuracy/README.md
  keps/sig-autoscaling/5325-hpa-pod-selection-accuracy/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, kind/kep

#5205 KEP-3243: Update milestone v1.33 to v1.34 and add the new feature gate to control the design change of TopologySpreadConstraint's matchLabelKeys
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/README.md
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5340 KEP 1287: Instrumentation for in-place pod resize
  keps/sig-node/1287-in-place-update-pod-resources/README.md
  keps/sig-node/1287-in-place-update-pod-resources/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5308 KEP-5307 Initial KEP for container restart exceptions
  keps/prod-readiness/sig-node/5307.yaml
  keps/sig-node/5307-container-restart-policy/README.md
  keps/sig-node/5307-container-restart-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test

#5375 [KEP-5365] ImageVolume with an image digest
  keps/prod-readiness/sig-node/5365.yaml
  keps/sig-node/5365-ImageVolume-with-image-digest/README.md
  keps/sig-node/5365-ImageVolume-with-image-digest/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#5253 KEP-4603: fix KEP number in README
  keps/sig-node/4603-tune-crashloopbackoff/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#5395 KEP-5394: PSI-based node conditions
  keps/prod-readiness/sig-node/5394.yaml
  keps/sig-node/5394-psi-node-conditions/README.md
  keps/sig-node/5394-psi-node-conditions/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#5378 update sig-etcd leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/etcd

#5261 KEP-4816 update for beta in 1.34
  keps/prod-readiness/sig-scheduling/4816.yaml
  keps/sig-scheduling/4816-dra-prioritized-list/README.md
  keps/sig-scheduling/4816-dra-prioritized-list/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep, wg/device-management

#5427 KEP-4205: add blurb about PSI performance on top of https://github.com/kubernetes/enhancements/pull/5409
  keps/sig-node/4205-psi-metric/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5423 Adding Alpha criteria for KEP to support IPPR & Pod Level Resources
  keps/prod-readiness/sig-node/5419.yaml
  keps/sig-node/5419-pod-level-resources-in-place-resize/README.md
  keps/sig-node/5419-pod-level-resources-in-place-resize/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#5431 KEP-4412: add adopters
  keps/sig-auth/4412-projected-service-account-tokens-for-kubelet-image-credential-providers/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5432 KEP-5419: Add non-goals, and risks and mitigations
  keps/sig-node/5419-pod-level-resources-in-place-resize/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep
