Repository kubernetes/enhancements, pull requests merged in 2025-10, with the labels that each got.

#5570 Update SIG-Autoscaling TL to adrianmoisey
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5592 KEP 4192: Change milestones to reflect new work being done in 1.35
  keps/sig-api-machinery/4192-svm-in-tree/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5600 KEP-1441: Drop auto profile
  keps/sig-cli/1441-kubectl-debug/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#5567 KEP-3015: update PreferSame* TrafficDistribution to GA
  keps/prod-readiness/sig-network/3015.yaml
  keps/sig-network/3015-prefer-same-node/README.md
  keps/sig-network/3015-prefer-same-node/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5610 Rotate SIG K8s Infra leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5603 KEP-127: retarget beta to 1.35 and include PSA updates there
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5622 KEP-4381: DRA: structured parameters update for 1.35
  keps/sig-node/4381-dra-structured-parameters/README.md
  keps/sig-node/4381-dra-structured-parameters/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5581 KEP-3939: Update Job Pod Replacemenet Policy KEP status to implemented
  keps/sig-apps/3939-allow-replacement-when-fully-terminated/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5590 KEP-5589: Initial draft for gogo protobuf removal
  keps/prod-readiness/sig-api-machinery/5589.yaml
  keps/sig-api-machinery/5589-gogo-dependency/README.md
  keps/sig-api-machinery/5589-gogo-dependency/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, sig/architecture, size/XL, approved, kind/kep

#5450 [KEP-4639] Graduate image volumes to GA
  keps/prod-readiness/sig-node/4639.yaml
  keps/sig-node/4639-oci-volume-source/README.md
  keps/sig-node/4639-oci-volume-source/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/design, kind/kep

#5572 KEP-3104: Add kubectl kuberc command section
  keps/sig-cli/3104-introduce-kuberc/README.md
  keps/sig-cli/3104-introduce-kuberc/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, tide/merge-method-squash, kind/kep

#5524 KEP-4006: Updated KEP for 1.35
  keps/prod-readiness/sig-api-machinery/4006.yaml
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/README.md
  keps/sig-api-machinery/4006-transition-spdy-to-websockets/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep, lead-opted-in

#5596 KEP-4192: update the KEP to describe the currently implemented behavior
  keps/sig-api-machinery/4192-svm-in-tree/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5558 KEP-4671 : Gang Scheduling
  keps/prod-readiness/sig-scheduling/4671.yaml
  keps/sig-scheduling/4671-gang-scheduling/README.md
  keps/sig-scheduling/4671-gang-scheduling/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep
