Repository kubernetes/enhancements, pull requests merged in 2025-07, with the labels that each got.

#5336 KEP-4680: Update DRA implementation details
  keps/sig-node/4680-add-resource-health-to-pod-status/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5434 [KEP-2400] GA KEP update
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5451 KEP-5295: Fix the typo from kayml to kyaml
  keps/sig-cli/5295-kyaml/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#5458 Update KEP milestone
  keps/sig-autoscaling/5325-hpa-pod-selection-accuracy/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
