Repository kubernetes/enhancements, pull requests merged in 2025-09, with the labels that each got.

#5272 githooks: run all checks in pre-commit hook
  .githooks/pre-commit
Labels: cncf-cla: yes, lgtm, size/S, approved, lifecycle/rotten, area/enhancements

#5540 Mark 3515 as implemented
  keps/sig-cli/3515-kubectl-explain-openapiv3/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/XS, approved, kind/kep

#5534 Mark KEP-3902 as implemented
  keps/sig-scheduling/3902-decoupled-taint-manager/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5544 Mark 3960 implemented
  keps/sig-node/3960-pod-lifecycle-sleep-action/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5546 KEP-4427: Move to implemented
  keps/sig-network/4427-relaxed-dns-search-validation/README.md
  keps/sig-network/4427-relaxed-dns-search-validation/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5536 Update graceful leader transition KEP to 1.35
  keps/sig-api-machinery/5366-graceful-leader-transition/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5539 KEP-4601 / KEP-4633: Mark completed 1.34 sig-auth features as implemented
  keps/sig-auth/4601-authorize-with-selectors/kep.yaml
  keps/sig-auth/4633-anonymous-auth-configurable-endpoints/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5525 KEP-5495: Deprecate IPVS mode in kube-proxy
  keps/prod-readiness/sig-network/5495.yaml
  keps/sig-network/5495-deprecate-ipvs-mode-in-kube-proxy/README.md
  keps/sig-network/5495-deprecate-ipvs-mode-in-kube-proxy/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5577 update flag name fail-cgroupv1 for kep 4569
  keps/sig-node/4569-cgroup-v1-maintenance-mode/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5513 Update KEP 3157 (watch-list) for milestone 1.35
  keps/sig-api-machinery/3157-watch-list/README.md
  keps/sig-api-machinery/3157-watch-list/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5472 KEP-4192: Update beta requirements
  keps/sig-api-machinery/4192-svm-in-tree/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep
