Repository kubernetes/enhancements, pull requests merged in 2025-02, with the labels that each got.

#5125 KEP-3243: Update milestone
  keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5121 3503: Withdraw Windows hostnetwork support
  keps/sig-windows/3503-host-network-support-for-windows-pods/README.md
  keps/sig-windows/3503-host-network-support-for-windows-pods/kep.yaml
Labels: sig/network, sig/node, sig/windows, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5098 KEP-4438: update milestones
  keps/sig-node/4438-container-restart-termination/README.md
  keps/sig-node/4438-container-restart-termination/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5120 KEP-4265: move to on by default beta
  keps/sig-node/4265-proc-mount/README.md
  keps/sig-node/4265-proc-mount/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5072 Memory Manager is GA now
  keps/sig-node/1769-memory-manager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5118 KEP-127: update beta to be on by default
  keps/sig-node/127-user-namespaces/README.md
  keps/sig-node/127-user-namespaces/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4952 KEP-3545: mark as implemented
  keps/sig-node/3545-improved-multi-numa-alignment/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4959 KEP-1769:memorymanager: mark stable as implemented
  keps/sig-node/1769-memory-manager/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#4966 kep-3983: revise beta requirements
  keps/sig-node/3983-drop-in-configuration/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4995 KEP-3288: correct the feature gate's name
  keps/sig-node/3288-separate-stdout-from-stderr/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5045 KEP-4427: Relaxed DNS search validation to beta
  keps/prod-readiness/sig-network/4427.yaml
  keps/sig-network/4427-relaxed-dns-search-validation/README.md
  keps/sig-network/4427-relaxed-dns-search-validation/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5039 KEP-5040: Remove gitRepo volume driver.
  keps/prod-readiness/sig-storage/5040.yaml
  keps/sig-storage/5040-remove-gitrepo-driver/README.md
  keps/sig-storage/5040-remove-gitrepo-driver/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test, lead-opted-in

#5081 KEP 753: SidecarContainers is GA
  keps/prod-readiness/sig-node/753.yaml
  keps/sig-node/753-sidecar-containers/README.md
  keps/sig-node/753-sidecar-containers/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5129 kep-3331: adding GA graduation criteria (integrations)
  keps/sig-auth/3331-structured-authentication-configuration/README.md
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5038 KEP-4330: Change API availability to forward compatibility
  keps/sig-architecture/4330-compatibility-versions/README.md
Labels: cncf-cla: yes, lgtm, sig/architecture, size/M, approved, kind/kep

#5130 KEP-740: update KEP latest milestone to v1.33
  keps/sig-auth/740-service-account-external-signing/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5115 KEP-2535: document writes during MustAttemptImagePull()
  keps/sig-node/2535-ensure-secret-pulled-images/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5111 4205: bump to 1.33
  keps/prod-readiness/sig-node/4205.yaml
  keps/sig-node/4205-psi-metric/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5095 [KEP 5080]Ordered Namespace Deletion
  keps/prod-readiness/sig-api-machinery/5080.yaml
  keps/sig-api-machinery/5080-ordered-namespace-deletion/README.md
  keps/sig-api-machinery/5080-ordered-namespace-deletion/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#5135 KEP-647: update stable milestone to 1.33
  keps/sig-instrumentation/647-apiserver-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5133 KEP-3314: Update alpha target and latest-milestone for 1.33
  keps/sig-storage/3314-csi-changed-block-tracking/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/XS, approved, kind/kep, ok-to-test

#5082 KEP-4008: Promote CRD Ratcheting to GA
  keps/prod-readiness/sig-api-machinery/4008.yaml
  keps/sig-api-machinery/4008-crd-ratcheting/README.md
  keps/sig-api-machinery/4008-crd-ratcheting/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5143 KEP-3926: update KEP latest milestone to v1.33 as implementable
  keps/sig-auth/3926-handling-undecryptable-resources/kep.yaml
Labels: sig/auth, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5020 KEP-127 (UserNS): allow customizing subids length
  keps/sig-node/127-user-namespaces/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5150 bump the release for Add Resource Health Status to the Pod Status for Device Plugin and DRA
  keps/sig-node/4680-add-resource-health-to-pod-status/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5155 KEP-4205: Update PSI KEP for 1.33
  keps/sig-node/4205-psi-metric/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5117 KEP-2902: Promote CPUManager policy option to distribute CPUs across NUMA nodes to Beta
  keps/prod-readiness/sig-node/2902.yaml
  keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/README.md
  keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5154 KEP3850: graduate Backoff Limit Per Index for Job to stable
  keps/prod-readiness/sig-apps/3850.yaml
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/README.md
  keps/sig-apps/3850-backoff-limits-per-index-for-indexed-jobs/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#5127 kep-4832: promote to beta
  keps/prod-readiness/sig-scheduling/4832.yaml
  keps/sig-scheduling/4832-async-preemption/README.md
  keps/sig-scheduling/4832-async-preemption/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5148 KEP-3998: Graduate JobSuccessPolicy to GA
  keps/prod-readiness/sig-apps/3998.yaml
  keps/sig-apps/3998-job-success-completion-policy/README.md
  keps/sig-apps/3998-job-success-completion-policy/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, kind/kep

#5156 KEP-3659: ApplySet. Update KEP to reflect the current state of the feature.
  keps/sig-cli/3659-kubectl-apply-prune/README.md
Labels: cncf-cla: yes, lgtm, sig/cli, size/M, approved, kind/kep

#4870 KEP 3157 (watch-list): new GA criterion for supporting AcceptContentType=application/json;as=Table
  keps/sig-api-machinery/3157-watch-list/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5047 Update KEP 3157 (watch-list) for milestone 1.33
  keps/sig-api-machinery/3157-watch-list/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5044 KEP-3866 nftables kube-proxy to GA
  keps/prod-readiness/sig-network/3866.yaml
  keps/sig-network/3866-nftables-proxy/README.md
  keps/sig-network/3866-nftables-proxy/iptables-vs-nftables.svg
  keps/sig-network/3866-nftables-proxy/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5071 KEP4004: Promote the feature to the disabled stage
  keps/prod-readiness/sig-network/4004.yaml
  keps/sig-network/4004-deprecate-kube-proxy-version/README.md
  keps/sig-network/4004-deprecate-kube-proxy-version/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5009 KEP-5008: Introduce Kubernetes Desktop
  keps/sig-ui/5008-kep-template/README.md
  keps/sig-ui/5008-kep-template/kep.yaml
  keps/sig-ui/OWNERS
Labels: cncf-cla: yes, lgtm, size/XL, approved, kind/kep, ok-to-test

#5159 KEP-647: update apiserver tracing to the latest template
  keps/sig-instrumentation/647-apiserver-tracing/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#4975 KEP-4974: initial proposal for deprecating v1.Endpoints
  keps/prod-readiness/sig-network/4974.yaml
  keps/sig-network/4974-deprecate-endpoints/README.md
  keps/sig-network/4974-deprecate-endpoints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#5151 KEP-2433: Graduate Topology Aware Hints with only the Hints field to GA
  keps/prod-readiness/sig-network/2433.yaml
  keps/sig-network/2433-topology-aware-hints/README.md
  keps/sig-network/2433-topology-aware-hints/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5161 Update kep.yaml for KEP-4832
  keps/sig-scheduling/4832-async-preemption/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5096 1710: selinux: Update the KEP for 1.33 and graduate to Beta
  keps/prod-readiness/sig-storage/1710.yaml
  keps/sig-storage/1710-selinux-relabeling/README.md
  keps/sig-storage/1710-selinux-relabeling/kep.yaml
Labels: sig/storage, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5108 KEP-2625: Promote the CPUManager Policy Option `full-pcpus-only` to GA
  keps/prod-readiness/sig-node/2625.yaml
  keps/sig-node/2625-cpumanager-policies-thread-placement/README.md
  keps/sig-node/2625-cpumanager-policies-thread-placement/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5160 KEP-4381: Update GA graduation criteria
  keps/sig-node/4381-dra-structured-parameters/README.md
  keps/sig-node/4381-dra-structured-parameters/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep

#5079 KEP 2590: Graduate kubectl subresource to GA
  keps/prod-readiness/sig-cli/2590.yaml
  keps/sig-cli/2590-kubectl-subresource/README.md
  keps/sig-cli/2590-kubectl-subresource/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/L, approved, kind/kep

#5139 KEP 4818: Promote zero value for Pod Lifecycle Sleep action to beta
  keps/prod-readiness/sig-node/4818.yaml
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/README.md
  keps/sig-node/4818-allow-zero-value-for-sleep-action-of-prestop-hook/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5152 KEP-4444: Graduate trafficDistribution:PreferClose to GA
  keps/prod-readiness/sig-network/4444.yaml
  keps/sig-network/4444-service-traffic-distribution/README.md
  keps/sig-network/4444-service-traffic-distribution/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5128 KEP-4540: Move to beta
  keps/prod-readiness/sig-node/4540.yaml
  keps/sig-node/4540-strict-cpu-reservation/README.md
  keps/sig-node/4540-strict-cpu-reservation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#5043 KEP-4817: Add beta graduation criteria + implementation history
  keps/prod-readiness/sig-node/4817.yaml
  keps/sig-node/4817-resource-claim-device-status/README.md
  keps/sig-node/4817-resource-claim-device-status/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/S, approved, kind/kep, wg/device-management

#4899 KEP-4858: IP/CIDR Validation Improvements
  keps/prod-readiness/sig-network/4858.yaml
  keps/sig-network/4858-ip-cidr-validation/README.md
  keps/sig-network/4858-ip-cidr-validation/kep.yaml
Labels: sig/network, cncf-cla: yes, lgtm, size/XL, approved, kind/kep

#4895 KEP-3619: updated Production Readiness Review Questionnaire for beta release
  keps/prod-readiness/sig-node/3619.yaml
  keps/sig-node/3619-supplemental-groups-policy/README.md
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5164 KEP-4603: Track latest milestone as 1.33
  keps/sig-node/4603-tune-crashloopbackoff/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5019 KEP-5018: DRA: AdminAccess for ResourceClaims and ResourceClaimTemplates
  keps/prod-readiness/sig-auth/5018.yaml
  keps/sig-auth/5018-dra-adminaccess/README.md
  keps/sig-auth/5018-dra-adminaccess/kep.yaml
  keps/sig-node/4381-dra-structured-parameters/README.md
  keps/sig-node/4381-dra-structured-parameters/kep.yaml
Labels: sig/auth, sig/node, cncf-cla: yes, lgtm, size/XL, approved, kind/kep, api-review, wg/device-management

#5162 KEP 2590: metadata update
  keps/sig-cli/2590-kubectl-subresource/kep.yaml
Labels: cncf-cla: yes, lgtm, sig/cli, size/S, approved, kind/kep

#5144 KEP-5142: Pop pod from backoffQ when activeQ is empty
  keps/prod-readiness/sig-scheduling/5142.yaml
  keps/sig-scheduling/5142-pop-backoffq-when-activeq-empty/README.md
  keps/sig-scheduling/5142-pop-backoffq-when-activeq-empty/kep.yaml
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5138 KEP-4471: document graduation to beta
  keps/sig-cluster-lifecycle/kubeadm/4471-cp-join-kubelet-local-apiserver/README.md
  keps/sig-cluster-lifecycle/kubeadm/4471-cp-join-kubelet-local-apiserver/kep.yaml
Labels: sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5066 KEP-4815 DRA Partitionable devices design update
  keps/prod-readiness/sig-scheduling/4815.yaml
  keps/sig-node/4815-dra-partitionable-devices/README.md
  keps/sig-scheduling/4815-dra-partitionable-devices/README.md
  keps/sig-scheduling/4815-dra-partitionable-devices/kep.yaml
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, wg/device-management

#5094 KEP-4951: Fill PRR questionnaire
  keps/prod-readiness/sig-autoscaling/4951.yaml
  keps/sig-autoscaling/4951-configurable-hpa-tolerance/README.md
  keps/sig-autoscaling/4951-configurable-hpa-tolerance/kep.yaml
Labels: sig/autoscaling, cncf-cla: yes, lgtm, size/M, approved, kind/kep, ok-to-test

#5034 KEP-5027 + 5055: DRA: admin-controlled device attributes + taints
  keps/prod-readiness/sig-scheduling/5027.yaml
  keps/prod-readiness/sig-scheduling/5055.yaml
  keps/sig-scheduling/5027-dra-admin-controlled-device-attributes/README.md
  keps/sig-scheduling/5027-dra-admin-controlled-device-attributes/kep.yaml
  keps/sig-scheduling/5055-dra-device-taints-and-tolerations/README.md
  keps/sig-scheduling/5055-dra-device-taints-and-tolerations/kep.yaml
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, wg/device-management

#5110 KEP-4800: Split Uncore Cache Toplogy Awareness Alignment
  keps/sig-node/4800-cpumanager-split-uncorecache/README.md
  keps/sig-node/4800-cpumanager-split-uncorecache/images/C1-2cpus_C2-8cpus.png
  keps/sig-node/4800-cpumanager-split-uncorecache/images/full_uncore_example.png
  keps/sig-node/4800-cpumanager-split-uncorecache/images/logic_flow.png
  keps/sig-node/4800-cpumanager-split-uncorecache/images/monolithic_split_cache.png
  keps/sig-node/4800-cpumanager-split-uncorecache/images/partial_uncore.png
  keps/sig-node/4800-cpumanager-split-uncorecache/kep.yaml
Labels: sig/node, sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#5165 KEP-3619: update latest-milestone to v1.33
  keps/sig-node/3619-supplemental-groups-policy/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5112 5100: Adding retroactive KEP for WinDSR and WinOverlay
  keps/prod-readiness/sig-windows/5100.yaml
  keps/sig-windows/5100-windows-dsr-and-overlay-support/README.md
  keps/sig-windows/5100-windows-dsr-and-overlay-support/kep.yaml
Labels: sig/network, sig/windows, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#5157 KEP-3857: Recursive Read-only (RRO) mounts: promote to GA
  keps/prod-readiness/sig-node/3857.yaml
  keps/sig-node/3857-rro-mounts/README.md
  keps/sig-node/3857-rro-mounts/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5012 KEP-5007: DRA Device Binding Conditions
  keps/prod-readiness/sig-scheduling/5007.yaml
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/README.md
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/composable-resourceslice.png
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/kep.yaml
  keps/sig-scheduling/5007-device-attach-before-pod-scheduled/proposal.jpg
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep, ok-to-test, wg/device-management

#4897 KEP-4639: update to most recent implementation state and graduate to beta
  keps/prod-readiness/sig-node/4639.yaml
  keps/sig-node/4639-oci-volume-source/README.md
  keps/sig-node/4639-oci-volume-source/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5068 KEP 5067: Pod Generation KEP creation
  keps/prod-readiness/sig-node/5067.yaml
  keps/sig-node/5067-pod-generation/README.md
  keps/sig-node/5067-pod-generation/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XXL, approved, kind/kep

#4938 [cleanup] update KEP-3673 status: e2e added in v1.32 for beta
  keps/sig-node/3673-kubelet-parallel-image-pull-limit/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4932 KEP-753: SidecarContainers update oom score adj logic
  keps/sig-node/753-sidecar-containers/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5134 KEP-2831: update kubelet tracing KEP to target GA in 1.33
  keps/prod-readiness/sig-instrumentation/2831.yaml
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
  keps/sig-instrumentation/2831-kubelet-tracing/kep.yaml
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, kind/kep

#5163 KEP-2589: Update KEP README
  keps/sig-storage/2589-csi-migration-portworx/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/L, approved, kind/kep, ok-to-test

#5168 KEP-3939: Job Pod Replacement Policy; promote to GA
  keps/prod-readiness/sig-apps/3939.yaml
  keps/sig-apps/3939-allow-replacement-when-fully-terminated/README.md
  keps/sig-apps/3939-allow-replacement-when-fully-terminated/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5132 KEP-4049: Update KEP readme
  keps/sig-storage/4049-storage-capacity-scoring-of-nodes-for-dynamic-provisioning/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#5069 KEP-4815 DRA Partitionable devices support for multi-host
  keps/sig-scheduling/4815-dra-partitionable-devices/README.md
  keps/sig-scheduling/4815-dra-partitionable-devices/tpu-topology.png
Labels: sig/node, sig/scheduling, cncf-cla: yes, lgtm, size/L, approved, kind/kep, wg/device-management

#5145 KEP-2837: PodLevelResources changes for 1.33 alpha stage
  keps/sig-node/2837-pod-level-resource-spec/README.md
  keps/sig-node/2837-pod-level-resource-spec/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5088 Coordinated Leader Election to Beta
  keps/prod-readiness/sig-api-machinery/4355.yaml
  keps/sig-api-machinery/4355-coordinated-leader-election/README.md
  keps/sig-api-machinery/4355-coordinated-leader-election/kep.yaml
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep, lead-opted-in

#5169 KEP-2589: Update Troubleshooting section in README
  keps/sig-storage/2589-csi-migration-portworx/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep, ok-to-test

#5170 KEP-2831: update kubelet tracing to the latest template
  keps/sig-instrumentation/2831-kubelet-tracing/README.md
Labels: sig/instrumentation, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#4701 [KEP-2400] swap updates, beta3 graduation and GA criterias
  keps/sig-node/2400-node-swap/README.md
  keps/sig-node/2400-node-swap/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5146 KEP-4724: support node topologies in downward API
  keps/prod-readiness/sig-node/4742.yaml
  keps/sig-node/4742-node-topology-downward-api/README.md
  keps/sig-node/4742-node-topology-downward-api/kep.yaml
Labels: sig/node, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5172 Update KEP-3094
  keps/sig-scheduling/3094-pod-topology-spread-considering-taints/README.md
Labels: sig/scheduling, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5171 KEP-5073: add Release Signoff Checklist section
  keps/sig-api-machinery/5073-declarative-validation-with-validation-gen/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/L, approved, kind/kep

#5173 KEP 2185: make KEP implemented
  keps/sig-apps/2185-random-pod-select-on-replicaset-downscale/kep.yaml
Labels: sig/apps, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5175 Fix template and fill checklist KEP-4988
  keps/sig-api-machinery/4988-snapshottable-api-server-cache/README.md
Labels: sig/api-machinery, cncf-cla: yes, lgtm, size/M, approved, kind/kep

#5174 KEP-2400: update release checklist to latest template
  keps/sig-node/2400-node-swap/README.md
Labels: sig/node, cncf-cla: yes, lgtm, size/XS, approved, kind/kep

#5177 [KEP-2644] update e2e link and checklist
  keps/sig-storage/2644-honor-pv-reclaim-policy/README.md
Labels: sig/storage, cncf-cla: yes, lgtm, size/S, approved, kind/kep
